flows.json
[{"id":"363f3bc3.b66854","type":"tab","label":"Timers","disabled":false,"info":""},{"id":"e3d5be61.6eb31","type":"tab","label":"Alexa | Receiver","disabled":false,"info":""},{"id":"7538960a.bfe8b8","type":"tab","label":"Alexa | Smart Home","disabled":false,"info":""},{"id":"2e6c95b0.7d882a","type":"tab","label":"Receiver Testing","disabled":true,"info":""},{"id":"b2b93b99.7d4fa8","type":"tab","label":"Alexa Example","disabled":true,"info":""},{"id":"2bdddf42.6aab3","type":"tab","label":"Hoplite Automation","disabled":false,"info":""},{"id":"997b60db.958c4","type":"tab","label":"Light Automations","disabled":false,"info":""},{"id":"9e741141.8a528","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"6b041d7.60aaee4","type":"subflow","name":"Blink Hoplite Yellow","info":"","category":"","in":[{"x":340,"y":500,"wires":[{"id":"3fe22012.3dcec"}]}],"out":[{"x":780,"y":620,"wires":[{"id":"ecec5b7c.ee3a68","port":0}]}]},{"id":"64f3502b.1d232","type":"subflow","name":"Blink Hoplite Green","info":"","category":"","in":[{"x":440,"y":280,"wires":[{"id":"c827ee7d.c3346"}]}],"out":[{"x":900,"y":400,"wires":[{"id":"33728d18.352492","port":0}]}]},{"id":"a117d285.11d84","type":"server","z":"","name":"Home Assistant","url":"https://ha.iicky.duckdns.org","pass":"daisy!12"},{"id":"8a0c2cc0.358c6","type":"alexa-home-conf","z":"","username":"mpscherrer"},{"id":"44deb46d.8fe2ec","type":"mqtt-broker","z":"","name":"mosquitto","broker":"192.168.1.118","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7a827f49.d566f","type":"mqtt-broker","z":"9e741141.8a528","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":"","willTopic":"","willQos":"0","willRetain":null,"willPayload":""},{"id":"80d25265.805b1","type":"api-call-service","z":"363f3bc3.b66854","name":"Dohm On","server":"a117d285.11d84","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.dohm\"}","mergecontext":"","x":460,"y":260,"wires":[["cf211fc.d995fe"]]},{"id":"e87da622.4e07b8","type":"api-call-service","z":"363f3bc3.b66854","name":"Dohm Off","server":"a117d285.11d84","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.dohm\"}","mergecontext":"","x":460,"y":340,"wires":[["cf211fc.d995fe"]]},{"id":"54d27734.1ba1c8","type":"switch","z":"363f3bc3.b66854","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":300,"wires":[["80d25265.805b1"],["e87da622.4e07b8"]]},{"id":"4cdee630.1592f8","type":"inject","z":"363f3bc3.b66854","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["54d27734.1ba1c8"]]},{"id":"cf211fc.d995fe","type":"debug","z":"363f3bc3.b66854","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":300,"wires":[]},{"id":"b4412807.67a188","type":"inject","z":"363f3bc3.b66854","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["54d27734.1ba1c8"]]},{"id":"ad33ee0d.d6809","type":"http in","z":"b2b93b99.7d4fa8","name":"/alexa2","url":"/alexa2","method":"post","upload":false,"swaggerDoc":"","x":70,"y":340,"wires":[["26f0fed9.8fbf82","4b6fb967.3a7138"]]},{"id":"84197aa9.aaa318","type":"function","z":"b2b93b99.7d4fa8","name":"Extract Message","func":"var message = \"\";\nif (msg.payload.request.intent && msg.payload.request.intent.slots)\n    message = msg.payload.request.intent.slots.Text.value\n\nmsg.text = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":500,"wires":[["9fd0bf33.be25f"]]},{"id":"855c84b3.7ae088","type":"switch","z":"b2b93b99.7d4fa8","name":"","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":210,"y":500,"wires":[["ea7ea628.d89968"],["84197aa9.aaa318"],["8040f703.215148"],["8040f703.215148"]]},{"id":"8040f703.215148","type":"function","z":"b2b93b99.7d4fa8","name":"End Session Message","func":"msg.payload = {\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> Thank you for using Chatbot and have a nice day! </speak>\"\n    },\n    \"shouldEndSession\": true\n  },\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":560,"wires":[["65001c95.db7664"]]},{"id":"ea7ea628.d89968","type":"function","z":"b2b93b99.7d4fa8","name":"Start Session Message","func":"msg.payload = {\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"SSML\",\n            \"ssml\": \"<speak> Hi. Welcome to the Chatbot! </speak>\"\n        },\n        \"shouldEndSession\": false\n    },\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":440,"wires":[["65001c95.db7664"]]},{"id":"26f0fed9.8fbf82","type":"function","z":"b2b93b99.7d4fa8","name":"Extract User","func":"msg.userId = msg.payload.session.user.userId;\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":440,"wires":[["855c84b3.7ae088","4b6fb967.3a7138"]]},{"id":"65001c95.db7664","type":"http response","z":"b2b93b99.7d4fa8","name":"","statusCode":"","headers":{},"x":1150,"y":500,"wires":[]},{"id":"6ad587a4.44bbb8","type":"function","z":"b2b93b99.7d4fa8","name":"Parse Message To Alexa","func":"msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> \"  + msg.text + \" </speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak> \"  + msg.text + \" </speak>\"\n      }\n    },\n    \"shouldEndSession\": false\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":500,"wires":[["65001c95.db7664"]]},{"id":"9fd0bf33.be25f","type":"function","z":"b2b93b99.7d4fa8","name":"Do Something","func":"\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":500,"wires":[["6ad587a4.44bbb8"]]},{"id":"4b6fb967.3a7138","type":"debug","z":"b2b93b99.7d4fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":320,"wires":[]},{"id":"f9955b82.7e2b88","type":"schedex","z":"363f3bc3.b66854","name":"Timer","suspended":false,"lat":"40.791","lon":"-73.9256","ontime":"22:00","ontopic":"payload","onpayload":"ON","onoffset":0,"onrandomoffset":0,"offtime":"7:30","offtopic":"payload","offpayload":"OFF","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":130,"y":320,"wires":[["54d27734.1ba1c8"]]},{"id":"2b041670.11152a","type":"comment","z":"363f3bc3.b66854","name":"Dohm Timer","info":"","x":130,"y":140,"wires":[]},{"id":"f8ea6fa7.56e3","type":"api-call-service","z":"363f3bc3.b66854","name":"Petcube On","server":"a117d285.11d84","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.petcube\"}","mergecontext":"","x":470,"y":600,"wires":[["21d2a8ee.3b3d58"]]},{"id":"ee547ffa.9fe78","type":"api-call-service","z":"363f3bc3.b66854","name":"Petcube Off","server":"a117d285.11d84","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.petcube\"}","mergecontext":"","x":470,"y":680,"wires":[["21d2a8ee.3b3d58"]]},{"id":"9f2e46b7.353798","type":"switch","z":"363f3bc3.b66854","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":640,"wires":[["f8ea6fa7.56e3"],["ee547ffa.9fe78"]]},{"id":"4a88ac4b.7d94a4","type":"inject","z":"363f3bc3.b66854","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":520,"wires":[["9f2e46b7.353798"]]},{"id":"21d2a8ee.3b3d58","type":"debug","z":"363f3bc3.b66854","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":640,"wires":[]},{"id":"c47689b8.9598c8","type":"inject","z":"363f3bc3.b66854","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":580,"wires":[["9f2e46b7.353798"]]},{"id":"a182130.33b37f","type":"schedex","z":"363f3bc3.b66854","name":"Timer","suspended":false,"lat":"40.791","lon":"-73.9256","ontime":"8:30","ontopic":"payload","onpayload":"ON","onoffset":0,"onrandomoffset":0,"offtime":"22:00","offtopic":"payload","offpayload":"OFF","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":130,"y":660,"wires":[["9f2e46b7.353798"]]},{"id":"84f6f37e.8d52a","type":"comment","z":"363f3bc3.b66854","name":"Petcube Timer","info":"","x":140,"y":480,"wires":[]},{"id":"85290d16.ec23","type":"http in","z":"e3d5be61.6eb31","name":"/receiver","url":"/receiver","method":"post","upload":false,"swaggerDoc":"","x":160,"y":260,"wires":[["4e07606a.597f3","d413c3a0.ccd2e"]]},{"id":"a7cccca6.7c61e","type":"function","z":"e3d5be61.6eb31","name":"Extract Request","func":"var message = \"\";\nif (\n    msg.payload.request.intent && \n    msg.payload.request.intent.slots)\n    message = msg.payload.request.intent.slots.Text.value\n\nmsg.text = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":340,"wires":[[]]},{"id":"4634e6bc.8254b8","type":"switch","z":"e3d5be61.6eb31","name":"Request","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":460,"y":260,"wires":[["842a3bb7.aaf108"],["7e7cb269.9a1cac"],["28db4b5d.5559a4"],["290b8f41.ae30e"]]},{"id":"4e07606a.597f3","type":"function","z":"e3d5be61.6eb31","name":"Extract User","func":"msg.userId = msg.payload.session.user.userId;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["4634e6bc.8254b8"]]},{"id":"e57d57c7.77c2c8","type":"debug","z":"e3d5be61.6eb31","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":160,"wires":[]},{"id":"7e7cb269.9a1cac","type":"switch","z":"e3d5be61.6eb31","name":"Intent Switch","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"ReceiverPowerStatusIntent","vt":"str"},{"t":"eq","v":"ReceiverSourceStatusIntent","vt":"str"},{"t":"eq","v":"ReceiverSetSourceIntent","vt":"str"},{"t":"eq","v":"ReceiverSetVolumeIntent","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":130,"y":460,"wires":[["fca45d2c.74de4"],["877d0c62.b88f4"],["be335484.4775f8"],["5e39cf05.8e38d"],["290b8f41.ae30e"]]},{"id":"80992288.c825d","type":"function","z":"e3d5be61.6eb31","name":"State response","func":"msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> The receiver is \"  + msg.payload + \" </speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak> The receiver is \"  + msg.payload + \" </speak>\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":420,"wires":[["a1d91d4c.91383"]]},{"id":"7c8aefae.c8284","type":"http in","z":"2e6c95b0.7d882a","name":"Stereo","url":"/stereo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":220,"wires":[["e8f8ed87.6fcbb"]]},{"id":"e8f8ed87.6fcbb","type":"switch","z":"2e6c95b0.7d882a","name":"","property":"payload.request","propertyType":"msg","rules":[{"t":"eq","v":"power","vt":"str"},{"t":"eq","v":"source","vt":"str"},{"t":"eq","v":"toggle","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":230,"y":320,"wires":[["4522722a.0cebdc"],["5c35a51.08d815c"],[]]},{"id":"f7225ac.622e4a8","type":"http response","z":"2e6c95b0.7d882a","name":"Response","statusCode":"","headers":{},"x":620,"y":260,"wires":[]},{"id":"bbc1f5d6.616a08","type":"debug","z":"2e6c95b0.7d882a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":60,"wires":[]},{"id":"4522722a.0cebdc","type":"api-current-state","z":"2e6c95b0.7d882a","name":"Receiver State","server":"a117d285.11d84","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"media_player.receiver","x":420,"y":260,"wires":[["f7225ac.622e4a8"]]},{"id":"14e90856.1fd4c8","type":"poll-state","z":"2e6c95b0.7d882a","name":"","server":"a117d285.11d84","updateinterval":"10","outputinitially":true,"outputonchanged":true,"entity_id":"media_player.receiver","x":270,"y":100,"wires":[["bbc1f5d6.616a08"]]},{"id":"fca45d2c.74de4","type":"api-current-state","z":"e3d5be61.6eb31","name":"Receiver State","server":"a117d285.11d84","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"media_player.receiver","x":380,"y":420,"wires":[["80992288.c825d"]]},{"id":"91e4cea5.964ee","type":"poll-state","z":"e3d5be61.6eb31","name":"Receiver State","server":"a117d285.11d84","updateinterval":"","outputinitially":true,"outputonchanged":true,"entity_id":"media_player.receiver","x":120,"y":160,"wires":[["e57d57c7.77c2c8"]]},{"id":"5c35a51.08d815c","type":"api-current-state","z":"2e6c95b0.7d882a","name":"Receiver State","server":"a117d285.11d84","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"media_player.receiver","x":420,"y":340,"wires":[["c974ce2a.15c8"]]},{"id":"c974ce2a.15c8","type":"function","z":"2e6c95b0.7d882a","name":"","func":"msg.payload = msg.data.attributes.source;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":340,"wires":[["1115c195.f6073e"]]},{"id":"572ed60a.82cf98","type":"function","z":"e3d5be61.6eb31","name":"Parse source","func":"msg.payload = msg.data.attributes.source;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":520,"wires":[["aeabb859.756fa8"]]},{"id":"aeabb859.756fa8","type":"function","z":"e3d5be61.6eb31","name":"Source response","func":"msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> The receiver source is \"  + msg.payload + \" </speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak> The receiver source is \"  + msg.payload + \" </speak>\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":520,"wires":[["a2fdab95.4bf0b8"]]},{"id":"28db4b5d.5559a4","type":"function","z":"e3d5be61.6eb31","name":"End Session Message","func":"msg.payload = {\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> Goodbye human! </speak>\"\n    },\n    \"shouldEndSession\": true\n  },\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["e91c4ff4.6f9a4"]]},{"id":"842a3bb7.aaf108","type":"function","z":"e3d5be61.6eb31","name":"Start Session Message","func":"msg.payload = {\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"SSML\",\n            \"ssml\": \"<speak> Hello! I am your receiver.</speak>\"\n        },\n        \"shouldEndSession\": false\n    },\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["e91c4ff4.6f9a4"]]},{"id":"e91c4ff4.6f9a4","type":"http response","z":"e3d5be61.6eb31","name":"","statusCode":"","headers":{},"x":890,"y":220,"wires":[]},{"id":"5c7672bb.bbfd7c","type":"comment","z":"e3d5be61.6eb31","name":"Power Status Request","info":"","x":400,"y":380,"wires":[]},{"id":"a10f888c.7422a8","type":"comment","z":"e3d5be61.6eb31","name":"Source Status Request","info":"","x":400,"y":480,"wires":[]},{"id":"877d0c62.b88f4","type":"api-current-state","z":"e3d5be61.6eb31","name":"Receiver State","server":"a117d285.11d84","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"media_player.receiver","x":380,"y":520,"wires":[["572ed60a.82cf98"]]},{"id":"290b8f41.ae30e","type":"function","z":"e3d5be61.6eb31","name":"Unknown Message","func":"msg.payload = {\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> You haven't taught me that. </speak>\"\n    },\n    \"shouldEndSession\": true\n  },\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["e91c4ff4.6f9a4"]]},{"id":"d413c3a0.ccd2e","type":"debug","z":"e3d5be61.6eb31","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":200,"wires":[]},{"id":"a2fdab95.4bf0b8","type":"http response","z":"e3d5be61.6eb31","name":"","statusCode":"","headers":{},"x":950,"y":520,"wires":[]},{"id":"a1d91d4c.91383","type":"http response","z":"e3d5be61.6eb31","name":"","statusCode":"","headers":{},"x":750,"y":420,"wires":[]},{"id":"1115c195.f6073e","type":"http response","z":"2e6c95b0.7d882a","name":"Response","statusCode":"","headers":{},"x":740,"y":340,"wires":[]},{"id":"83418c2e.c6cfd","type":"api-call-service","z":"2e6c95b0.7d882a","name":"Select Source","server":"a117d285.11d84","service_domain":"media_player","service":"select_source","data":"{ }","mergecontext":"","x":540,"y":480,"wires":[["98127606.2e5888"]]},{"id":"d2ea9e54.fb7dc","type":"inject","z":"2e6c95b0.7d882a","name":"","topic":"","payload":"Apple TV","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":440,"wires":[["898ee12f.674ad"]]},{"id":"98127606.2e5888","type":"debug","z":"2e6c95b0.7d882a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":440,"wires":[]},{"id":"898ee12f.674ad","type":"template","z":"2e6c95b0.7d882a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": { \"entity_id\" : \"media_player.receiver\", \"source\" : \"{{payload}}\" } }\n","output":"json","x":260,"y":440,"wires":[["83418c2e.c6cfd"]]},{"id":"5a49221a.e1868c","type":"inject","z":"2e6c95b0.7d882a","name":"","topic":"","payload":"PS4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":104.28571319580078,"y":485.71429443359375,"wires":[["898ee12f.674ad"]]},{"id":"7978e7c.2c94f18","type":"api-call-service","z":"e3d5be61.6eb31","name":"Select Source","server":"a117d285.11d84","service_domain":"media_player","service":"select_source","data":"{ }","mergecontext":"","x":560,"y":620,"wires":[[]]},{"id":"be335484.4775f8","type":"function","z":"e3d5be61.6eb31","name":"Extract source","func":"raw_source = msg.payload.request.intent.slots.source.value;\n\n// Fix source casing on raw source\nsource_mapper = {\n   'apple tv': 'Apple TV',\n   'ps4': 'PS4',\n   'playstation': 'PS4',\n   'p.s. 4': 'PS4',\n   'game': 'GAME',\n   'pc': 'PC',\n   'fire stick': 'Fire Stick',\n   'am tuner': 'AM Tuner',\n   'fm tuner': 'FM Tuner',\n   'technics': 'Technics',\n   'turntable': 'Technics',\n   'record player': 'Technics',\n   'usb': 'USB'\n}\n\nmsg.payload.data = { \n    \"entity_id\" : \"media_player.receiver\", \n    \"source\" : source_mapper[raw_source.toLowerCase()]\n\n }\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":620,"wires":[["59ebb73a.33d6f8","7978e7c.2c94f18"]]},{"id":"59ebb73a.33d6f8","type":"function","z":"e3d5be61.6eb31","name":"Confirm source","func":"msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> The receiver is set to \"  + msg.payload.data.source + \" </speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak> The receiver is set to \"  + msg.payload.data.source + \" </speak>\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":660,"wires":[["c1fd73b0.34e89"]]},{"id":"c1fd73b0.34e89","type":"http response","z":"e3d5be61.6eb31","name":"","statusCode":"","headers":{},"x":710,"y":660,"wires":[]},{"id":"c1331b8e.a9a1d8","type":"comment","z":"e3d5be61.6eb31","name":"Source Set Request","info":"","x":390,"y":580,"wires":[]},{"id":"7433e2ef.ceb25c","type":"comment","z":"e3d5be61.6eb31","name":"Volume Set Request","info":"","x":390,"y":720,"wires":[]},{"id":"5e39cf05.8e38d","type":"function","z":"e3d5be61.6eb31","name":"Extract volume","func":"volume_level = msg.payload.request.intent.slots.volume_level.value;\nvolume_level = volume_level / 77.0;\n\nmsg.payload.data = { \n    \"entity_id\" : \"media_player.receiver\", \n    \"volume_level\" : volume_level\n\n }\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":760,"wires":[["cc9c1d86.8f1f3","4f07a0d2.e55e2"]]},{"id":"cc9c1d86.8f1f3","type":"function","z":"e3d5be61.6eb31","name":"Confirm volume","func":"msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak>Sure thing.</speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak>Sure thing.</speak>\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":800,"wires":[["ca9aa129.9da12"]]},{"id":"ca9aa129.9da12","type":"http response","z":"e3d5be61.6eb31","name":"","statusCode":"","headers":{},"x":710,"y":800,"wires":[]},{"id":"4f07a0d2.e55e2","type":"api-call-service","z":"e3d5be61.6eb31","name":"Volume Set","server":"a117d285.11d84","service_domain":"media_player","service":"volume_set","data":"{ }","mergecontext":"","x":550,"y":760,"wires":[[]]},{"id":"51eac358.4fab04","type":"alexa-home","z":"7538960a.bfe8b8","conf":"8a0c2cc0.358c6","device":"26648","acknoledge":true,"name":"Bookcase","topic":"","x":100,"y":60,"wires":[["ed32dd4d.e1426"]]},{"id":"15092e47.0fb12a","type":"api-call-service","z":"7538960a.bfe8b8","name":"On","server":"a117d285.11d84","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.bookcase\" }","mergecontext":"","x":390,"y":40,"wires":[[]]},{"id":"38bf77a6.ed13b","type":"api-call-service","z":"7538960a.bfe8b8","name":"Off","server":"a117d285.11d84","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.bookcase\" }","mergecontext":"","x":390,"y":80,"wires":[[]]},{"id":"ed32dd4d.e1426","type":"switch","z":"7538960a.bfe8b8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":60,"wires":[["15092e47.0fb12a"],["38bf77a6.ed13b"]]},{"id":"6571eed4.63a09","type":"alexa-home","z":"7538960a.bfe8b8","conf":"8a0c2cc0.358c6","device":"26650","acknoledge":true,"name":"Receiver","topic":"","x":100,"y":200,"wires":[["3a0f2461.679edc"]]},{"id":"3a0f2461.679edc","type":"switch","z":"7538960a.bfe8b8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":200,"wires":[["5d1edff9.61d0c8"],["1cc308ec.edac6f"]]},{"id":"5d1edff9.61d0c8","type":"api-call-service","z":"7538960a.bfe8b8","name":"On","server":"a117d285.11d84","service_domain":"media_player","service":"turn_on","data":"{\"entity_id\": \"media_player.receiver\" }","mergecontext":"","x":390,"y":180,"wires":[[]]},{"id":"1cc308ec.edac6f","type":"api-call-service","z":"7538960a.bfe8b8","name":"Off","server":"a117d285.11d84","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\": \"media_player.receiver\" }","mergecontext":"","x":390,"y":220,"wires":[[]]},{"id":"21ec44d.35fd63c","type":"alexa-home","z":"7538960a.bfe8b8","conf":"8a0c2cc0.358c6","device":"26760","acknoledge":true,"name":"Petcube","topic":"","x":100,"y":460,"wires":[["10d8123c.29d67e"]]},{"id":"227c7a08.df2506","type":"alexa-home","z":"7538960a.bfe8b8","conf":"8a0c2cc0.358c6","device":"26758","acknoledge":true,"name":"TV","topic":"","x":90,"y":320,"wires":[["438b0a98.c275a4"]]},{"id":"cd85b7a0.2402b","type":"api-call-service","z":"7538960a.bfe8b8","name":"On","server":"a117d285.11d84","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.living_room_tv\" }","mergecontext":"","x":390,"y":300,"wires":[[]]},{"id":"e000b449.9a17b8","type":"api-call-service","z":"7538960a.bfe8b8","name":"Off","server":"a117d285.11d84","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.living_room_tv\" }","mergecontext":"","x":390,"y":340,"wires":[[]]},{"id":"438b0a98.c275a4","type":"switch","z":"7538960a.bfe8b8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":320,"wires":[["cd85b7a0.2402b"],["e000b449.9a17b8"]]},{"id":"10d8123c.29d67e","type":"switch","z":"7538960a.bfe8b8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":460,"wires":[["18b33da0.4d3dc2"],["f5191b83.66e38"]]},{"id":"18b33da0.4d3dc2","type":"api-call-service","z":"7538960a.bfe8b8","name":"On","server":"a117d285.11d84","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.petcube\" }","mergecontext":"","x":390,"y":440,"wires":[[]]},{"id":"f5191b83.66e38","type":"api-call-service","z":"7538960a.bfe8b8","name":"Off","server":"a117d285.11d84","service_domain":"media_player","service":"turn_off","data":"{\"entity_id\": \"switch.petcube\" }","mergecontext":"","x":390,"y":480,"wires":[[]]},{"id":"15bb29b2.0de386","type":"alexa-home","z":"7538960a.bfe8b8","conf":"8a0c2cc0.358c6","device":"27035","acknoledge":true,"name":"Hoplite","topic":"","x":90,"y":540,"wires":[["7015d758.68b148"]]},{"id":"7015d758.68b148","type":"switch","z":"7538960a.bfe8b8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":580,"wires":[["b668d90a.0fd928"],["4f8b0791.29fd48"],["90878e80.69259"]]},{"id":"b668d90a.0fd928","type":"api-call-service","z":"7538960a.bfe8b8","name":"On","server":"a117d285.11d84","service_domain":"light","service":"turn_on","data":"{\"entity_id\": \"light.hoplite\" }","mergecontext":"","x":390,"y":540,"wires":[[]]},{"id":"4f8b0791.29fd48","type":"api-call-service","z":"7538960a.bfe8b8","name":"Off","server":"a117d285.11d84","service_domain":"light","service":"turn_off","data":"{\"entity_id\": \"light.hoplite\" }","mergecontext":"","x":390,"y":580,"wires":[[]]},{"id":"a1d92c9b.1474e","type":"api-call-service","z":"7538960a.bfe8b8","name":"Set Color","server":"a117d285.11d84","service_domain":"light","service":"turn_on","data":"{}","mergecontext":"","x":560,"y":620,"wires":[[]]},{"id":"90878e80.69259","type":"function","z":"7538960a.bfe8b8","name":"Parse HS","func":"msg.payload.data = {\n    \"entity_id\" : \"light.hoplite\",\n    \"hs_color\": [\n        msg.payload.hue,\n        msg.payload.saturation * 100\n    ]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":620,"wires":[["a1d92c9b.1474e"]]},{"id":"32ef421b.55d15e","type":"alexa-home","z":"7538960a.bfe8b8","conf":"8a0c2cc0.358c6","device":"27043","acknoledge":true,"name":"Blue Jar","topic":"","x":100,"y":740,"wires":[["a82a7537.7f4b88"]]},{"id":"a82a7537.7f4b88","type":"switch","z":"7538960a.bfe8b8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":740,"wires":[["95599443.d3e728"],["24ca5e8.40514a2"],["93cf6a71.c07208"]]},{"id":"95599443.d3e728","type":"api-call-service","z":"7538960a.bfe8b8","name":"On","server":"a117d285.11d84","service_domain":"light","service":"turn_on","data":"{\"entity_id\": \"light.blue_jar\" }","mergecontext":"","x":390,"y":700,"wires":[[]]},{"id":"24ca5e8.40514a2","type":"api-call-service","z":"7538960a.bfe8b8","name":"Off","server":"a117d285.11d84","service_domain":"light","service":"turn_off","data":"{\"entity_id\": \"light.blue_jar\" }","mergecontext":"","x":390,"y":740,"wires":[[]]},{"id":"5e6c5e23.e3eff","type":"api-call-service","z":"7538960a.bfe8b8","name":"Set Color","server":"a117d285.11d84","service_domain":"light","service":"turn_on","data":"{}","mergecontext":"","x":560,"y":780,"wires":[[]]},{"id":"93cf6a71.c07208","type":"function","z":"7538960a.bfe8b8","name":"Parse HS","func":"msg.payload.data = {\n    \"entity_id\" : \"light.blue_jar\",\n    \"hs_color\": [\n        msg.payload.hue,\n        msg.payload.saturation * 100\n    ]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":780,"wires":[["5e6c5e23.e3eff"]]},{"id":"602175f2.a687fc","type":"poll-state","z":"2bdddf42.6aab3","name":"4 Train","server":"a117d285.11d84","updateinterval":"5","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.mta_subway_4","x":90,"y":80,"wires":[["66fc43d3.93252c"]]},{"id":"1ef7067b.ea234a","type":"poll-state","z":"2bdddf42.6aab3","name":"5 Train","server":"a117d285.11d84","updateinterval":"5","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.mta_subway_5","x":90,"y":140,"wires":[["6f79e9b3.d87858"]]},{"id":"463758ca.794fd8","type":"poll-state","z":"2bdddf42.6aab3","name":"6 Train","server":"a117d285.11d84","updateinterval":"5","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.mta_subway_6","x":90,"y":200,"wires":[["c1cc1fc2.0ac83"]]},{"id":"28a911a0.cde5ce","type":"poll-state","z":"2bdddf42.6aab3","name":"Q Train","server":"a117d285.11d84","updateinterval":"5","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.mta_subway_q","x":90,"y":260,"wires":[["ce11f95a.0be8d8"]]},{"id":"1c0a6d8c.bfc9d2","type":"comment","z":"2bdddf42.6aab3","name":"Train & Rain Status","info":"","x":130,"y":40,"wires":[]},{"id":"5fbbf998.171218","type":"alexa-home","z":"7538960a.bfe8b8","conf":"8a0c2cc0.358c6","device":"28018","acknoledge":true,"name":"Lava Lamp","topic":"","x":580,"y":60,"wires":[["364f545.cbf55ac"]]},{"id":"1b14998a.829b46","type":"api-call-service","z":"7538960a.bfe8b8","name":"On","server":"a117d285.11d84","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.lava_lamp\" }","mergecontext":"","x":870,"y":40,"wires":[[]]},{"id":"3d8adb03.b8bf54","type":"api-call-service","z":"7538960a.bfe8b8","name":"Off","server":"a117d285.11d84","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.lava_lamp\" }","mergecontext":"","x":870,"y":80,"wires":[[]]},{"id":"364f545.cbf55ac","type":"switch","z":"7538960a.bfe8b8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":60,"wires":[["1b14998a.829b46"],["3d8adb03.b8bf54"]]},{"id":"77ee23eb.c3c21c","type":"alexa-home","z":"7538960a.bfe8b8","conf":"8a0c2cc0.358c6","device":"28017","acknoledge":true,"name":"Lite Brite","topic":"","x":580,"y":200,"wires":[["c4d2406e.132d2"]]},{"id":"9150007.5f0e5","type":"api-call-service","z":"7538960a.bfe8b8","name":"On","server":"a117d285.11d84","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.lite_brite\" }","mergecontext":"","x":870,"y":180,"wires":[[]]},{"id":"847b24.7dce34e","type":"api-call-service","z":"7538960a.bfe8b8","name":"Off","server":"a117d285.11d84","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.lite_brite\" }","mergecontext":"","x":870,"y":220,"wires":[[]]},{"id":"c4d2406e.132d2","type":"switch","z":"7538960a.bfe8b8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":200,"wires":[["9150007.5f0e5"],["847b24.7dce34e"]]},{"id":"4a4c1fd0.ed9b1","type":"alexa-home","z":"7538960a.bfe8b8","conf":"8a0c2cc0.358c6","device":"28036","acknoledge":true,"name":"Helmet","topic":"","x":90,"y":620,"wires":[["7015d758.68b148"]]},{"id":"61d88b46.e276b4","type":"alexa-home","z":"7538960a.bfe8b8","conf":"8a0c2cc0.358c6","device":"28656","acknoledge":true,"name":"Vines","topic":"","x":70,"y":880,"wires":[["6f29d5c1.5a4fac"]]},{"id":"6f29d5c1.5a4fac","type":"switch","z":"7538960a.bfe8b8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":880,"wires":[["47022f91.e0416"],["fd3bf8b2.3f3e58"],["e763f720.f84168"]]},{"id":"47022f91.e0416","type":"api-call-service","z":"7538960a.bfe8b8","name":"On","server":"a117d285.11d84","service_domain":"light","service":"turn_on","data":"{\"entity_id\": \"light.vines\" }","mergecontext":"","x":390,"y":840,"wires":[[]]},{"id":"fd3bf8b2.3f3e58","type":"api-call-service","z":"7538960a.bfe8b8","name":"Off","server":"a117d285.11d84","service_domain":"light","service":"turn_off","data":"{\"entity_id\": \"light.vines\" }","mergecontext":"","x":390,"y":880,"wires":[[]]},{"id":"51917efa.0e065","type":"api-call-service","z":"7538960a.bfe8b8","name":"Set Color","server":"a117d285.11d84","service_domain":"light","service":"turn_on","data":"{}","mergecontext":"","x":560,"y":920,"wires":[[]]},{"id":"e763f720.f84168","type":"function","z":"7538960a.bfe8b8","name":"Parse HS","func":"msg.payload.data = {\n    \"entity_id\" : \"light.vines\",\n    \"hs_color\": [\n        msg.payload.hue,\n        msg.payload.saturation * 100\n    ]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":920,"wires":[["51917efa.0e065"]]},{"id":"bf05708c.f1128","type":"server-state-changed","z":"997b60db.958c4","name":"Mickey Tracker","server":"a117d285.11d84","entityidfilter":"device_tracker.mickeys_iphone_x","entityidfiltertype":"substring","haltifstate":"","x":120,"y":80,"wires":[["dbb09149.4caaf"]]},{"id":"3538802d.b83a4","type":"server-state-changed","z":"997b60db.958c4","name":"Maggie Tracker","server":"a117d285.11d84","entityidfilter":"device_tracker.maggies_iphone_8","entityidfiltertype":"substring","haltifstate":"","x":120,"y":140,"wires":[["88d300.90893d"]]},{"id":"94e8f9bf.f378e8","type":"mqtt in","z":"9e741141.8a528","name":"Hall Motion Sensor","topic":"/myhome/state/Hall_motion","broker":"7a827f49.d566f","x":90,"y":320,"wires":[["8430d8c6.5ca488","5355517a.62952"]]},{"id":"72c92e91.e2071","type":"mqtt out","z":"9e741141.8a528","name":"Hall Light Dimmer ","topic":"/myhome/command/Light_Hall/state","qos":"0","retain":"true","broker":"7a827f49.d566f","x":1085.0000915527344,"y":370.6833190917969,"wires":[]},{"id":"8430d8c6.5ca488","type":"switch","z":"9e741141.8a528","name":"Movement detected?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OPEN","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":349.00006103515625,"y":298.23333740234375,"wires":[["dfd1c783.e70898"]]},{"id":"5355517a.62952","type":"trigger","z":"9e741141.8a528","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"8","extend":false,"units":"s","reset":"OPEN","bytopic":"all","name":"Switch off delay","x":471.00006103515625,"y":468.2333068847656,"wires":[["72c92e91.e2071"]]},{"id":"d8f3d7ef.0dc608","type":"mqtt in","z":"9e741141.8a528","name":"Hall Light Sensor","topic":"/myhome/state/Lumin_Hall","qos":"2","broker":"7a827f49.d566f","x":79.66668701171875,"y":101.38327026367188,"wires":[["8571286d.2d5548"]]},{"id":"6a474647.0c9088","type":"inject","z":"9e741141.8a528","name":"Reduce Brightness at 21:00","topic":"Night Brightness","payload":"1","payloadType":"str","repeat":"","crontab":"00 21 * * *","once":false,"x":134.00006103515625,"y":223.69998168945312,"wires":[["107a19a6.f76036"]]},{"id":"fb18b3cf.70dad","type":"inject","z":"9e741141.8a528","name":"Normal Brightness at 6:00","topic":"Night Brightness","payload":"50","payloadType":"num","repeat":"","crontab":"00 6 * * *","once":false,"x":124.66668701171875,"y":182.38333129882812,"wires":[["107a19a6.f76036"]]},{"id":"8571286d.2d5548","type":"switch","z":"9e741141.8a528","name":"Light Threshold Selector","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":433.6666564941406,"y":101.38333129882812,"wires":[["72677416.ea263c"],["6aa51cfe.5eb504"]]},{"id":"72677416.ea263c","type":"change","z":"9e741141.8a528","name":"Enable Light","rules":[{"t":"set","p":"Light_enabled","pt":"flow","to":"Yes","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":738.3333435058594,"y":64.66665649414062,"wires":[[]]},{"id":"6aa51cfe.5eb504","type":"change","z":"9e741141.8a528","name":"Disable Light","rules":[{"t":"set","p":"Light_enabled","pt":"flow","to":"No","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740.9999694824219,"y":133.18331909179688,"wires":[[]]},{"id":"107a19a6.f76036","type":"change","z":"9e741141.8a528","name":"Light Brightness Adjustment","rules":[{"t":"set","p":"Light_brightness","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":482.6667175292969,"y":199.38333129882812,"wires":[[]]},{"id":"dfd1c783.e70898","type":"switch","z":"9e741141.8a528","name":"Light Enabled?","property":"Light_enabled","propertyType":"flow","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":579.6668395996094,"y":297.3833312988281,"wires":[["5820d76d.2e3398"]]},{"id":"5820d76d.2e3398","type":"change","z":"9e741141.8a528","name":"Light Brightness Adjustment","rules":[{"t":"set","p":"payload","pt":"msg","to":"Light_brightness","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":820.1667175292969,"y":297.0166320800781,"wires":[["72c92e91.e2071"]]},{"id":"dbb09149.4caaf","type":"change","z":"997b60db.958c4","name":"Status?","rules":[{"t":"set","p":"mickey_home","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":80,"wires":[["3f08e284.79a5ae"]]},{"id":"88d300.90893d","type":"change","z":"997b60db.958c4","name":"Status?","rules":[{"t":"set","p":"maggie_home","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":140,"wires":[["3f08e284.79a5ae"]]},{"id":"447985ce.b6253c","type":"comment","z":"997b60db.958c4","name":"Are we home?","info":"","x":110,"y":40,"wires":[]},{"id":"ce11f95a.0be8d8","type":"function","z":"2bdddf42.6aab3","name":"Delayed?","func":"// Returns true if train is delayed\nmsg.payload = (\n    msg.payload.data.state === \"Delays\"\n);\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":260,"wires":[["229104ac.2180fc"]]},{"id":"229104ac.2180fc","type":"change","z":"2bdddf42.6aab3","name":"Delays Q?","rules":[{"t":"set","p":"delays_Q","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":260,"wires":[[]]},{"id":"ca77bee5.2a6d9","type":"switch","z":"2bdddf42.6aab3","name":"4/5/6?","property":"delays_456","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":340,"wires":[["f4fabd0d.2acff"],["238e69ec.b64e16"]]},{"id":"fb5300b7.33e14","type":"inject","z":"2bdddf42.6aab3","name":"Start loop","topic":"","payload":"delays_456","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":10000,"x":120,"y":340,"wires":[[]]},{"id":"238e69ec.b64e16","type":"switch","z":"2bdddf42.6aab3","name":"Q?","property":"delays_Q","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":400,"wires":[["a4d9b250.d129"],["ca77bee5.2a6d9"]]},{"id":"141a3dc8.e1a452","type":"mqtt out","z":"64f3502b.1d232","name":"Hoplite","topic":"wemos/hoplite/set","qos":"0","retain":"true","broker":"44deb46d.8fe2ec","x":820,"y":280,"wires":[]},{"id":"c827ee7d.c3346","type":"template","z":"64f3502b.1d232","name":"Green","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"state\":\"ON\",\"color\":{\"r\":0,\"g\":255,\"b\":0},\"brightness\":100,\"speed\":60,\"effect\":\"solid\"}","output":"json","x":570,"y":280,"wires":[["5eeff176.c28e4","141a3dc8.e1a452"]]},{"id":"5eeff176.c28e4","type":"delay","z":"64f3502b.1d232","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":320,"wires":[["88c84be2.355af8"]]},{"id":"88c84be2.355af8","type":"template","z":"64f3502b.1d232","name":"OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"state\":\"OFF\",\"color\":{\"r\":0,\"g\":0,\"b\":0},\"brightness\":100,\"speed\":60,\"effect\":\"solid\"}","output":"json","x":690,"y":360,"wires":[["33728d18.352492","141a3dc8.e1a452"]]},{"id":"33728d18.352492","type":"delay","z":"64f3502b.1d232","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":400,"wires":[[]]},{"id":"3fe22012.3dcec","type":"template","z":"6b041d7.60aaee4","name":"Yellow","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"state\":\"ON\",\"color\":{\"r\":255,\"g\":255,\"b\":0},\"brightness\":100,\"speed\":60,\"effect\":\"solid\"}","output":"json","x":470,"y":500,"wires":[["d0333f68.29113","94e9bf.9f49064"]]},{"id":"d0333f68.29113","type":"delay","z":"6b041d7.60aaee4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":540,"wires":[["7d1bb1dc.a26cb"]]},{"id":"7d1bb1dc.a26cb","type":"template","z":"6b041d7.60aaee4","name":"OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"state\":\"OFF\",\"color\":{\"r\":0,\"g\":0,\"b\":0},\"brightness\":100,\"speed\":60,\"effect\":\"solid\"}","output":"json","x":590,"y":580,"wires":[["ecec5b7c.ee3a68","94e9bf.9f49064"]]},{"id":"ecec5b7c.ee3a68","type":"delay","z":"6b041d7.60aaee4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":620,"wires":[[]]},{"id":"94e9bf.9f49064","type":"mqtt out","z":"6b041d7.60aaee4","name":"Hoplite","topic":"wemos/hoplite/set","qos":"0","retain":"true","broker":"44deb46d.8fe2ec","x":720,"y":540,"wires":[]},{"id":"66fc43d3.93252c","type":"function","z":"2bdddf42.6aab3","name":"Delayed?","func":"// Returns true if train is delayed\nmsg.payload = (\n    msg.payload.data.state === \"Delays\"\n);\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":80,"wires":[["570e1963.401c48"]]},{"id":"570e1963.401c48","type":"change","z":"2bdddf42.6aab3","name":"Delays 4?","rules":[{"t":"set","p":"delays_4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[["9f53606f.19735"]]},{"id":"6f79e9b3.d87858","type":"function","z":"2bdddf42.6aab3","name":"Delayed?","func":"// Returns true if train is delayed\nmsg.payload = (\n    msg.payload.data.state === \"Delays\"\n);\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":140,"wires":[["523b5131.4025c"]]},{"id":"523b5131.4025c","type":"change","z":"2bdddf42.6aab3","name":"Delays 5?","rules":[{"t":"set","p":"delays_5","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":140,"wires":[["9f53606f.19735"]]},{"id":"c1cc1fc2.0ac83","type":"function","z":"2bdddf42.6aab3","name":"Delayed?","func":"// Returns true if train is delayed\nmsg.payload = (\n    msg.payload.data.state === \"Delays\"\n);\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":200,"wires":[["a6440c5.bd159f"]]},{"id":"a6440c5.bd159f","type":"change","z":"2bdddf42.6aab3","name":"Delays 6?","rules":[{"t":"set","p":"delays_6","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["9f53606f.19735"]]},{"id":"9f53606f.19735","type":"function","z":"2bdddf42.6aab3","name":"Any delayed?","func":"\n// Returns true if any trains are delayed\nmsg.payload = [\n   flow.get(\"delays_4\"),\n   flow.get(\"delays_5\"),\n   flow.get(\"delays_6\")\n].some(function(x) { \n    return x\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":140,"wires":[["290ef372.82c20c"]]},{"id":"290ef372.82c20c","type":"change","z":"2bdddf42.6aab3","name":"Delays 4/5/6?","rules":[{"t":"set","p":"delays_456","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":140,"wires":[[]]},{"id":"a4d9b250.d129","type":"subflow:6b041d7.60aaee4","z":"2bdddf42.6aab3","x":550,"y":400,"wires":[["ca77bee5.2a6d9"]]},{"id":"f4fabd0d.2acff","type":"subflow:64f3502b.1d232","z":"2bdddf42.6aab3","x":530,"y":340,"wires":[["238e69ec.b64e16"]]},{"id":"3f08e284.79a5ae","type":"function","z":"997b60db.958c4","name":"Anyone home?","func":"\n// Returns true if either Mickey or Maggie is home\nmsg.payload = [\n   flow.get(\"mickey_home\"),\n   flow.get(\"maggie_home\"),\n].some(function(x) { \n    return x === \"home\"\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["c15df2ce.03b48"]]},{"id":"c15df2ce.03b48","type":"change","z":"997b60db.958c4","name":"Home Status?","rules":[{"t":"set","p":"anyone_home","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":100,"wires":[[]]},{"id":"adc9f68e.c70ee8","type":"comment","z":"997b60db.958c4","name":"Turn on headboard lights","info":"","x":150,"y":220,"wires":[]},{"id":"47f7f7fb.876968","type":"comment","z":"997b60db.958c4","name":"Turn on lights when arriving home and dark","info":"","x":200,"y":360,"wires":[]},{"id":"8d9bf917.82d728","type":"time-filter","z":"997b60db.958c4","events":"[{\"start\":\"2009-04-26T22:00:00.000Z\",\"end\":\"2009-04-27T02:00:00.000Z\",\"title\":\"\",\"id\":0},{\"start\":\"2009-04-27T22:00:00.000Z\",\"end\":\"2009-04-28T02:00:00.000Z\",\"title\":\"\",\"id\":1},{\"start\":\"2009-04-28T22:00:00.000Z\",\"end\":\"2009-04-29T02:00:00.000Z\",\"title\":\"\",\"id\":2},{\"start\":\"2009-04-29T22:00:00.000Z\",\"end\":\"2009-04-30T02:00:00.000Z\",\"title\":\"\",\"id\":3},{\"start\":\"2009-04-30T22:00:00.000Z\",\"end\":\"2009-05-01T02:00:00.000Z\",\"title\":\"\",\"id\":4},{\"start\":\"2009-05-01T22:00:00.000Z\",\"end\":\"2009-05-02T03:00:00.000Z\",\"title\":\"\",\"id\":5},{\"start\":\"2009-05-02T22:00:00.000Z\",\"end\":\"2009-05-03T03:00:00.000Z\",\"title\":\"\",\"id\":6}]","topic":"","central":"","name":"Evening?","x":300,"y":260,"wires":[["9c83d9dd.b5b388","a1359a24.3bf698"],[]]},{"id":"d8bfe6e8.5894d8","type":"server-state-changed","z":"997b60db.958c4","name":"Bedroom Motion?","server":"a117d285.11d84","entityidfilter":"sensor.bedroom_motion","entityidfiltertype":"substring","haltifstate":"False","x":130,"y":260,"wires":[["8d9bf917.82d728"]]},{"id":"9c83d9dd.b5b388","type":"api-current-state","z":"997b60db.958c4","name":"Already on?","server":"a117d285.11d84","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"switch.headboard","x":470,"y":240,"wires":[["5e565b12.5c62c4"]]},{"id":"5e565b12.5c62c4","type":"api-call-service","z":"997b60db.958c4","name":"On","server":"a117d285.11d84","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.headboard\"}","mergecontext":"","x":610,"y":240,"wires":[[]]},{"id":"a1359a24.3bf698","type":"stoptimer","z":"997b60db.958c4","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10min","x":450,"y":280,"wires":[["ea01825b.f97a1"],[]]},{"id":"ea01825b.f97a1","type":"api-call-service","z":"997b60db.958c4","name":"Off","server":"a117d285.11d84","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.headboard\"}","mergecontext":"","x":610,"y":280,"wires":[[]]},{"id":"3dadf7d2.2a74b8","type":"server-state-changed","z":"997b60db.958c4","name":"Door opened?","server":"a117d285.11d84","entityidfilter":"sensor.front_door","entityidfiltertype":"substring","haltifstate":"Closed","x":110,"y":420,"wires":[["2ec36b97.878f94"]]},{"id":"2ec36b97.878f94","type":"time-filter","z":"997b60db.958c4","events":"[{\"start\":\"2009-04-26T22:00:00.000Z\",\"end\":\"2009-04-27T02:00:00.000Z\",\"title\":\"\",\"id\":0},{\"start\":\"2009-04-27T22:00:00.000Z\",\"end\":\"2009-04-28T02:00:00.000Z\",\"title\":\"\",\"id\":1},{\"start\":\"2009-04-28T22:00:00.000Z\",\"end\":\"2009-04-29T02:00:00.000Z\",\"title\":\"\",\"id\":2},{\"start\":\"2009-04-29T22:00:00.000Z\",\"end\":\"2009-04-30T02:00:00.000Z\",\"title\":\"\",\"id\":3},{\"start\":\"2009-04-30T22:00:00.000Z\",\"end\":\"2009-05-01T02:00:00.000Z\",\"title\":\"\",\"id\":4},{\"start\":\"2009-05-01T22:00:00.000Z\",\"end\":\"2009-05-02T03:00:00.000Z\",\"title\":\"\",\"id\":5},{\"start\":\"2009-05-02T22:00:00.000Z\",\"end\":\"2009-05-03T03:00:00.000Z\",\"title\":\"\",\"id\":6}]","topic":"","central":"","name":"Evening?","x":300,"y":420,"wires":[["d947198a.2f9f48"],[]]},{"id":"d947198a.2f9f48","type":"api-current-state","z":"997b60db.958c4","name":"Already on?","server":"a117d285.11d84","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"switch.headboard","x":470,"y":400,"wires":[["50b04675.81c7c8"]]},{"id":"50b04675.81c7c8","type":"api-call-service","z":"997b60db.958c4","name":"On","server":"a117d285.11d84","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": [\"light.vines\", \"switch.star_light\"] }","mergecontext":"","x":610,"y":400,"wires":[[]]},{"id":"dbb8add4.7dc458","type":"alexa-home","z":"7538960a.bfe8b8","conf":"8a0c2cc0.358c6","device":"30595","acknoledge":true,"name":"Ivy","topic":"","x":70,"y":940,"wires":[["6f29d5c1.5a4fac"]]},{"id":"74ae5fe2.57e8f","type":"inject","z":"997b60db.958c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":940,"y":580,"wires":[["f2f75b24.ead0d8"]]},{"id":"f2f75b24.ead0d8","type":"debug","z":"997b60db.958c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":580,"wires":[]}]