flows.json
[
    {
        "id": "dc9e57a8.6747d8",
        "type": "tab",
        "label": "Globals",
        "disabled": false,
        "info": ""
    },
    {
        "id": "363f3bc3.b66854",
        "type": "tab",
        "label": "Timers",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e3d5be61.6eb31",
        "type": "tab",
        "label": "Alexa | Receiver",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ff5da73d.cf2dd8",
        "type": "tab",
        "label": "Alexa | Plants",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7538960a.bfe8b8",
        "type": "tab",
        "label": "Alexa | Smart Home",
        "disabled": false,
        "info": ""
    },
    {
        "id": "997b60db.958c4",
        "type": "tab",
        "label": "Light Automations",
        "disabled": false,
        "info": ""
    },
    {
        "id": "850c061.bcd9ef8",
        "type": "tab",
        "label": "Hoplite Automation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fb14b77d.472098",
        "type": "tab",
        "label": "Sonos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7a870af1.025c84",
        "type": "tab",
        "label": "LCD 1602",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2d3b6811.740538",
        "type": "tab",
        "label": "Slack",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6b041d7.60aaee4",
        "type": "subflow",
        "name": "Blink Hoplite Yellow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 340,
                "y": 500,
                "wires": [
                    {
                        "id": "3fe22012.3dcec"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 620,
                "wires": [
                    {
                        "id": "ecec5b7c.ee3a68",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "64f3502b.1d232",
        "type": "subflow",
        "name": "Blink Hoplite Green",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 440,
                "y": 280,
                "wires": [
                    {
                        "id": "c827ee7d.c3346"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 900,
                "y": 400,
                "wires": [
                    {
                        "id": "33728d18.352492",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "66959060.dd999",
        "type": "subflow",
        "name": "Blink Hoplite Purple",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 360,
                "y": 220,
                "wires": [
                    {
                        "id": "9034f14.e70601"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 340,
                "wires": [
                    {
                        "id": "9118336b.0de3b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "a117d285.11d84",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": true
    },
    {
        "id": "8a0c2cc0.358c6",
        "type": "alexa-home-conf",
        "z": "",
        "username": "mpscherrer"
    },
    {
        "id": "44deb46d.8fe2ec",
        "type": "mqtt-broker",
        "z": "",
        "name": "mosquitto",
        "broker": "192.168.1.222",
        "port": "1883",
        "clientid": "node-red",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2b041670.11152a",
        "type": "comment",
        "z": "363f3bc3.b66854",
        "name": "Dohm Timer",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "9f2e46b7.353798",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "f8ea6fa7.56e3"
            ],
            [
                "ee547ffa.9fe78"
            ]
        ]
    },
    {
        "id": "a182130.33b37f",
        "type": "schedex",
        "z": "363f3bc3.b66854",
        "name": "Timer",
        "suspended": false,
        "lat": "40.791",
        "lon": "-73.9256",
        "ontime": "8:30",
        "ontopic": "payload",
        "onpayload": "ON",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "22:00",
        "offtopic": "payload",
        "offpayload": "OFF",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "9f2e46b7.353798"
            ]
        ]
    },
    {
        "id": "84f6f37e.8d52a",
        "type": "comment",
        "z": "363f3bc3.b66854",
        "name": "Petcube Timer",
        "info": "",
        "x": 120,
        "y": 200,
        "wires": []
    },
    {
        "id": "85290d16.ec23",
        "type": "http in",
        "z": "e3d5be61.6eb31",
        "name": "/receiver",
        "url": "/receiver",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "4e07606a.597f3"
            ]
        ]
    },
    {
        "id": "4634e6bc.8254b8",
        "type": "switch",
        "z": "e3d5be61.6eb31",
        "name": "Request",
        "property": "payload.request.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "LaunchRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "IntentRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SessionEndedRequest",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 460,
        "y": 260,
        "wires": [
            [
                "842a3bb7.aaf108"
            ],
            [
                "7e7cb269.9a1cac"
            ],
            [
                "28db4b5d.5559a4"
            ],
            [
                "290b8f41.ae30e"
            ]
        ]
    },
    {
        "id": "4e07606a.597f3",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Extract User",
        "func": "msg.userId = msg.payload.session.user.userId;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "4634e6bc.8254b8"
            ]
        ]
    },
    {
        "id": "7e7cb269.9a1cac",
        "type": "switch",
        "z": "e3d5be61.6eb31",
        "name": "Intent Switch",
        "property": "payload.request.intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ReceiverPowerStatusIntent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ReceiverSourceStatusIntent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ReceiverSetSourceIntent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ReceiverSetVolumeIntent",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "fca45d2c.74de4"
            ],
            [
                "877d0c62.b88f4"
            ],
            [
                "be335484.4775f8"
            ],
            [
                "5e39cf05.8e38d"
            ],
            [
                "290b8f41.ae30e"
            ]
        ]
    },
    {
        "id": "80992288.c825d",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "State response",
        "func": "msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> The receiver is \"  + msg.payload + \" </speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak> The receiver is \"  + msg.payload + \" </speak>\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 420,
        "wires": [
            [
                "a1d91d4c.91383"
            ]
        ]
    },
    {
        "id": "fca45d2c.74de4",
        "type": "api-current-state",
        "z": "e3d5be61.6eb31",
        "name": "Receiver State",
        "server": "a117d285.11d84",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "media_player.receiver",
        "x": 380,
        "y": 420,
        "wires": [
            [
                "80992288.c825d"
            ]
        ]
    },
    {
        "id": "91e4cea5.964ee",
        "type": "poll-state",
        "z": "e3d5be61.6eb31",
        "name": "Receiver State",
        "server": "a117d285.11d84",
        "updateinterval": "",
        "outputinitially": true,
        "outputonchanged": true,
        "entity_id": "media_player.receiver",
        "x": 120,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "572ed60a.82cf98",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Parse source",
        "func": "msg.payload = msg.data.attributes.source;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 520,
        "wires": [
            [
                "aeabb859.756fa8"
            ]
        ]
    },
    {
        "id": "aeabb859.756fa8",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Source response",
        "func": "msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> The receiver source is \"  + msg.payload + \" </speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak> The receiver source is \"  + msg.payload + \" </speak>\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 520,
        "wires": [
            [
                "a2fdab95.4bf0b8"
            ]
        ]
    },
    {
        "id": "28db4b5d.5559a4",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "End Session Message",
        "func": "msg.payload = {\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> Goodbye human! </speak>\"\n    },\n    \"shouldEndSession\": true\n  },\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 220,
        "wires": [
            [
                "e91c4ff4.6f9a4"
            ]
        ]
    },
    {
        "id": "842a3bb7.aaf108",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Start Session Message",
        "func": "msg.payload = {\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"SSML\",\n            \"ssml\": \"<speak> Hello! I am your receiver.</speak>\"\n        },\n        \"shouldEndSession\": false\n    },\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 160,
        "wires": [
            [
                "e91c4ff4.6f9a4"
            ]
        ]
    },
    {
        "id": "e91c4ff4.6f9a4",
        "type": "http response",
        "z": "e3d5be61.6eb31",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "5c7672bb.bbfd7c",
        "type": "comment",
        "z": "e3d5be61.6eb31",
        "name": "Power Status Request",
        "info": "",
        "x": 400,
        "y": 380,
        "wires": []
    },
    {
        "id": "a10f888c.7422a8",
        "type": "comment",
        "z": "e3d5be61.6eb31",
        "name": "Source Status Request",
        "info": "",
        "x": 400,
        "y": 480,
        "wires": []
    },
    {
        "id": "877d0c62.b88f4",
        "type": "api-current-state",
        "z": "e3d5be61.6eb31",
        "name": "Receiver State",
        "server": "a117d285.11d84",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "media_player.receiver",
        "x": 380,
        "y": 520,
        "wires": [
            [
                "572ed60a.82cf98"
            ]
        ]
    },
    {
        "id": "290b8f41.ae30e",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Unknown Message",
        "func": "msg.payload = {\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> You haven't taught me that. </speak>\"\n    },\n    \"shouldEndSession\": true\n  },\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 280,
        "wires": [
            [
                "e91c4ff4.6f9a4"
            ]
        ]
    },
    {
        "id": "a2fdab95.4bf0b8",
        "type": "http response",
        "z": "e3d5be61.6eb31",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 520,
        "wires": []
    },
    {
        "id": "a1d91d4c.91383",
        "type": "http response",
        "z": "e3d5be61.6eb31",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "7978e7c.2c94f18",
        "type": "api-call-service",
        "z": "e3d5be61.6eb31",
        "name": "Select Source",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "select_source",
        "data": "{ }",
        "mergecontext": "",
        "x": 560,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "be335484.4775f8",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Extract source",
        "func": "raw_source = msg.payload.request.intent.slots.source.value;\n\n// Fix source casing on raw source\nsource_mapper = {\n   'apple tv': 'Apple TV',\n   'ps4': 'PS4',\n   'playstation': 'PS4',\n   'p.s. 4': 'PS4',\n   'game': 'GAME',\n   'pc': 'PC',\n   'fire stick': 'Fire Stick',\n   'am tuner': 'AM Tuner',\n   'fm tuner': 'FM Tuner',\n   'technics': 'Technics',\n   'turntable': 'Technics',\n   'record player': 'Technics',\n   'usb': 'USB'\n}\n\nmsg.payload.data = { \n    \"entity_id\" : \"media_player.receiver\", \n    \"source\" : source_mapper[raw_source.toLowerCase()]\n\n }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 620,
        "wires": [
            [
                "59ebb73a.33d6f8",
                "7978e7c.2c94f18"
            ]
        ]
    },
    {
        "id": "59ebb73a.33d6f8",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Confirm source",
        "func": "msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> The receiver is set to \"  + msg.payload.data.source + \" </speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak> The receiver is set to \"  + msg.payload.data.source + \" </speak>\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 660,
        "wires": [
            [
                "c1fd73b0.34e89"
            ]
        ]
    },
    {
        "id": "c1fd73b0.34e89",
        "type": "http response",
        "z": "e3d5be61.6eb31",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "c1331b8e.a9a1d8",
        "type": "comment",
        "z": "e3d5be61.6eb31",
        "name": "Source Set Request",
        "info": "",
        "x": 390,
        "y": 580,
        "wires": []
    },
    {
        "id": "7433e2ef.ceb25c",
        "type": "comment",
        "z": "e3d5be61.6eb31",
        "name": "Volume Set Request",
        "info": "",
        "x": 390,
        "y": 720,
        "wires": []
    },
    {
        "id": "5e39cf05.8e38d",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Extract volume",
        "func": "volume_level = msg.payload.request.intent.slots.volume_level.value;\nvolume_level = volume_level / 77.0;\n\nmsg.payload.data = { \n    \"entity_id\" : \"media_player.receiver\", \n    \"volume_level\" : volume_level\n\n }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 760,
        "wires": [
            [
                "cc9c1d86.8f1f3",
                "4f07a0d2.e55e2"
            ]
        ]
    },
    {
        "id": "cc9c1d86.8f1f3",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Confirm volume",
        "func": "msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak>Sure thing.</speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak>Sure thing.</speak>\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 800,
        "wires": [
            [
                "ca9aa129.9da12"
            ]
        ]
    },
    {
        "id": "ca9aa129.9da12",
        "type": "http response",
        "z": "e3d5be61.6eb31",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 800,
        "wires": []
    },
    {
        "id": "4f07a0d2.e55e2",
        "type": "api-call-service",
        "z": "e3d5be61.6eb31",
        "name": "Volume Set",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "volume_set",
        "data": "{ }",
        "mergecontext": "",
        "x": 550,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "51eac358.4fab04",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "26648",
        "acknoledge": true,
        "name": "Bookcase",
        "topic": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "ed32dd4d.e1426"
            ]
        ]
    },
    {
        "id": "15092e47.0fb12a",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.bookcase\" }",
        "mergecontext": "",
        "x": 390,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "38bf77a6.ed13b",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.bookcase\" }",
        "mergecontext": "",
        "x": 390,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ed32dd4d.e1426",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 60,
        "wires": [
            [
                "15092e47.0fb12a"
            ],
            [
                "38bf77a6.ed13b"
            ]
        ]
    },
    {
        "id": "6571eed4.63a09",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "26650",
        "acknoledge": true,
        "name": "Receiver",
        "topic": "",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "3a0f2461.679edc"
            ]
        ]
    },
    {
        "id": "3a0f2461.679edc",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "5d1edff9.61d0c8"
            ],
            [
                "1cc308ec.edac6f"
            ]
        ]
    },
    {
        "id": "5d1edff9.61d0c8",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "turn_on",
        "data": "{\"entity_id\": \"media_player.receiver\" }",
        "mergecontext": "",
        "x": 390,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1cc308ec.edac6f",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "turn_off",
        "data": "{\"entity_id\":\"media_player.receiver\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 390,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "21ec44d.35fd63c",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "26760",
        "acknoledge": true,
        "name": "Petcube",
        "topic": "",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "10d8123c.29d67e"
            ]
        ]
    },
    {
        "id": "227c7a08.df2506",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "26758",
        "acknoledge": true,
        "name": "TV",
        "topic": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "438b0a98.c275a4"
            ]
        ]
    },
    {
        "id": "cd85b7a0.2402b",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.living_room_tv\" }",
        "mergecontext": "",
        "x": 390,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e000b449.9a17b8",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.living_room_tv\" }",
        "mergecontext": "",
        "x": 390,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "438b0a98.c275a4",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "cd85b7a0.2402b"
            ],
            [
                "e000b449.9a17b8"
            ]
        ]
    },
    {
        "id": "10d8123c.29d67e",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 460,
        "wires": [
            [
                "18b33da0.4d3dc2"
            ],
            [
                "f5191b83.66e38"
            ]
        ]
    },
    {
        "id": "18b33da0.4d3dc2",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.petcube\" }",
        "mergecontext": "",
        "x": 390,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f5191b83.66e38",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.petcube\" }",
        "mergecontext": "",
        "x": 390,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "15bb29b2.0de386",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "27035",
        "acknoledge": true,
        "name": "Hoplite",
        "topic": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "7015d758.68b148"
            ]
        ]
    },
    {
        "id": "7015d758.68b148",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetColorRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 580,
        "wires": [
            [
                "b668d90a.0fd928"
            ],
            [
                "4f8b0791.29fd48"
            ],
            [
                "90878e80.69259"
            ]
        ]
    },
    {
        "id": "b668d90a.0fd928",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\": \"light.hoplite\" }",
        "mergecontext": "",
        "x": 390,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4f8b0791.29fd48",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\": \"light.hoplite\" }",
        "mergecontext": "",
        "x": 390,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a1d92c9b.1474e",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Set Color",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{}",
        "render_data": false,
        "mergecontext": "",
        "x": 560,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "90878e80.69259",
        "type": "function",
        "z": "7538960a.bfe8b8",
        "name": "Parse HS",
        "func": "msg.payload.data = {\n    \"entity_id\" : \"light.hoplite\",\n    \"hs_color\": [\n        msg.payload.hue,\n        msg.payload.saturation * 100\n    ],\n    \"effect\": \"solid\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 620,
        "wires": [
            [
                "a1d92c9b.1474e"
            ]
        ]
    },
    {
        "id": "32ef421b.55d15e",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "27043",
        "acknoledge": true,
        "name": "Blue Jar",
        "topic": "",
        "x": 100,
        "y": 740,
        "wires": [
            [
                "a82a7537.7f4b88"
            ]
        ]
    },
    {
        "id": "a82a7537.7f4b88",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetColorRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 740,
        "wires": [
            [
                "95599443.d3e728"
            ],
            [
                "24ca5e8.40514a2"
            ],
            [
                "93cf6a71.c07208"
            ]
        ]
    },
    {
        "id": "95599443.d3e728",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\": \"light.blue_jar\" }",
        "mergecontext": "",
        "x": 390,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "24ca5e8.40514a2",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\": \"light.blue_jar\" }",
        "mergecontext": "",
        "x": 390,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "5e6c5e23.e3eff",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Set Color",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{}",
        "mergecontext": "",
        "x": 560,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "93cf6a71.c07208",
        "type": "function",
        "z": "7538960a.bfe8b8",
        "name": "Parse HS",
        "func": "msg.payload.data = {\n    \"entity_id\" : \"light.blue_jar\",\n    \"hs_color\": [\n        msg.payload.hue,\n        msg.payload.saturation * 100\n    ],\n    \"effect\": \"solid\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 780,
        "wires": [
            [
                "5e6c5e23.e3eff"
            ]
        ]
    },
    {
        "id": "5fbbf998.171218",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "28018",
        "acknoledge": true,
        "name": "Lava Lamp",
        "topic": "",
        "x": 680,
        "y": 60,
        "wires": [
            [
                "364f545.cbf55ac"
            ]
        ]
    },
    {
        "id": "1b14998a.829b46",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.lava_lamp\" }",
        "mergecontext": "",
        "x": 970,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "3d8adb03.b8bf54",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.lava_lamp\" }",
        "mergecontext": "",
        "x": 970,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "364f545.cbf55ac",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 60,
        "wires": [
            [
                "1b14998a.829b46"
            ],
            [
                "3d8adb03.b8bf54"
            ]
        ]
    },
    {
        "id": "77ee23eb.c3c21c",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "28017",
        "acknoledge": true,
        "name": "Lite Brite",
        "topic": "",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "c4d2406e.132d2"
            ]
        ]
    },
    {
        "id": "9150007.5f0e5",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.lite_brite\" }",
        "mergecontext": "",
        "x": 990,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "847b24.7dce34e",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.lite_brite\" }",
        "mergecontext": "",
        "x": 990,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c4d2406e.132d2",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 200,
        "wires": [
            [
                "9150007.5f0e5"
            ],
            [
                "847b24.7dce34e"
            ]
        ]
    },
    {
        "id": "4a4c1fd0.ed9b1",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "28036",
        "acknoledge": true,
        "name": "Helmet",
        "topic": "",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "7015d758.68b148"
            ]
        ]
    },
    {
        "id": "61d88b46.e276b4",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "28656",
        "acknoledge": true,
        "name": "Vines",
        "topic": "",
        "x": 70,
        "y": 880,
        "wires": [
            [
                "6f29d5c1.5a4fac"
            ]
        ]
    },
    {
        "id": "6f29d5c1.5a4fac",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetColorRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 880,
        "wires": [
            [
                "47022f91.e0416"
            ],
            [
                "fd3bf8b2.3f3e58"
            ],
            [
                "e763f720.f84168"
            ]
        ]
    },
    {
        "id": "47022f91.e0416",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\": \"light.vines\" }",
        "mergecontext": "",
        "x": 390,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "fd3bf8b2.3f3e58",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\": \"light.vines\" }",
        "mergecontext": "",
        "x": 390,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "51917efa.0e065",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Set Color",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{}",
        "mergecontext": "",
        "x": 560,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "e763f720.f84168",
        "type": "function",
        "z": "7538960a.bfe8b8",
        "name": "Parse HS",
        "func": "msg.payload.data = {\n    \"entity_id\" : \"light.vines\",\n    \"hs_color\": [\n        msg.payload.hue,\n        msg.payload.saturation * 100\n    ],\n    \"effect\": \"solid\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 920,
        "wires": [
            [
                "51917efa.0e065"
            ]
        ]
    },
    {
        "id": "141a3dc8.e1a452",
        "type": "mqtt out",
        "z": "64f3502b.1d232",
        "name": "Hoplite",
        "topic": "wemos/hoplite/set",
        "qos": "0",
        "retain": "true",
        "broker": "44deb46d.8fe2ec",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "c827ee7d.c3346",
        "type": "template",
        "z": "64f3502b.1d232",
        "name": "Green",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"state\":\"ON\",\"color\":{\"r\":0,\"g\":255,\"b\":0},\"brightness\":100,\"speed\":60,\"effect\":\"static\"}",
        "output": "json",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "5eeff176.c28e4",
                "141a3dc8.e1a452"
            ]
        ]
    },
    {
        "id": "5eeff176.c28e4",
        "type": "delay",
        "z": "64f3502b.1d232",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "88c84be2.355af8"
            ]
        ]
    },
    {
        "id": "88c84be2.355af8",
        "type": "template",
        "z": "64f3502b.1d232",
        "name": "OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"state\":\"OFF\", \"speed\":60,\"effect\":\"static\"}",
        "output": "json",
        "x": 690,
        "y": 360,
        "wires": [
            [
                "33728d18.352492",
                "141a3dc8.e1a452"
            ]
        ]
    },
    {
        "id": "33728d18.352492",
        "type": "delay",
        "z": "64f3502b.1d232",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 760,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3fe22012.3dcec",
        "type": "template",
        "z": "6b041d7.60aaee4",
        "name": "Yellow",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"state\":\"ON\",\"color\":{\"r\":255,\"g\":255,\"b\":0},\"brightness\":100,\"speed\":60,\"effect\":\"static\"}",
        "output": "json",
        "x": 470,
        "y": 500,
        "wires": [
            [
                "d0333f68.29113",
                "94e9bf.9f49064"
            ]
        ]
    },
    {
        "id": "d0333f68.29113",
        "type": "delay",
        "z": "6b041d7.60aaee4",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 520,
        "y": 540,
        "wires": [
            [
                "7d1bb1dc.a26cb"
            ]
        ]
    },
    {
        "id": "7d1bb1dc.a26cb",
        "type": "template",
        "z": "6b041d7.60aaee4",
        "name": "OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"state\":\"OFF\", \"effect\":\"static\"}",
        "output": "json",
        "x": 590,
        "y": 580,
        "wires": [
            [
                "ecec5b7c.ee3a68",
                "94e9bf.9f49064"
            ]
        ]
    },
    {
        "id": "ecec5b7c.ee3a68",
        "type": "delay",
        "z": "6b041d7.60aaee4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 640,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "94e9bf.9f49064",
        "type": "mqtt out",
        "z": "6b041d7.60aaee4",
        "name": "Hoplite",
        "topic": "wemos/hoplite/set",
        "qos": "0",
        "retain": "true",
        "broker": "44deb46d.8fe2ec",
        "x": 720,
        "y": 540,
        "wires": []
    },
    {
        "id": "adc9f68e.c70ee8",
        "type": "comment",
        "z": "997b60db.958c4",
        "name": "Turn on bedroom mood lights",
        "info": "",
        "x": 180,
        "y": 120,
        "wires": []
    },
    {
        "id": "47f7f7fb.876968",
        "type": "comment",
        "z": "997b60db.958c4",
        "name": "Turn on lights when arriving home",
        "info": "",
        "x": 190,
        "y": 320,
        "wires": []
    },
    {
        "id": "9c83d9dd.b5b388",
        "type": "api-current-state",
        "z": "997b60db.958c4",
        "name": "Already on?",
        "server": "a117d285.11d84",
        "halt_if": "on",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "switch.headboard",
        "x": 1250,
        "y": 60,
        "wires": [
            [
                "5e565b12.5c62c4"
            ]
        ]
    },
    {
        "id": "5e565b12.5c62c4",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Headboard On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.headboard\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1440,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a1359a24.3bf698",
        "type": "stoptimer",
        "z": "997b60db.958c4",
        "duration": "10",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "10min",
        "x": 1210,
        "y": 193,
        "wires": [
            [
                "ea01825b.f97a1",
                "93d1e7db.883978"
            ],
            []
        ]
    },
    {
        "id": "ea01825b.f97a1",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Headboard Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.headboard\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1380,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "dbb8add4.7dc458",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "30595",
        "acknoledge": true,
        "name": "Ivy",
        "topic": "",
        "x": 70,
        "y": 940,
        "wires": [
            [
                "6f29d5c1.5a4fac"
            ]
        ]
    },
    {
        "id": "4d46c426.a97b7c",
        "type": "time-range-switch",
        "z": "997b60db.958c4",
        "name": "Sunset - 12am",
        "lat": "40.7799",
        "lon": "-73.94872",
        "startTime": "sunsetStart",
        "endTime": "00:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 940,
        "y": 193,
        "wires": [
            [
                "9c83d9dd.b5b388",
                "a1359a24.3bf698",
                "d31d0e2a.03903"
            ],
            []
        ]
    },
    {
        "id": "85436fe2.b223c",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Switch On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{ \"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 890,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9e772518.f88288",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Switch Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 990,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c3563fbb.ff7c7",
        "type": "switch",
        "z": "997b60db.958c4",
        "name": "Anyone home?",
        "property": "anyone_home_plus_guests",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 700,
        "y": 400,
        "wires": [
            [],
            [
                "d0eba56e.f44ce8"
            ]
        ]
    },
    {
        "id": "f967442c.b94d18",
        "type": "time-range-switch",
        "z": "997b60db.958c4",
        "name": "Sunset - 11pm",
        "lat": "40.7799",
        "lon": "-73.94872",
        "startTime": "sunsetStart",
        "endTime": "23:00",
        "startOffset": "",
        "endOffset": "",
        "x": 940,
        "y": 100,
        "wires": [
            [
                "9c83d9dd.b5b388",
                "a1359a24.3bf698",
                "d31d0e2a.03903"
            ],
            []
        ]
    },
    {
        "id": "48ecd7d8.c630d8",
        "type": "weekday",
        "z": "997b60db.958c4",
        "name": "Weekday?",
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": false,
        "sat": false,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "f967442c.b94d18"
            ],
            [
                "4d46c426.a97b7c"
            ]
        ]
    },
    {
        "id": "ee2fa122.3ef8c",
        "type": "mqtt in",
        "z": "997b60db.958c4",
        "name": "Front Door",
        "topic": "zigbee2mqtt/front_door_sensor",
        "qos": "0",
        "broker": "44deb46d.8fe2ec",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "9bbc3b2f.e95368"
            ]
        ]
    },
    {
        "id": "9bbc3b2f.e95368",
        "type": "json",
        "z": "997b60db.958c4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "75164f35.ff5ad"
            ]
        ]
    },
    {
        "id": "f6d5679d.109f48",
        "type": "switch",
        "z": "997b60db.958c4",
        "name": "Door open?",
        "property": "payload.contact",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 380,
        "wires": [
            [
                "c3563fbb.ff7c7",
                "6cf11250.e7546c"
            ]
        ]
    },
    {
        "id": "7d6991a9.3f175",
        "type": "mqtt in",
        "z": "997b60db.958c4",
        "name": "Bedroom Motion",
        "topic": "zigbee2mqtt/bedroom_motion_sensor",
        "qos": "0",
        "broker": "44deb46d.8fe2ec",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "1c2cbfb9.2cc0a"
            ]
        ]
    },
    {
        "id": "1c2cbfb9.2cc0a",
        "type": "json",
        "z": "997b60db.958c4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "d6290bdd.153228"
            ]
        ]
    },
    {
        "id": "d6290bdd.153228",
        "type": "switch",
        "z": "997b60db.958c4",
        "name": "Motion?",
        "property": "payload.occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "9151ae61.0ba7b"
            ]
        ]
    },
    {
        "id": "614493c.c179d6c",
        "type": "mqtt in",
        "z": "997b60db.958c4",
        "name": "Cube",
        "topic": "zigbee2mqtt/mi_cube",
        "qos": "0",
        "broker": "44deb46d.8fe2ec",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "68b016b1.5aacf8"
            ]
        ]
    },
    {
        "id": "68b016b1.5aacf8",
        "type": "json",
        "z": "997b60db.958c4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 600,
        "wires": [
            [
                "32feede3.865e42"
            ]
        ]
    },
    {
        "id": "32feede3.865e42",
        "type": "switch",
        "z": "997b60db.958c4",
        "name": "Action?",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "shake",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fall",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 600,
        "wires": [
            [
                "6d27c1a4.8611e"
            ],
            [
                "373b535f.097f8c"
            ]
        ]
    },
    {
        "id": "efc1032f.5dbac",
        "type": "comment",
        "z": "997b60db.958c4",
        "name": "Control Lights with Cube",
        "info": "",
        "x": 170,
        "y": 560,
        "wires": []
    },
    {
        "id": "9199e494.bef118",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Set Color",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{}",
        "mergecontext": "",
        "x": 700,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6d27c1a4.8611e",
        "type": "function",
        "z": "997b60db.958c4",
        "name": "Random Hue",
        "func": "random_hue = Math.floor(Math.random() * 361);\nsaturation = 100;\n\nmsg.payload.data = {\n    \"entity_id\" : [\"light.blue_jar\", \"light.vines\", \"light.hoplite\", \"light.calavera\"],\n    \"hs_color\": [\n        random_hue,\n        saturation\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "9199e494.bef118"
            ]
        ]
    },
    {
        "id": "373b535f.097f8c",
        "type": "function",
        "z": "997b60db.958c4",
        "name": "Set White",
        "func": "msg.payload.data = {\n    \"entity_id\" : [\"light.blue_jar\", \"light.vines\", \"light.hoplite\", \"light.calavera\"],\n    \"hs_color\": [\n        360,\n        0\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 640,
        "wires": [
            [
                "9199e494.bef118"
            ]
        ]
    },
    {
        "id": "34f6863e.81765a",
        "type": "comment",
        "z": "997b60db.958c4",
        "name": "Shake",
        "info": "",
        "x": 510,
        "y": 520,
        "wires": []
    },
    {
        "id": "3e381a1.feceae6",
        "type": "comment",
        "z": "997b60db.958c4",
        "name": "Tap",
        "info": "",
        "x": 510,
        "y": 600,
        "wires": []
    },
    {
        "id": "75164f35.ff5ad",
        "type": "time-range-switch",
        "z": "997b60db.958c4",
        "name": "Evening",
        "lat": "40.7799",
        "lon": "-73.94872",
        "startTime": "sunset",
        "endTime": "03:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "f6d5679d.109f48"
            ],
            []
        ]
    },
    {
        "id": "76d44f65.1a05f",
        "type": "actionflows",
        "z": "850c061.bcd9ef8",
        "info": "Describe your action API here.",
        "untilproptype": "bool",
        "proptype": "flow",
        "name": "delay",
        "prop": "alert",
        "untilprop": "false",
        "until": "eq",
        "loop": "watch",
        "scope": "protected",
        "perf": false,
        "seq": false,
        "x": 930,
        "y": 680,
        "wires": [
            [
                "fa8e9b09.d416f8"
            ]
        ]
    },
    {
        "id": "1111c7e.c1dcc38",
        "type": "poll-state",
        "z": "850c061.bcd9ef8",
        "name": "4 Train",
        "server": "a117d285.11d84",
        "updateinterval": "5",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "sensor.mta_subway_4",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "650302f8.6f3d2c"
            ]
        ]
    },
    {
        "id": "67fb45fd.0b8adc",
        "type": "poll-state",
        "z": "850c061.bcd9ef8",
        "name": "5 Train",
        "server": "a117d285.11d84",
        "updateinterval": "5",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "sensor.mta_subway_5",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "e653ad39.1e0c"
            ]
        ]
    },
    {
        "id": "f235d2dd.6c8cc",
        "type": "poll-state",
        "z": "850c061.bcd9ef8",
        "name": "6 Train",
        "server": "a117d285.11d84",
        "updateinterval": "5",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "sensor.mta_subway_6",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "e8b14588.ca1618"
            ]
        ]
    },
    {
        "id": "c818cf87.1f2ca",
        "type": "poll-state",
        "z": "850c061.bcd9ef8",
        "name": "Q Train",
        "server": "a117d285.11d84",
        "updateinterval": "5",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "sensor.mta_subway_q",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "ba572605.37bfc8"
            ]
        ]
    },
    {
        "id": "860b1be6.3ccc18",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Train Status",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "ba572605.37bfc8",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Delayed?",
        "func": "// Returns true if train is delayed\nmsg.payload = (\n    msg.payload === \"Delays\"\n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 280,
        "wires": [
            [
                "9ab7aa3a.cb1828"
            ]
        ]
    },
    {
        "id": "9ab7aa3a.cb1828",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays Q?",
        "rules": [
            {
                "t": "set",
                "p": "delays_Q",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "650302f8.6f3d2c",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Delayed?",
        "func": "// Returns true if train is delayed\nmsg.payload = (\n    msg.payload === \"Delays\"\n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "f67bf26a.1222f"
            ]
        ]
    },
    {
        "id": "f67bf26a.1222f",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays 4?",
        "rules": [
            {
                "t": "set",
                "p": "delays_4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 100,
        "wires": [
            [
                "73b3317f.d2a07"
            ]
        ]
    },
    {
        "id": "e653ad39.1e0c",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Delayed?",
        "func": "// Returns true if train is delayed\nmsg.payload = (\n    msg.payload === \"Delays\"\n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "955bdb0.b690628"
            ]
        ]
    },
    {
        "id": "955bdb0.b690628",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays 5?",
        "rules": [
            {
                "t": "set",
                "p": "delays_5",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "73b3317f.d2a07"
            ]
        ]
    },
    {
        "id": "e8b14588.ca1618",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Delayed?",
        "func": "// Returns true if train is delayed\nmsg.payload = (\n    msg.payload === \"Delays\"\n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "9b8a0c7e.533cc"
            ]
        ]
    },
    {
        "id": "9b8a0c7e.533cc",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays 6?",
        "rules": [
            {
                "t": "set",
                "p": "delays_6",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "73b3317f.d2a07"
            ]
        ]
    },
    {
        "id": "73b3317f.d2a07",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Any delayed?",
        "func": "\n// Returns true if any trains are delayed\nmsg.payload = [\n   flow.get(\"delays_4\"),\n   flow.get(\"delays_5\"),\n   flow.get(\"delays_6\")\n].some(function(x) { \n    return x\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 160,
        "wires": [
            [
                "5d2b5e05.e7cf6"
            ]
        ]
    },
    {
        "id": "5d2b5e05.e7cf6",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays 4/5/6?",
        "rules": [
            {
                "t": "set",
                "p": "delays_456",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "20471b1f.901664",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "",
        "topic": "",
        "payload": "Delays",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "aaea66e0.1826a8"
            ]
        ]
    },
    {
        "id": "d45e1010.de006",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "",
        "topic": "",
        "payload": "Good Service",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "aaea66e0.1826a8"
            ]
        ]
    },
    {
        "id": "fe766ad0.7e6658",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Delayed?",
        "func": "// Returns true if train is delayed\nmsg.payload = (\n    msg.payload.data.state === \"Delays\"\n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "9ea42f59.7caf"
            ]
        ]
    },
    {
        "id": "9ea42f59.7caf",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays Q?",
        "rules": [
            {
                "t": "set",
                "p": "delays_Q",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "aaea66e0.1826a8",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Toggle delay",
        "func": "msg.payload = {\n    'data': {\n        'state': msg.payload\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 280,
        "wires": [
            [
                "fe766ad0.7e6658"
            ]
        ]
    },
    {
        "id": "ba157b1c.c71f38",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "",
        "topic": "",
        "payload": "Delays",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "d8d89f47.9db48"
            ]
        ]
    },
    {
        "id": "71442504.c3917c",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "",
        "topic": "",
        "payload": "Good Service",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 770,
        "y": 340,
        "wires": [
            [
                "d8d89f47.9db48"
            ]
        ]
    },
    {
        "id": "628d5f5e.dd24b",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Delayed?",
        "func": "// Returns true if train is delayed\nmsg.payload = (\n    msg.payload.data.state === \"Delays\"\n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 360,
        "wires": [
            [
                "9a04a354.a7e68"
            ]
        ]
    },
    {
        "id": "9a04a354.a7e68",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays 456?",
        "rules": [
            {
                "t": "set",
                "p": "delays_456",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d8d89f47.9db48",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Toggle delay",
        "func": "msg.payload = {\n    'data': {\n        'state': msg.payload\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 360,
        "wires": [
            [
                "628d5f5e.dd24b"
            ]
        ]
    },
    {
        "id": "fa323be9.c1f8a8",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Lock",
        "rules": [
            {
                "t": "set",
                "p": "delay_lock",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 800,
        "wires": [
            [
                "42e1bfaf.011df"
            ]
        ]
    },
    {
        "id": "8c03087e.4d2f48",
        "type": "actionflows_in",
        "z": "850c061.bcd9ef8",
        "name": "delay lock in",
        "priority": "1",
        "links": [],
        "scope": "protected",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "c8585618.276948"
            ]
        ]
    },
    {
        "id": "42e1bfaf.011df",
        "type": "actionflows_out",
        "z": "850c061.bcd9ef8",
        "name": "delay lock out",
        "links": [],
        "x": 480,
        "y": 840,
        "wires": []
    },
    {
        "id": "c8585618.276948",
        "type": "switch",
        "z": "850c061.bcd9ef8",
        "name": "Not locked?",
        "property": "delay_lock",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 290,
        "y": 820,
        "wires": [
            [
                "fa323be9.c1f8a8"
            ],
            [
                "fa323be9.c1f8a8"
            ],
            [
                "42e1bfaf.011df"
            ]
        ]
    },
    {
        "id": "fa8e9b09.d416f8",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Unlock",
        "rules": [
            {
                "t": "set",
                "p": "delay_lock",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "305a1ec0.2b2a72",
        "type": "switch",
        "z": "850c061.bcd9ef8",
        "name": "Not locked?",
        "property": "delay_lock",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 680,
        "wires": [
            [
                "76d44f65.1a05f"
            ],
            [
                "76d44f65.1a05f"
            ]
        ]
    },
    {
        "id": "2ad90640.bebfda",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "10s Trigger",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 680,
        "wires": [
            [
                "cb6f54d9.d4f718"
            ]
        ]
    },
    {
        "id": "3bc79b39.5ea474",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "Unlock",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 140,
        "y": 580,
        "wires": [
            [
                "c52b8ec2.dffc7"
            ]
        ]
    },
    {
        "id": "c52b8ec2.dffc7",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Unlock",
        "rules": [
            {
                "t": "set",
                "p": "delay_lock",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "cb6f54d9.d4f718",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Any alerts?",
        "func": "\n// Returns true if any alerts\nmsg.payload = [\n   flow.get(\"delays_456\"),\n   flow.get(\"delays_Q\"),\n   flow.get(\"delays_7\"),\n].some(function(x) { \n    return x\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 680,
        "wires": [
            [
                "ba1ee49f.ed0338"
            ]
        ]
    },
    {
        "id": "ba1ee49f.ed0338",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Alert?",
        "rules": [
            {
                "t": "set",
                "p": "alert",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 680,
        "wires": [
            [
                "bc4b116a.86189"
            ]
        ]
    },
    {
        "id": "401d7553.833acc",
        "type": "actionflows_in",
        "z": "850c061.bcd9ef8",
        "name": "delay Q in",
        "priority": "50",
        "links": [],
        "scope": "protected",
        "x": 120,
        "y": 1060,
        "wires": [
            [
                "d42da472.573238"
            ]
        ]
    },
    {
        "id": "d0f289f4.a2c5f8",
        "type": "actionflows_out",
        "z": "850c061.bcd9ef8",
        "name": "delay Q out",
        "links": [],
        "x": 450,
        "y": 1080,
        "wires": []
    },
    {
        "id": "dedf4432.211068",
        "type": "subflow:6b041d7.60aaee4",
        "z": "850c061.bcd9ef8",
        "name": "",
        "x": 430,
        "y": 1040,
        "wires": [
            [
                "d0f289f4.a2c5f8"
            ]
        ]
    },
    {
        "id": "d42da472.573238",
        "type": "switch",
        "z": "850c061.bcd9ef8",
        "name": "Q?",
        "property": "delays_Q",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 1060,
        "wires": [
            [
                "dedf4432.211068"
            ],
            [
                "d0f289f4.a2c5f8"
            ]
        ]
    },
    {
        "id": "b117d93c.07f688",
        "type": "actionflows_in",
        "z": "850c061.bcd9ef8",
        "name": "delay 4/5/6 in",
        "priority": "51",
        "links": [],
        "scope": "protected",
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "522b9226.fcb06c"
            ]
        ]
    },
    {
        "id": "ecde20c0.53017",
        "type": "actionflows_out",
        "z": "850c061.bcd9ef8",
        "name": "delay 4/5/6 out",
        "links": [],
        "x": 440,
        "y": 1180,
        "wires": []
    },
    {
        "id": "522b9226.fcb06c",
        "type": "switch",
        "z": "850c061.bcd9ef8",
        "name": "4/5/6?",
        "property": "delays_456",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 1160,
        "wires": [
            [
                "b622450a.3cdef8"
            ],
            [
                "ecde20c0.53017"
            ]
        ]
    },
    {
        "id": "b622450a.3cdef8",
        "type": "subflow:64f3502b.1d232",
        "z": "850c061.bcd9ef8",
        "name": "",
        "env": [],
        "x": 430,
        "y": 1140,
        "wires": [
            [
                "ecde20c0.53017"
            ]
        ]
    },
    {
        "id": "bc4b116a.86189",
        "type": "time-range-switch",
        "z": "850c061.bcd9ef8",
        "name": "7:30am - 9:00am",
        "lat": "40.7799",
        "lon": "-73.94872",
        "startTime": "7:30",
        "endTime": "9:00",
        "startOffset": "",
        "endOffset": "",
        "x": 610,
        "y": 680,
        "wires": [
            [
                "305a1ec0.2b2a72"
            ],
            []
        ]
    },
    {
        "id": "ae971990.2796c8",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Unlock action on flow reset",
        "info": "",
        "x": 170,
        "y": 540,
        "wires": []
    },
    {
        "id": "f6a6fc9e.d98f5",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Trigger action on morning alert",
        "info": "",
        "x": 190,
        "y": 640,
        "wires": []
    },
    {
        "id": "8a4dec80.7c586",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Lock action on trigger",
        "info": "",
        "x": 160,
        "y": 760,
        "wires": []
    },
    {
        "id": "fcc97cc5.ac217",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Manual Testing Overrides",
        "info": "",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "c998e4ca.173fb8",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Blink if Q Delayed",
        "info": "",
        "x": 150,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ade7d066.1f14c",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Blink if 4/5/6 Delayed",
        "info": "",
        "x": 160,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9fe48a8.da14f78",
        "type": "time-range-switch",
        "z": "850c061.bcd9ef8",
        "name": "7:30am - 9am",
        "lat": "40.7799",
        "lon": "-73.94872",
        "startTime": "7:30",
        "endTime": "9:00",
        "startOffset": "",
        "endOffset": "",
        "x": 320,
        "y": 940,
        "wires": [
            [
                "a90b9e1c.7f3ab"
            ],
            [
                "5627d9db.f00ca8"
            ]
        ]
    },
    {
        "id": "aea27c55.f3faf",
        "type": "actionflows_in",
        "z": "850c061.bcd9ef8",
        "name": "delay time in",
        "priority": "2",
        "links": [],
        "scope": "protected",
        "x": 130,
        "y": 940,
        "wires": [
            [
                "9fe48a8.da14f78"
            ]
        ]
    },
    {
        "id": "5627d9db.f00ca8",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Break alert",
        "rules": [
            {
                "t": "set",
                "p": "alert",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 960,
        "wires": [
            [
                "a90b9e1c.7f3ab"
            ]
        ]
    },
    {
        "id": "a90b9e1c.7f3ab",
        "type": "actionflows_out",
        "z": "850c061.bcd9ef8",
        "name": "delay time out",
        "links": [],
        "x": 560,
        "y": 920,
        "wires": []
    },
    {
        "id": "fa321ebb.9e2bc",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Break alert if past time",
        "info": "",
        "x": 160,
        "y": 900,
        "wires": []
    },
    {
        "id": "1d28d985.996e36",
        "type": "change",
        "z": "dc9e57a8.6747d8",
        "name": "Status?",
        "rules": [
            {
                "t": "set",
                "p": "mickey_home",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "ff845a05.bb7188",
                "9baa9ee1.725cd"
            ]
        ]
    },
    {
        "id": "774ecd3d.c831b4",
        "type": "change",
        "z": "dc9e57a8.6747d8",
        "name": "Status?",
        "rules": [
            {
                "t": "set",
                "p": "maggie_home",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "ff845a05.bb7188",
                "9baa9ee1.725cd"
            ]
        ]
    },
    {
        "id": "7632d5b0.1e091c",
        "type": "comment",
        "z": "dc9e57a8.6747d8",
        "name": "Is anyone in the house?",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "ff845a05.bb7188",
        "type": "function",
        "z": "dc9e57a8.6747d8",
        "name": "Anyone home?",
        "func": "\n// Returns true if either Mickey or Maggie is home\nmsg.payload = [\n   global.get(\"mickey_home\"),\n   global.get(\"maggie_home\"),\n].some(function(x) { \n    return x === \"home\"\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 100,
        "wires": [
            [
                "ca1c9f69.3b20d"
            ]
        ]
    },
    {
        "id": "ca1c9f69.3b20d",
        "type": "change",
        "z": "dc9e57a8.6747d8",
        "name": "Home Status?",
        "rules": [
            {
                "t": "set",
                "p": "anyone_home",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ff45bd89.9bded",
        "type": "function",
        "z": "dc9e57a8.6747d8",
        "name": "Presence?",
        "func": "\n// Returns true if either Mickey or Maggie is home\nmsg.payload = (msg.payload > 0.1) ? \"home\" : \"away\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "1d28d985.996e36"
            ]
        ]
    },
    {
        "id": "388cb5b7.ec768a",
        "type": "function",
        "z": "dc9e57a8.6747d8",
        "name": "Presence?",
        "func": "msg.payload = (msg.payload > 0.1) ? \"home\" : \"away\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "774ecd3d.c831b4"
            ]
        ]
    },
    {
        "id": "5eb7d903.756668",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Light On",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{ \"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 880,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d7f28811.78e198",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Light Off",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 1040,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "f828b418.44b0d8",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 400,
        "wires": [
            [
                "41af2f7.5004fd"
            ],
            [
                "eb77d1e6.a3cf2"
            ]
        ]
    },
    {
        "id": "49468579.05f09c",
        "type": "schedex",
        "z": "363f3bc3.b66854",
        "name": "Timer",
        "suspended": false,
        "lat": "40.791",
        "lon": "-73.9256",
        "ontime": "17:00",
        "ontopic": "payload",
        "onpayload": "ON",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "21:00",
        "offtopic": "payload",
        "offpayload": "OFF",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "f828b418.44b0d8"
            ]
        ]
    },
    {
        "id": "c4a60721.524428",
        "type": "comment",
        "z": "363f3bc3.b66854",
        "name": "Kitchen Grow Light Timer",
        "info": "",
        "x": 150,
        "y": 360,
        "wires": []
    },
    {
        "id": "6cb45c63.555f34",
        "type": "comment",
        "z": "363f3bc3.b66854",
        "name": "Living Room Grow Light Timer",
        "info": "",
        "x": 160,
        "y": 500,
        "wires": []
    },
    {
        "id": "b67205ed.563528",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "Anyone home?",
        "property": "anyone_home_plus_guests",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 540,
        "wires": [
            [
                "906e26c8.c994f8"
            ],
            [
                "5cbefef7.bdedb"
            ]
        ]
    },
    {
        "id": "eeda85d8.62c1c8",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "ON",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.living_room_grow_light\"}",
        "mergecontext": "",
        "x": 890,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "36f770a9.f7daa8",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "OFF",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.living_room_grow_light\"}",
        "mergecontext": "",
        "x": 710,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "6371a749.0abde8",
        "type": "time-range-switch",
        "z": "363f3bc3.b66854",
        "name": "On cycle?",
        "lat": "40.78",
        "lon": "-73.94878",
        "startTime": "09:00",
        "endTime": "21:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 260,
        "y": 540,
        "wires": [
            [
                "b67205ed.563528"
            ],
            [
                "5cbefef7.bdedb"
            ]
        ]
    },
    {
        "id": "9321591e.6d7d18",
        "type": "change",
        "z": "363f3bc3.b66854",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 540,
        "wires": [
            [
                "eeda85d8.62c1c8"
            ]
        ]
    },
    {
        "id": "51fdb2d2.9d7b4c",
        "type": "change",
        "z": "363f3bc3.b66854",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 600,
        "wires": [
            [
                "36f770a9.f7daa8"
            ]
        ]
    },
    {
        "id": "906e26c8.c994f8",
        "type": "api-current-state",
        "z": "363f3bc3.b66854",
        "name": "Already on?",
        "server": "a117d285.11d84",
        "halt_if": "on",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "switch.living_room_grow_light",
        "x": 630,
        "y": 540,
        "wires": [
            [
                "9321591e.6d7d18"
            ]
        ]
    },
    {
        "id": "5cbefef7.bdedb",
        "type": "api-current-state",
        "z": "363f3bc3.b66854",
        "name": "Already off?",
        "server": "a117d285.11d84",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "switch.living_room_grow_light",
        "x": 450,
        "y": 600,
        "wires": [
            [
                "51fdb2d2.9d7b4c"
            ]
        ]
    },
    {
        "id": "b6332bf1.a5b018",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "36807",
        "acknoledge": true,
        "name": "Mood Lights",
        "topic": "",
        "x": 90,
        "y": 1100,
        "wires": [
            [
                "550c3f4c.b557e"
            ]
        ]
    },
    {
        "id": "550c3f4c.b557e",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetColorRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 1100,
        "wires": [
            [
                "c9d26c1f.73a4d",
                "acc675ee.7a1488"
            ],
            [
                "de8274f6.406668",
                "919acca.233c83"
            ],
            [
                "6786f4d4.c1fe2c"
            ]
        ]
    },
    {
        "id": "c9d26c1f.73a4d",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Lights On",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 400,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "de8274f6.406668",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Switch Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 410,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "b8941b2d.c00b28",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Set Color",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{}",
        "mergecontext": "",
        "x": 560,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "6786f4d4.c1fe2c",
        "type": "function",
        "z": "7538960a.bfe8b8",
        "name": "Parse HS",
        "func": "msg.payload.data = {\n    \"entity_id\" : \"group.moodlights\",\n    \"hs_color\": [\n        msg.payload.hue,\n        msg.payload.saturation * 100\n    ],\n    \"effect\": \"solid\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1180,
        "wires": [
            [
                "b8941b2d.c00b28"
            ]
        ]
    },
    {
        "id": "acc675ee.7a1488",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Switch On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 410,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "919acca.233c83",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Lights Off",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 400,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "923a691c.6bafd8",
        "type": "change",
        "z": "dc9e57a8.6747d8",
        "name": "Status?",
        "rules": [
            {
                "t": "set",
                "p": "junie_home",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "9baa9ee1.725cd"
            ]
        ]
    },
    {
        "id": "7c5f63cb.504dfc",
        "type": "function",
        "z": "dc9e57a8.6747d8",
        "name": "Presence?",
        "func": "msg.payload = (msg.payload > 0.1) ? \"home\" : \"away\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "923a691c.6bafd8"
            ]
        ]
    },
    {
        "id": "9baa9ee1.725cd",
        "type": "function",
        "z": "dc9e57a8.6747d8",
        "name": "Anyone home plus guests?",
        "func": "\n// Returns true if either Mickey or Maggie is home\nmsg.payload = [\n   global.get(\"mickey_home\"),\n   global.get(\"maggie_home\"),\n   global.get(\"juniee_home\"),\n].some(function(x) { \n    return x === \"home\"\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "4a89f821.f97048"
            ]
        ]
    },
    {
        "id": "4a89f821.f97048",
        "type": "change",
        "z": "dc9e57a8.6747d8",
        "name": "Guest Status?",
        "rules": [
            {
                "t": "set",
                "p": "anyone_home_plus_guests",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2f6122e0.1312be",
        "type": "inject",
        "z": "997b60db.958c4",
        "name": "Home? 2 min Ping",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 480,
        "y": 440,
        "wires": [
            [
                "c3563fbb.ff7c7"
            ]
        ]
    },
    {
        "id": "708c68db.05f458",
        "type": "comment",
        "z": "363f3bc3.b66854",
        "name": "Soldering Iron Safety",
        "info": "",
        "x": 140,
        "y": 720,
        "wires": []
    },
    {
        "id": "71d3851f.50562c",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "Mickey home?",
        "property": "mickey_home",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "away",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 760,
        "wires": [
            [
                "13c42c9.bafcdd3"
            ],
            [
                "7ac22ea.09aded"
            ]
        ]
    },
    {
        "id": "a6f78eb9.4f9e4",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "OFF",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.soldering_iron\"}",
        "mergecontext": "",
        "x": 750,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "13c42c9.bafcdd3",
        "type": "api-current-state",
        "z": "363f3bc3.b66854",
        "name": "Office Motion",
        "server": "a117d285.11d84",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "sensor.office_motion",
        "x": 580,
        "y": 740,
        "wires": [
            [
                "f84222fa.8e795"
            ]
        ]
    },
    {
        "id": "f84222fa.8e795",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "Motion?",
        "property": "mickey_home",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "True",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "False",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 740,
        "wires": [
            [],
            [
                "94f4b4b5.61d1d8"
            ]
        ]
    },
    {
        "id": "94f4b4b5.61d1d8",
        "type": "delay",
        "z": "363f3bc3.b66854",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 800,
        "wires": [
            [
                "7ac22ea.09aded"
            ]
        ]
    },
    {
        "id": "4777f77.a538f08",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "On?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 760,
        "wires": [
            [
                "71d3851f.50562c"
            ],
            []
        ]
    },
    {
        "id": "7ac22ea.09aded",
        "type": "change",
        "z": "363f3bc3.b66854",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 800,
        "wires": [
            [
                "a6f78eb9.4f9e4"
            ]
        ]
    },
    {
        "id": "41af2f7.5004fd",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "Grow Light On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.kitchen_grow_light\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 440,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "eb77d1e6.a3cf2",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "Grow Light Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.kitchen_grow_light\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 440,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ee547ffa.9fe78",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "Petcube Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.petcube\"}",
        "mergecontext": "",
        "x": 430,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f8ea6fa7.56e3",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "Petcube On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.petcube\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 430,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2fbcdb52.1f0934",
        "type": "poll-state",
        "z": "dc9e57a8.6747d8",
        "name": "Junie Tracker",
        "server": "a117d285.11d84",
        "updateinterval": "10",
        "outputinitially": true,
        "outputonchanged": false,
        "entity_id": "sensor.junie_iphone_overall_presence",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "7c5f63cb.504dfc"
            ]
        ]
    },
    {
        "id": "a27cb2ed.63f79",
        "type": "poll-state",
        "z": "dc9e57a8.6747d8",
        "name": "Maggie Tracker",
        "server": "a117d285.11d84",
        "updateinterval": "10",
        "outputinitially": true,
        "outputonchanged": false,
        "entity_id": "sensor.maggie_iphone_overall_presence",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "388cb5b7.ec768a"
            ]
        ]
    },
    {
        "id": "d58b8fa8.232a5",
        "type": "poll-state",
        "z": "dc9e57a8.6747d8",
        "name": "Mickey Tracker",
        "server": "a117d285.11d84",
        "updateinterval": "10",
        "outputinitially": true,
        "outputonchanged": false,
        "entity_id": "sensor.mickey_iphone_overall_presence",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "ff45bd89.9bded"
            ]
        ]
    },
    {
        "id": "32bd275c.30edb8",
        "type": "mqtt in",
        "z": "fb14b77d.472098",
        "name": "Cube",
        "topic": "zigbee2mqtt/mi_cube",
        "qos": "2",
        "broker": "44deb46d.8fe2ec",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "a518c335.24861"
            ]
        ]
    },
    {
        "id": "a518c335.24861",
        "type": "json",
        "z": "fb14b77d.472098",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "5488981d.22de08"
            ]
        ]
    },
    {
        "id": "5488981d.22de08",
        "type": "switch",
        "z": "fb14b77d.472098",
        "name": "Action?",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "rotate_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rotate_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "flip90",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "flip180",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tap",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "slide",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "145c1f12.6fa431"
            ],
            [
                "8b3bff9d.0d3e5"
            ],
            [
                "6a473b37.d41684"
            ],
            [
                "6a473b37.d41684"
            ],
            [
                "8e54794f.efd768"
            ],
            [
                "a86de5d0.a0f468",
                "b5d6efc5.7eb86"
            ]
        ]
    },
    {
        "id": "8b3bff9d.0d3e5",
        "type": "api-call-service",
        "z": "fb14b77d.472098",
        "name": "Volume Up",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "volume_up",
        "data": "{\"entity_id\":\"media_player.living_room\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 770,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "145c1f12.6fa431",
        "type": "api-call-service",
        "z": "fb14b77d.472098",
        "name": "Volume Down",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "volume_down",
        "data": "{\"entity_id\":\"media_player.living_room\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 780,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "268ca823.77d3e8",
        "type": "comment",
        "z": "fb14b77d.472098",
        "name": "Control Sonos with Cube",
        "info": "",
        "x": 190,
        "y": 160,
        "wires": []
    },
    {
        "id": "b2271cbc.6c34a",
        "type": "api-call-service",
        "z": "fb14b77d.472098",
        "name": "Welcome home!",
        "server": "a117d285.11d84",
        "service_domain": "tts",
        "service": "google_say",
        "data": "{\"entity_id\":\"media_player.living_room\",\"message\":\"Welcome home Michael!\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 320,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "6a473b37.d41684",
        "type": "function",
        "z": "fb14b77d.472098",
        "name": "Playlist?",
        "func": "let side = (msg.payload.to_side) ? msg.payload.to_side : msg.payload.side; \n\nconst playlist_map = {\n    '0': 'Discover Weekly',\n    '1': 'Daily Mix 1',\n    '2': 'Daily Mix 2',\n    '3': 'Daily Mix 3',\n    '4': 'Daily Mix 4',\n    '5': 'Daily Mix 5',\n};\n\nnode.status({text: playlist_map[side]});\n\nmsg.payload.data = {\n    \"entity_id\" : \"media_player.living_room\",\n    \"source\": playlist_map[side],\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 200,
        "wires": [
            [
                "237c30a2.4cce7",
                "a9b16faa.0e7cf"
            ]
        ]
    },
    {
        "id": "237c30a2.4cce7",
        "type": "api-call-service",
        "z": "fb14b77d.472098",
        "name": "Select Source",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "select_source",
        "data": "{\"entity_id\":\"media_player.living_room\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 940,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4557d3ba.65e1ec",
        "type": "api-call-service",
        "z": "fb14b77d.472098",
        "name": "Shuffle",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "shuffle_set",
        "data": "{\"entity_id\":\"media_player.living_room\",\"shuffle\":\"true\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1050,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "a86de5d0.a0f468",
        "type": "api-call-service",
        "z": "fb14b77d.472098",
        "name": "Pause",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "media_pause",
        "data": "{\"entity_id\":\"media_player.living_room\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 410,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b5d6efc5.7eb86",
        "type": "api-call-service",
        "z": "fb14b77d.472098",
        "name": "Shuffle",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "shuffle_set",
        "data": "{\"entity_id\":\"media_player.living_room\",\"shuffle\":\"false\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 310,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "326a9f92.4e8ab",
        "type": "api-call-service",
        "z": "fb14b77d.472098",
        "name": "Next Track",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "media_next_track",
        "data": "{\"entity_id\":\"media_player.living_room\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 910,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "a9b16faa.0e7cf",
        "type": "change",
        "z": "fb14b77d.472098",
        "name": "Shuffle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"shuffle\":\"true\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 260,
        "wires": [
            [
                "4557d3ba.65e1ec"
            ]
        ]
    },
    {
        "id": "dfdafac0.f846a8",
        "type": "inject",
        "z": "363f3bc3.b66854",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "*/1 9-20 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 540,
        "wires": [
            [
                "6371a749.0abde8"
            ]
        ]
    },
    {
        "id": "892864b4.aba438",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "40819",
        "acknoledge": true,
        "name": "Christmas Tree",
        "topic": "",
        "x": 700,
        "y": 300,
        "wires": [
            [
                "9e2ff019.4a25c"
            ]
        ]
    },
    {
        "id": "c50ba695.c3cca8",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.christmas_tree\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 990,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "52387ce8.a356d4",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.christmas_tree\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 990,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9e2ff019.4a25c",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 300,
        "wires": [
            [
                "c50ba695.c3cca8"
            ],
            [
                "52387ce8.a356d4"
            ]
        ]
    },
    {
        "id": "67e2de2b.e9e7b",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "40913",
        "acknoledge": true,
        "name": "Star Bright",
        "topic": "",
        "x": 680,
        "y": 420,
        "wires": [
            [
                "44682b02.fe7a14"
            ]
        ]
    },
    {
        "id": "f229d682.186638",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.star_bright\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 990,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "896a91f8.4190b",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.star_bright\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 990,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "44682b02.fe7a14",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 420,
        "wires": [
            [
                "f229d682.186638"
            ],
            [
                "896a91f8.4190b"
            ]
        ]
    },
    {
        "id": "d76a0f99.e4a5c",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "40912",
        "acknoledge": true,
        "name": "Star Light",
        "topic": "",
        "x": 680,
        "y": 540,
        "wires": [
            [
                "31d3b01b.026e5"
            ]
        ]
    },
    {
        "id": "bf981689.35a868",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.star_light\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 990,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "835199d7.c41788",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.star_light\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 990,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "31d3b01b.026e5",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 540,
        "wires": [
            [
                "bf981689.35a868"
            ],
            [
                "835199d7.c41788"
            ]
        ]
    },
    {
        "id": "d0eba56e.f44ce8",
        "type": "delay",
        "z": "997b60db.958c4",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 780,
        "y": 460,
        "wires": [
            [
                "3b931498.caf53c"
            ]
        ]
    },
    {
        "id": "3b931498.caf53c",
        "type": "switch",
        "z": "997b60db.958c4",
        "name": "Anyone home?",
        "property": "anyone_home_plus_guests",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 860,
        "y": 520,
        "wires": [
            [],
            [
                "d7f28811.78e198",
                "9e772518.f88288"
            ]
        ]
    },
    {
        "id": "e84cfada.634608",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "43307",
        "acknoledge": true,
        "name": "Candles",
        "topic": "",
        "x": 760,
        "y": 680,
        "wires": [
            [
                "b1ba568c.827358"
            ]
        ]
    },
    {
        "id": "69d4381.02192c8",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.candles\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1030,
        "y": 660,
        "wires": [
            [
                "55eb4f80.7e664"
            ]
        ]
    },
    {
        "id": "f13d783f.e82e98",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.candles\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1030,
        "y": 720,
        "wires": [
            [
                "6d21a013.cc338"
            ]
        ]
    },
    {
        "id": "b1ba568c.827358",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 680,
        "wires": [
            [
                "69d4381.02192c8"
            ],
            [
                "f13d783f.e82e98"
            ]
        ]
    },
    {
        "id": "3240c087.b1f9e",
        "type": "comment",
        "z": "997b60db.958c4",
        "name": "Turn on flame candles",
        "info": "",
        "x": 160,
        "y": 780,
        "wires": []
    },
    {
        "id": "eda9fda3.26e68",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.flames\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1110,
        "y": 780,
        "wires": [
            [
                "36e6431a.c1040c"
            ]
        ]
    },
    {
        "id": "968852ea.eee37",
        "type": "stoptimer",
        "z": "997b60db.958c4",
        "duration": "10",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "10min",
        "x": 1110,
        "y": 840,
        "wires": [
            [
                "64bbda3f.cfd5a4"
            ],
            []
        ]
    },
    {
        "id": "64bbda3f.cfd5a4",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.off\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1250,
        "y": 840,
        "wires": [
            [
                "47c14d43.52f364"
            ]
        ]
    },
    {
        "id": "d685464a.c0db78",
        "type": "time-range-switch",
        "z": "997b60db.958c4",
        "name": "9pm - 11pm",
        "lat": "40.7799",
        "lon": "-73.94872",
        "startTime": "21:00",
        "endTime": "23:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 930,
        "y": 840,
        "wires": [
            [
                "968852ea.eee37",
                "eda9fda3.26e68"
            ],
            []
        ]
    },
    {
        "id": "1c820486.b6420b",
        "type": "time-range-switch",
        "z": "997b60db.958c4",
        "name": "9pm - 10pm",
        "lat": "40.7799",
        "lon": "-73.94872",
        "startTime": "21:00",
        "endTime": "22:00",
        "startOffset": "",
        "endOffset": "",
        "x": 910,
        "y": 760,
        "wires": [
            [
                "968852ea.eee37",
                "eda9fda3.26e68"
            ],
            []
        ]
    },
    {
        "id": "2f2247cb.1b9db8",
        "type": "weekday",
        "z": "997b60db.958c4",
        "name": "Weekday?",
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": false,
        "sat": false,
        "x": 750,
        "y": 820,
        "wires": [
            [
                "1c820486.b6420b"
            ],
            [
                "d685464a.c0db78"
            ]
        ]
    },
    {
        "id": "8c6ff580.12efd8",
        "type": "mqtt in",
        "z": "997b60db.958c4",
        "name": "Bedroom Motion",
        "topic": "zigbee2mqtt/bedroom_motion_sensor",
        "qos": "0",
        "broker": "44deb46d.8fe2ec",
        "x": 140,
        "y": 820,
        "wires": [
            [
                "9e7bde7a.cdfeb"
            ]
        ]
    },
    {
        "id": "9e7bde7a.cdfeb",
        "type": "json",
        "z": "997b60db.958c4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 820,
        "wires": [
            [
                "beccc159.f2fa2"
            ]
        ]
    },
    {
        "id": "beccc159.f2fa2",
        "type": "switch",
        "z": "997b60db.958c4",
        "name": "Motion?",
        "property": "payload.occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 420,
        "y": 820,
        "wires": [
            [
                "84be33cb.a71b1"
            ]
        ]
    },
    {
        "id": "9172d8c9.d33118",
        "type": "function",
        "z": "7a870af1.025c84",
        "name": "Display track",
        "func": "msg.payload = {\n    \"display\": \"on\",\n    \"line1\": msg.data.new_state.attributes.media_artist,\n    \"line2\": msg.data.new_state.attributes.media_title\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 80,
        "wires": [
            [
                "39ae09cc.e570f6"
            ]
        ]
    },
    {
        "id": "fe3e8ddc.1895b",
        "type": "server-state-changed",
        "z": "7a870af1.025c84",
        "name": "Sonos",
        "server": "a117d285.11d84",
        "entityidfilter": "media_player.living_room",
        "entityidfiltertype": "substring",
        "haltifstate": "",
        "outputinitially": false,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "d5034c39.ddde"
            ]
        ]
    },
    {
        "id": "3eef5286.4ea60e",
        "type": "comment",
        "z": "7a870af1.025c84",
        "name": "Display current music",
        "info": "",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "d5034c39.ddde",
        "type": "switch",
        "z": "7a870af1.025c84",
        "name": "State?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "playing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "paused",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "cdaf7927.735498"
            ],
            [
                "2ebc06e5.82ed2a"
            ]
        ]
    },
    {
        "id": "2ebc06e5.82ed2a",
        "type": "function",
        "z": "7a870af1.025c84",
        "name": "Turn off display",
        "func": "msg.payload = {\n    \"display\": \"off\",\n    \"line1\": \"\",\n    \"line2\": \"\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 180,
        "wires": [
            [
                "f1b61407.85ed18"
            ]
        ]
    },
    {
        "id": "42408f6d.69534",
        "type": "mqtt out",
        "z": "7a870af1.025c84",
        "name": "LCD",
        "topic": "lcd_1602/set",
        "qos": "1",
        "retain": "false",
        "broker": "44deb46d.8fe2ec",
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "cdaf7927.735498",
        "type": "switch",
        "z": "7a870af1.025c84",
        "name": "Is Music?",
        "property": "data.new_state.attributes.media_content_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "music",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "a5ed6f44.900bc"
            ],
            [
                "2ebc06e5.82ed2a"
            ]
        ]
    },
    {
        "id": "39ae09cc.e570f6",
        "type": "change",
        "z": "7a870af1.025c84",
        "name": "Set Base",
        "rules": [
            {
                "t": "set",
                "p": "base_message",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 80,
        "wires": [
            [
                "42408f6d.69534"
            ]
        ]
    },
    {
        "id": "e162881c.9e8208",
        "type": "server-state-changed",
        "z": "7a870af1.025c84",
        "name": "Magic Cube",
        "server": "a117d285.11d84",
        "entityidfilter": "sensor.magic_cube",
        "entityidfiltertype": "substring",
        "haltifstate": "wakeup",
        "outputinitially": false,
        "x": 130,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "2fceafea.97eef",
        "type": "function",
        "z": "7a870af1.025c84",
        "name": "Display action",
        "func": "msg.payload = {\n    \"display\": \"on\",\n    \"line1\": msg.payload,\n    \"line2\": ''\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 280,
        "wires": [
            [
                "71852f99.a11b",
                "506be167.07f73"
            ]
        ]
    },
    {
        "id": "71852f99.a11b",
        "type": "mqtt out",
        "z": "7a870af1.025c84",
        "name": "LCD",
        "topic": "lcd_1602/set",
        "qos": "1",
        "retain": "false",
        "broker": "44deb46d.8fe2ec",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "506be167.07f73",
        "type": "delay",
        "z": "7a870af1.025c84",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "5eb912f4.7a0ffc"
            ]
        ]
    },
    {
        "id": "5eb912f4.7a0ffc",
        "type": "change",
        "z": "7a870af1.025c84",
        "name": "Retreive Base",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "base_message",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "937a95a8.5cbc58"
            ]
        ]
    },
    {
        "id": "937a95a8.5cbc58",
        "type": "mqtt out",
        "z": "7a870af1.025c84",
        "name": "LCD",
        "topic": "lcd_1602/set",
        "qos": "1",
        "retain": "false",
        "broker": "44deb46d.8fe2ec",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "a5ed6f44.900bc",
        "type": "switch",
        "z": "7a870af1.025c84",
        "name": "Is Change?",
        "property": "data.new_state.attributes.media_title",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "data.old_state.attributes.media_title",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 80,
        "wires": [
            [
                "9172d8c9.d33118"
            ]
        ]
    },
    {
        "id": "ee9728af.d28788",
        "type": "mqtt out",
        "z": "7a870af1.025c84",
        "name": "LCD",
        "topic": "lcd_1602/set",
        "qos": "1",
        "retain": "false",
        "broker": "44deb46d.8fe2ec",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "f1b61407.85ed18",
        "type": "change",
        "z": "7a870af1.025c84",
        "name": "Set Base",
        "rules": [
            {
                "t": "set",
                "p": "base_message",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 180,
        "wires": [
            [
                "ee9728af.d28788"
            ]
        ]
    },
    {
        "id": "75a8f9af.d458f8",
        "type": "comment",
        "z": "7a870af1.025c84",
        "name": "Pause or no music",
        "info": "",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "3b6714d3.1b6fcc",
        "type": "comment",
        "z": "7a870af1.025c84",
        "name": "Track Change",
        "info": "",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "bae84cd9.42ee7",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 960,
        "wires": [
            [
                "55e0f8b4.ea5be8"
            ],
            [
                "d3ce3cf2.5f20e"
            ]
        ]
    },
    {
        "id": "c0106401.256268",
        "type": "schedex",
        "z": "363f3bc3.b66854",
        "name": "Timer",
        "suspended": false,
        "lat": "40.791",
        "lon": "-73.9256",
        "ontime": "00:00",
        "ontopic": "payload",
        "onpayload": "ON",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "08:00",
        "offtopic": "payload",
        "offpayload": "OFF",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 90,
        "y": 960,
        "wires": [
            [
                "bae84cd9.42ee7"
            ]
        ]
    },
    {
        "id": "dc0edde4.95aeb",
        "type": "comment",
        "z": "363f3bc3.b66854",
        "name": "Oatmeal Timer",
        "info": "",
        "x": 120,
        "y": 920,
        "wires": []
    },
    {
        "id": "d3ce3cf2.5f20e",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "Crockpot Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.crockpot\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 430,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "55e0f8b4.ea5be8",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "Crockpot On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.crockpot\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 430,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "9e7df1c0.bebab",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "45928",
        "acknoledge": true,
        "name": "Calavera",
        "topic": "",
        "x": 80,
        "y": 1300,
        "wires": [
            [
                "bc916483.b20948"
            ]
        ]
    },
    {
        "id": "bc916483.b20948",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetColorRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 1300,
        "wires": [
            [
                "ab517f13.d0a49"
            ],
            [
                "b980df5c.c81d2"
            ],
            [
                "3ad6fcbb.1c1c84"
            ]
        ]
    },
    {
        "id": "ab517f13.d0a49",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.calavera\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 390,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "b980df5c.c81d2",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.calavera\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 390,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "4dd6c4be.c1049c",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Set Color",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{}",
        "mergecontext": "",
        "x": 560,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "3ad6fcbb.1c1c84",
        "type": "function",
        "z": "7538960a.bfe8b8",
        "name": "Parse HS",
        "func": "msg.payload.data = {\n    \"entity_id\" : \"light.calavera\",\n    \"hs_color\": [\n        msg.payload.hue,\n        msg.payload.saturation * 100\n    ],\n    \"effect\": \"solid\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1340,
        "wires": [
            [
                "4dd6c4be.c1049c"
            ]
        ]
    },
    {
        "id": "7965627f.995efc",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "45929",
        "acknoledge": true,
        "name": "Skull",
        "topic": "",
        "x": 70,
        "y": 1360,
        "wires": [
            [
                "bc916483.b20948"
            ]
        ]
    },
    {
        "id": "818ce4f9.8f6e58",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "45926",
        "acknoledge": true,
        "name": "Flames",
        "topic": "",
        "x": 770,
        "y": 800,
        "wires": [
            [
                "15887c56.e36924"
            ]
        ]
    },
    {
        "id": "9bde166c.077768",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.flames\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1030,
        "y": 780,
        "wires": [
            [
                "136f7587.d253ca"
            ]
        ]
    },
    {
        "id": "a4aa0d7e.4d3bb",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.flames\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1030,
        "y": 820,
        "wires": [
            [
                "6afcbae3.efbea4"
            ]
        ]
    },
    {
        "id": "15887c56.e36924",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 800,
        "wires": [
            [
                "9bde166c.077768"
            ],
            [
                "a4aa0d7e.4d3bb"
            ]
        ]
    },
    {
        "id": "2bb2571e.321028",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.candles\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1270,
        "y": 660,
        "wires": [
            [
                "d8236355.15554"
            ]
        ]
    },
    {
        "id": "55eb4f80.7e664",
        "type": "delay",
        "z": "7538960a.bfe8b8",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1150,
        "y": 660,
        "wires": [
            [
                "2bb2571e.321028"
            ]
        ]
    },
    {
        "id": "d83aabb0.05bda8",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.candles\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1510,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "6e146eb3.f31f7",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.candles\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1270,
        "y": 720,
        "wires": [
            [
                "83e9f7b.6fce708"
            ]
        ]
    },
    {
        "id": "bbd1a2ac.d465e",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.candles\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1510,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "88d668dd.842fa8",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.flames\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1270,
        "y": 820,
        "wires": [
            [
                "5160f9c8.62fd18"
            ]
        ]
    },
    {
        "id": "72eec07d.dd887",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.flames\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1510,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "75159d1e.e57bd4",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.flames\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1270,
        "y": 780,
        "wires": [
            [
                "d8463543.d347a8"
            ]
        ]
    },
    {
        "id": "7bc97ef8.e8777",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.flames\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1510,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "6d21a013.cc338",
        "type": "delay",
        "z": "7538960a.bfe8b8",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1150,
        "y": 720,
        "wires": [
            [
                "6e146eb3.f31f7"
            ]
        ]
    },
    {
        "id": "d8236355.15554",
        "type": "delay",
        "z": "7538960a.bfe8b8",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1390,
        "y": 660,
        "wires": [
            [
                "d83aabb0.05bda8"
            ]
        ]
    },
    {
        "id": "83e9f7b.6fce708",
        "type": "delay",
        "z": "7538960a.bfe8b8",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1390,
        "y": 720,
        "wires": [
            [
                "bbd1a2ac.d465e"
            ]
        ]
    },
    {
        "id": "136f7587.d253ca",
        "type": "delay",
        "z": "7538960a.bfe8b8",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1150,
        "y": 780,
        "wires": [
            [
                "75159d1e.e57bd4"
            ]
        ]
    },
    {
        "id": "6afcbae3.efbea4",
        "type": "delay",
        "z": "7538960a.bfe8b8",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1150,
        "y": 820,
        "wires": [
            [
                "88d668dd.842fa8"
            ]
        ]
    },
    {
        "id": "d8463543.d347a8",
        "type": "delay",
        "z": "7538960a.bfe8b8",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1390,
        "y": 780,
        "wires": [
            [
                "7bc97ef8.e8777"
            ]
        ]
    },
    {
        "id": "5160f9c8.62fd18",
        "type": "delay",
        "z": "7538960a.bfe8b8",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1390,
        "y": 820,
        "wires": [
            [
                "72eec07d.dd887"
            ]
        ]
    },
    {
        "id": "93d1e7db.883978",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Fairy Lights Off",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.fairy_lights\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1380,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d31d0e2a.03903",
        "type": "api-current-state",
        "z": "997b60db.958c4",
        "name": "Already on?",
        "server": "a117d285.11d84",
        "halt_if": "on",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "light.fairy_lights",
        "x": 1250,
        "y": 120,
        "wires": [
            [
                "5b2968cc.6837b8"
            ]
        ]
    },
    {
        "id": "5b2968cc.6837b8",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Fairy Lights On",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\":\"light.fairy_lights\",\"effect\":\"solid\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1440,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9151ae61.0ba7b",
        "type": "api-current-state",
        "z": "997b60db.958c4",
        "name": "Motion toggle?",
        "server": "a117d285.11d84",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "switch.bedroom_motion_toggle",
        "x": 580,
        "y": 160,
        "wires": [
            [
                "48ecd7d8.c630d8"
            ]
        ]
    },
    {
        "id": "8e54794f.efd768",
        "type": "api-current-state",
        "z": "fb14b77d.472098",
        "name": "Playing?",
        "server": "a117d285.11d84",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "media_player.living_room",
        "x": 580,
        "y": 280,
        "wires": [
            [
                "b2a61e5e.2614c"
            ]
        ]
    },
    {
        "id": "b2a61e5e.2614c",
        "type": "switch",
        "z": "fb14b77d.472098",
        "name": "Playing?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "paused",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "playing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "40536653.832708",
                "a9b16faa.0e7cf"
            ],
            [
                "326a9f92.4e8ab"
            ]
        ]
    },
    {
        "id": "40536653.832708",
        "type": "api-call-service",
        "z": "fb14b77d.472098",
        "name": "Play",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "media_play",
        "data": "{\"entity_id\":\"media_player.living_room\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 910,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1712abb9.9258e4",
        "type": "change",
        "z": "dc9e57a8.6747d8",
        "name": "Status?",
        "rules": [
            {
                "t": "set",
                "p": "mickey_viacom",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e628ecae.ab544",
        "type": "function",
        "z": "dc9e57a8.6747d8",
        "name": "Presence?",
        "func": "msg.payload = (msg.payload > 0.1) ? true : false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "1712abb9.9258e4"
            ]
        ]
    },
    {
        "id": "4407ccdb.0bc134",
        "type": "poll-state",
        "z": "dc9e57a8.6747d8",
        "name": "Viacom Tracker",
        "server": "a117d285.11d84",
        "updateinterval": "10",
        "outputinitially": true,
        "outputonchanged": false,
        "entity_id": "sensor.mickey_iphone_viacom_presence",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "e628ecae.ab544"
            ]
        ]
    },
    {
        "id": "227ae2a6.f6b2be",
        "type": "comment",
        "z": "dc9e57a8.6747d8",
        "name": "Is Mickey at his desk?",
        "info": "",
        "x": 140,
        "y": 340,
        "wires": []
    },
    {
        "id": "8301ef96.f5968",
        "type": "inject",
        "z": "997b60db.958c4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 190,
        "y": 1220,
        "wires": [
            [
                "112f47cc.bfd6e8"
            ]
        ]
    },
    {
        "id": "112f47cc.bfd6e8",
        "type": "switch",
        "z": "997b60db.958c4",
        "name": "At desk?",
        "property": "mickey_viacom",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 1220,
        "wires": [
            [
                "5a63afa8.c091"
            ],
            [
                "69b6d40c.138e8c"
            ]
        ]
    },
    {
        "id": "5a63afa8.c091",
        "type": "change",
        "z": "997b60db.958c4",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1180,
        "wires": [
            [
                "aeba7d2.b70e08"
            ]
        ]
    },
    {
        "id": "69b6d40c.138e8c",
        "type": "change",
        "z": "997b60db.958c4",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1260,
        "wires": [
            [
                "553654ef.f507fc"
            ]
        ]
    },
    {
        "id": "84be33cb.a71b1",
        "type": "api-current-state",
        "z": "997b60db.958c4",
        "name": "Motion toggle?",
        "server": "a117d285.11d84",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "switch.bedroom_motion_toggle",
        "x": 580,
        "y": 820,
        "wires": [
            [
                "2f2247cb.1b9db8"
            ]
        ]
    },
    {
        "id": "aeba7d2.b70e08",
        "type": "api-current-state",
        "z": "997b60db.958c4",
        "name": "Already on?",
        "server": "a117d285.11d84",
        "halt_if": "on",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "switch.birch_branches",
        "x": 630,
        "y": 1180,
        "wires": [
            [
                "e2ec71f7.cf057"
            ]
        ]
    },
    {
        "id": "553654ef.f507fc",
        "type": "api-current-state",
        "z": "997b60db.958c4",
        "name": "Already off?",
        "server": "a117d285.11d84",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "switch.birch_branches",
        "x": 630,
        "y": 1260,
        "wires": [
            [
                "b8bacb81.b49fc8"
            ]
        ]
    },
    {
        "id": "e2ec71f7.cf057",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Viacom Lights On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"group.viacom\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 810,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "b8bacb81.b49fc8",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Viacom Lights Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"group.viacom\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 810,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "7d32f880.9be868",
        "type": "comment",
        "z": "997b60db.958c4",
        "name": "Turn on lights when Mickey at desk",
        "info": "",
        "x": 200,
        "y": 1180,
        "wires": []
    },
    {
        "id": "47c14d43.52f364",
        "type": "delay",
        "z": "997b60db.958c4",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1370,
        "y": 840,
        "wires": [
            [
                "188f7c45.e11a54"
            ]
        ]
    },
    {
        "id": "188f7c45.e11a54",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.flames\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1490,
        "y": 840,
        "wires": [
            [
                "7829564f.566878"
            ]
        ]
    },
    {
        "id": "7829564f.566878",
        "type": "delay",
        "z": "997b60db.958c4",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1610,
        "y": 840,
        "wires": [
            [
                "c234bd45.63194"
            ]
        ]
    },
    {
        "id": "c234bd45.63194",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.flames\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1730,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "36e6431a.c1040c",
        "type": "delay",
        "z": "997b60db.958c4",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1250,
        "y": 780,
        "wires": [
            [
                "cb53d07f.3754b"
            ]
        ]
    },
    {
        "id": "cb53d07f.3754b",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.flames\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1370,
        "y": 780,
        "wires": [
            [
                "52709560.38810c"
            ]
        ]
    },
    {
        "id": "52709560.38810c",
        "type": "delay",
        "z": "997b60db.958c4",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1490,
        "y": 780,
        "wires": [
            [
                "e73d1efc.54f19"
            ]
        ]
    },
    {
        "id": "e73d1efc.54f19",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.flames\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1610,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "ec9359e2.10ed18",
        "type": "time-range-switch",
        "z": "363f3bc3.b66854",
        "name": "10pm - 9am",
        "lat": "40.7799",
        "lon": "-73.94872",
        "startTime": "22:00",
        "endTime": "9:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "b0f5711.c0ef19"
            ],
            [
                "ab9ec807.5f1248"
            ]
        ]
    },
    {
        "id": "b2a5a784.1c98e8",
        "type": "weekday",
        "z": "363f3bc3.b66854",
        "name": "Weekday?",
        "sun": false,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": false,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "8bb6efab.74c7"
            ],
            [
                "ec9359e2.10ed18"
            ]
        ]
    },
    {
        "id": "8bb6efab.74c7",
        "type": "time-range-switch",
        "z": "363f3bc3.b66854",
        "name": "10pm - 7:30am",
        "lat": "40.7799",
        "lon": "-73.94872",
        "startTime": "22:00",
        "endTime": "07:30",
        "startOffset": "",
        "endOffset": "",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "b0f5711.c0ef19"
            ],
            [
                "ab9ec807.5f1248"
            ]
        ]
    },
    {
        "id": "ab9ec807.5f1248",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "Dohm Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.dohm\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 780,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b0f5711.c0ef19",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "Dohm On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.dohm\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 780,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "8ab0bc55.7f421",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "Anyone home?",
        "property": "anyone_home",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "b2a5a784.1c98e8"
            ],
            []
        ]
    },
    {
        "id": "de38557d.f89e88",
        "type": "inject",
        "z": "363f3bc3.b66854",
        "name": "1m",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "8ab0bc55.7f421"
            ]
        ]
    },
    {
        "id": "5e396fb6.d8777",
        "type": "http in",
        "z": "ff5da73d.cf2dd8",
        "name": "/plants",
        "url": "/plants",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "9a4db6b6.be0148"
            ]
        ]
    },
    {
        "id": "9a4db6b6.be0148",
        "type": "function",
        "z": "ff5da73d.cf2dd8",
        "name": "Extract User",
        "func": "msg.userId = msg.payload.session.user.userId;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "4d64f512.d3371c"
            ]
        ]
    },
    {
        "id": "4d64f512.d3371c",
        "type": "switch",
        "z": "ff5da73d.cf2dd8",
        "name": "Request",
        "property": "payload.request.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "LaunchRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "IntentRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SessionEndedRequest",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "257c17e5.850368"
            ],
            [
                "631a56fa.9c2728"
            ],
            [
                "fc915929.168e58"
            ],
            [
                "c625b83f.cb0eb8"
            ]
        ]
    },
    {
        "id": "257c17e5.850368",
        "type": "function",
        "z": "ff5da73d.cf2dd8",
        "name": "Start Session Message",
        "func": "msg.payload = {\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"SSML\",\n            \"ssml\": \"<speak>We are the plants.</speak>\"\n        },\n        \"shouldEndSession\": false\n    },\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 60,
        "wires": [
            [
                "d9c041c7.0fbb3"
            ]
        ]
    },
    {
        "id": "fc915929.168e58",
        "type": "function",
        "z": "ff5da73d.cf2dd8",
        "name": "End Session Message",
        "func": "msg.payload = {\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> Goodbye human! </speak>\"\n    },\n    \"shouldEndSession\": true\n  },\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "d9c041c7.0fbb3"
            ]
        ]
    },
    {
        "id": "c625b83f.cb0eb8",
        "type": "function",
        "z": "ff5da73d.cf2dd8",
        "name": "Unknown Message",
        "func": "msg.payload = {\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak>We plants do not understand this.</speak>\"\n    },\n    \"shouldEndSession\": true\n  },\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "d9c041c7.0fbb3"
            ]
        ]
    },
    {
        "id": "d9c041c7.0fbb3",
        "type": "http response",
        "z": "ff5da73d.cf2dd8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "631a56fa.9c2728",
        "type": "switch",
        "z": "ff5da73d.cf2dd8",
        "name": "Intent Switch",
        "property": "payload.request.intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "PlantLastWateredIntent",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "b956d73d.301738"
            ],
            [
                "c625b83f.cb0eb8"
            ]
        ]
    },
    {
        "id": "b956d73d.301738",
        "type": "function",
        "z": "ff5da73d.cf2dd8",
        "name": "Extract plant info",
        "func": "raw_plant = msg.payload.request.intent.slots.plant.value;\n\n// Fix plants casing on raw plants\nplant_mapper = {\n   'airplants': 'airplants',\n   'airplant': 'airplants',\n   'epiphytes': 'airplants'\n}\n\n// Determine plant name and info\nhomeassistant = global.get('homeassistant')\n\nplant = plant_mapper[raw_plant.toLowerCase()]\n\nlast_watered_date = homeassistant.homeAssistant.states[\n    'sensor.' + plant + '_last_watered'\n].state\n\ndays_since_last_watered = homeassistant.homeAssistant.states[\n    'sensor.' + plant + '_days_since_last_watered'\n].state\n\n// Set payload data\nmsg.payload.data = {\n    \"plant\": plant,\n    \"last_watered_date\": last_watered_date,\n    \"days_since_last_watered\": days_since_last_watered\n }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 340,
        "wires": [
            [
                "212e2e7b.e07342"
            ]
        ]
    },
    {
        "id": "212e2e7b.e07342",
        "type": "function",
        "z": "ff5da73d.cf2dd8",
        "name": "Info Message",
        "func": "msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak>The \"  + msg.payload.data.plant + \" got watered \" + \n               msg.payload.data.days_since_last_watered + \" days ago on \" + \n               msg.payload.data.last_watered_date + \".</speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak>The \"  + msg.payload.data.plant + \" got watered \" + \n               msg.payload.data.days_since_last_watered + \" days ago on \" + \n               msg.payload.data.last_watered_date + \".</speak>\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 340,
        "wires": [
            [
                "e362b6e7.dde8d8"
            ]
        ]
    },
    {
        "id": "e362b6e7.dde8d8",
        "type": "http response",
        "z": "ff5da73d.cf2dd8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "61968ef4.d0cd4",
        "type": "comment",
        "z": "ff5da73d.cf2dd8",
        "name": "Last Watered Request",
        "info": "",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "6cf11250.e7546c",
        "type": "api-current-state",
        "z": "997b60db.958c4",
        "name": "Front door toggle?",
        "server": "a117d285.11d84",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "switch.front_door_toggle",
        "x": 710,
        "y": 340,
        "wires": [
            [
                "85436fe2.b223c",
                "5eb7d903.756668"
            ]
        ]
    },
    {
        "id": "60031036.22e9e",
        "type": "inject",
        "z": "997b60db.958c4",
        "name": "9:00am",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 09 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 960,
        "wires": [
            [
                "46fbfb20.2d1704",
                "afba2912.d5e878"
            ]
        ]
    },
    {
        "id": "46fbfb20.2d1704",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Bedroom Motion Toggle",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.bedroom_motion_toggle\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 330,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "afba2912.d5e878",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Front Door Toggle",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.front_door_toggle\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 310,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "899d5ac2.305b28",
        "type": "comment",
        "z": "997b60db.958c4",
        "name": "Reset toggles at 9am",
        "info": "",
        "x": 160,
        "y": 920,
        "wires": []
    },
    {
        "id": "b99897e8.246908",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "62903",
        "acknoledge": true,
        "name": "Front Door Toggle",
        "topic": "",
        "x": 810,
        "y": 1200,
        "wires": [
            [
                "89459890.d50108"
            ]
        ]
    },
    {
        "id": "89459890.d50108",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 1200,
        "wires": [
            [
                "8d70497b.cd4c38"
            ],
            [
                "a77d9346.e9039"
            ]
        ]
    },
    {
        "id": "8d70497b.cd4c38",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.front_door_toggle\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1110,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "a77d9346.e9039",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.front_door_toggle\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1110,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "f4358172.e105b",
        "type": "http in",
        "z": "2d3b6811.740538",
        "name": "/climate",
        "url": "/climate",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "1e68f8db.8f4327"
            ]
        ]
    },
    {
        "id": "deaf59d3.437c88",
        "type": "http response",
        "z": "2d3b6811.740538",
        "name": "Slack response",
        "statusCode": "",
        "headers": {},
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "1e68f8db.8f4327",
        "type": "api-current-state",
        "z": "2d3b6811.740538",
        "name": "Viacom Weather",
        "server": "a117d285.11d84",
        "halt_if": "",
        "override_topic": false,
        "override_payload": false,
        "override_data": true,
        "entity_id": "sensor.viacom_temperature",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "a1a90472.e5a208"
            ]
        ]
    },
    {
        "id": "a1a90472.e5a208",
        "type": "template",
        "z": "2d3b6811.740538",
        "name": "Response",
        "field": "payload.text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "It is currently {{data.state}}F and {{data.attributes.humidity}}% humidity.",
        "output": "str",
        "x": 460,
        "y": 100,
        "wires": [
            [
                "deaf59d3.437c88"
            ]
        ]
    },
    {
        "id": "8d8051d0.c0082",
        "type": "comment",
        "z": "2d3b6811.740538",
        "name": "Climate Slack Bot",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "7334008b.78c8",
        "type": "poll-state",
        "z": "850c061.bcd9ef8",
        "name": "7 Train",
        "server": "a117d285.11d84",
        "updateinterval": "5",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "sensor.mta_subway_7",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "1cbdbed5.ab9751"
            ]
        ]
    },
    {
        "id": "1cbdbed5.ab9751",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Delayed?",
        "func": "// Returns true if train is delayed\nmsg.payload = (\n    msg.payload === \"Delays\"\n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 340,
        "wires": [
            [
                "8a671044.7c1a5"
            ]
        ]
    },
    {
        "id": "8a671044.7c1a5",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays 7?",
        "rules": [
            {
                "t": "set",
                "p": "delays_7",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2ff62202.40506e",
        "type": "mqtt out",
        "z": "66959060.dd999",
        "name": "Hoplite",
        "topic": "wemos/hoplite/set",
        "qos": "0",
        "retain": "true",
        "broker": "44deb46d.8fe2ec",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "9034f14.e70601",
        "type": "template",
        "z": "66959060.dd999",
        "name": "Purple",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"state\":\"ON\",\"color\":{\"r\":157,\"g\":61,\"b\":150},\"brightness\":100,\"speed\":60,\"effect\":\"static\"}",
        "output": "json",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "5f42eaf4.0fe644",
                "2ff62202.40506e"
            ]
        ]
    },
    {
        "id": "5f42eaf4.0fe644",
        "type": "delay",
        "z": "66959060.dd999",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "7b15b65b.2d5b58"
            ]
        ]
    },
    {
        "id": "7b15b65b.2d5b58",
        "type": "template",
        "z": "66959060.dd999",
        "name": "OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"state\":\"OFF\", \"speed\":60,\"effect\":\"static\"}",
        "output": "json",
        "x": 570,
        "y": 300,
        "wires": [
            [
                "9118336b.0de3b",
                "2ff62202.40506e"
            ]
        ]
    },
    {
        "id": "9118336b.0de3b",
        "type": "delay",
        "z": "66959060.dd999",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 640,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4d0e24c9.4d67ac",
        "type": "actionflows_in",
        "z": "850c061.bcd9ef8",
        "name": "delay 7 in",
        "priority": "52",
        "links": [],
        "scope": "protected",
        "x": 120,
        "y": 1260,
        "wires": [
            [
                "d1a3c228.8699f"
            ]
        ]
    },
    {
        "id": "88819ada.9d53c8",
        "type": "actionflows_out",
        "z": "850c061.bcd9ef8",
        "name": "delay 7 out",
        "links": [],
        "x": 430,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d1a3c228.8699f",
        "type": "switch",
        "z": "850c061.bcd9ef8",
        "name": "7?",
        "property": "delays_7",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 1260,
        "wires": [
            [
                "5fea45ee.99b1ac"
            ],
            [
                "88819ada.9d53c8"
            ]
        ]
    },
    {
        "id": "62796e61.3ed82",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Blink if 7 Delayed",
        "info": "",
        "x": 140,
        "y": 1220,
        "wires": []
    },
    {
        "id": "5fea45ee.99b1ac",
        "type": "subflow:66959060.dd999",
        "z": "850c061.bcd9ef8",
        "name": "",
        "env": [],
        "x": 430,
        "y": 1240,
        "wires": [
            [
                "88819ada.9d53c8"
            ]
        ]
    },
    {
        "id": "1fcc98f5.79c8b7",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "",
        "topic": "",
        "payload": "Good Service",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 770,
        "y": 420,
        "wires": [
            [
                "3202ed42.5c8022"
            ]
        ]
    },
    {
        "id": "3202ed42.5c8022",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Toggle delay",
        "func": "msg.payload = {\n    'data': {\n        'state': msg.payload\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 440,
        "wires": [
            [
                "33776225.67039e"
            ]
        ]
    },
    {
        "id": "1338a27e.da499e",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "",
        "topic": "",
        "payload": "Delays",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 750,
        "y": 460,
        "wires": [
            [
                "3202ed42.5c8022"
            ]
        ]
    },
    {
        "id": "33776225.67039e",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Delayed?",
        "func": "// Returns true if train is delayed\nmsg.payload = (\n    msg.payload.data.state === \"Delays\"\n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 440,
        "wires": [
            [
                "224ddc04.e1cb04"
            ]
        ]
    },
    {
        "id": "224ddc04.e1cb04",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays 7?",
        "rules": [
            {
                "t": "set",
                "p": "delays_7",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c04a740c.74b5d8",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "77640",
        "acknoledge": true,
        "name": "Lanna Lantern",
        "topic": "",
        "x": 1190,
        "y": 540,
        "wires": [
            [
                "811ea503.f6cf28"
            ]
        ]
    },
    {
        "id": "53117228.f3bcec",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.lanna_lantern\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1490,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "53b42182.8b281",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.lanna_lantern\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1490,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "811ea503.f6cf28",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1350,
        "y": 540,
        "wires": [
            [
                "53117228.f3bcec"
            ],
            [
                "53b42182.8b281"
            ]
        ]
    },
    {
        "id": "830844c2.fdd198",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "77639",
        "acknoledge": true,
        "name": "Thai Light",
        "topic": "",
        "x": 1180,
        "y": 420,
        "wires": [
            [
                "720adbe0.205444"
            ]
        ]
    },
    {
        "id": "7406ac44.ce7064",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.thai_light\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1490,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e9c516d1.988588",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.thai_light\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1490,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "720adbe0.205444",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1350,
        "y": 420,
        "wires": [
            [
                "7406ac44.ce7064"
            ],
            [
                "e9c516d1.988588"
            ]
        ]
    },
    {
        "id": "8c879127.423dd",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "80152",
        "acknoledge": true,
        "name": "Rice Lights",
        "topic": "",
        "x": 740,
        "y": 920,
        "wires": [
            [
                "49c71175.b86e4"
            ]
        ]
    },
    {
        "id": "85b83c9a.6f4d3",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.rice_lights\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1010,
        "y": 900,
        "wires": [
            [
                "1469b807.187c08"
            ]
        ]
    },
    {
        "id": "76fe4f00.0cd1a",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.rice_lights\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1010,
        "y": 940,
        "wires": [
            [
                "e34d508e.f977a"
            ]
        ]
    },
    {
        "id": "49c71175.b86e4",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 920,
        "wires": [
            [
                "85b83c9a.6f4d3"
            ],
            [
                "76fe4f00.0cd1a"
            ]
        ]
    },
    {
        "id": "9a0de6e.299bf18",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.rice_lights\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1250,
        "y": 940,
        "wires": [
            [
                "1dc70b25.f93335"
            ]
        ]
    },
    {
        "id": "65e03a4b.a9ca84",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\":\"switch.rice_lights\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1490,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "a7351997.4461f8",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.rice_lights\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1250,
        "y": 900,
        "wires": [
            [
                "6c016136.dfe2c"
            ]
        ]
    },
    {
        "id": "b04ad8e5.8eea18",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.rice_lights\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 1490,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "1469b807.187c08",
        "type": "delay",
        "z": "7538960a.bfe8b8",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1130,
        "y": 900,
        "wires": [
            [
                "a7351997.4461f8"
            ]
        ]
    },
    {
        "id": "e34d508e.f977a",
        "type": "delay",
        "z": "7538960a.bfe8b8",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1130,
        "y": 940,
        "wires": [
            [
                "9a0de6e.299bf18"
            ]
        ]
    },
    {
        "id": "6c016136.dfe2c",
        "type": "delay",
        "z": "7538960a.bfe8b8",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1370,
        "y": 900,
        "wires": [
            [
                "b04ad8e5.8eea18"
            ]
        ]
    },
    {
        "id": "1dc70b25.f93335",
        "type": "delay",
        "z": "7538960a.bfe8b8",
        "name": "3s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1370,
        "y": 940,
        "wires": [
            [
                "65e03a4b.a9ca84"
            ]
        ]
    }
]