flows.json
[
    {
        "id": "dc9e57a8.6747d8",
        "type": "tab",
        "label": "Globals",
        "disabled": false,
        "info": ""
    },
    {
        "id": "363f3bc3.b66854",
        "type": "tab",
        "label": "Timers",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e3d5be61.6eb31",
        "type": "tab",
        "label": "Alexa | Receiver",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7538960a.bfe8b8",
        "type": "tab",
        "label": "Alexa | Smart Home",
        "disabled": false,
        "info": ""
    },
    {
        "id": "997b60db.958c4",
        "type": "tab",
        "label": "Light Automations",
        "disabled": false,
        "info": ""
    },
    {
        "id": "850c061.bcd9ef8",
        "type": "tab",
        "label": "Hoplite Automation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6b041d7.60aaee4",
        "type": "subflow",
        "name": "Blink Hoplite Yellow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 340,
                "y": 500,
                "wires": [
                    {
                        "id": "3fe22012.3dcec"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 620,
                "wires": [
                    {
                        "id": "ecec5b7c.ee3a68",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "64f3502b.1d232",
        "type": "subflow",
        "name": "Blink Hoplite Green",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 440,
                "y": 280,
                "wires": [
                    {
                        "id": "c827ee7d.c3346"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 900,
                "y": 400,
                "wires": [
                    {
                        "id": "33728d18.352492",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "36eaff76.e9878",
        "type": "subflow",
        "name": "Pairing Notifications",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "b105943c.5826f8",
        "type": "subflow",
        "name": "Devices",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "c1bede4a.2978",
        "type": "subflow",
        "name": "Status",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "7fe5a0e1.89708",
        "type": "subflow",
        "name": "Logging Level",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "95aa6a53.739348",
        "type": "subflow",
        "name": "Remove Device",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "fbcb23f2.0e3f9",
        "type": "subflow",
        "name": "Permit Join",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "f88434dd.9bae08",
        "type": "subflow",
        "name": "Rename Device",
        "info": "",
        "category": "Zigbee2MQTT Admin Panel",
        "in": [],
        "out": []
    },
    {
        "id": "a117d285.11d84",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": true
    },
    {
        "id": "8a0c2cc0.358c6",
        "type": "alexa-home-conf",
        "z": "",
        "username": "mpscherrer"
    },
    {
        "id": "44deb46d.8fe2ec",
        "type": "mqtt-broker",
        "z": "",
        "name": "mosquitto",
        "broker": "192.168.1.222",
        "port": "1883",
        "clientid": "node-red",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ec5c061f.088ff8",
        "type": "ui_group",
        "z": "b105943c.5826f8",
        "name": "Devices",
        "tab": "395981b7.ed0fbe",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "bc331ebb.e464f",
        "type": "ui_group",
        "z": "",
        "name": "Status",
        "tab": "395981b7.ed0fbe",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9ef2cc6e.2d348",
        "type": "ui_group",
        "z": "7fe5a0e1.89708",
        "name": "Logging Level",
        "tab": "395981b7.ed0fbe",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6a6be8fd.014798",
        "type": "ui_group",
        "z": "95aa6a53.739348",
        "name": "Remove Device",
        "tab": "395981b7.ed0fbe",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cca51e09.a6a1a",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "domoticz/bridge/state",
        "birthQos": "0",
        "birthPayload": "online",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b539715f.dbb71",
        "type": "ui_group",
        "z": "",
        "name": "Permit Join",
        "tab": "395981b7.ed0fbe",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5b8f695a.c9e418",
        "type": "ui_group",
        "z": "",
        "name": "Rename Device",
        "tab": "395981b7.ed0fbe",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7c333ce5.df6d24",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "395981b7.ed0fbe",
        "type": "ui_tab",
        "z": "",
        "name": "Zigbee2MQTT Admin Panel",
        "icon": "dashboard"
    },
    {
        "id": "d87b31e8.93a39",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "54d27734.1ba1c8",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 100,
        "wires": [
            [
                "80d25265.805b1"
            ],
            [
                "e87da622.4e07b8"
            ]
        ]
    },
    {
        "id": "f9955b82.7e2b88",
        "type": "schedex",
        "z": "363f3bc3.b66854",
        "name": "Timer",
        "suspended": false,
        "lat": "40.791",
        "lon": "-73.9256",
        "ontime": "22:00",
        "ontopic": "payload",
        "onpayload": "ON",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "7:30",
        "offtopic": "payload",
        "offpayload": "OFF",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "bcc682d5.9f78a"
            ]
        ]
    },
    {
        "id": "2b041670.11152a",
        "type": "comment",
        "z": "363f3bc3.b66854",
        "name": "Dohm Timer",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "9f2e46b7.353798",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "f8ea6fa7.56e3"
            ],
            [
                "ee547ffa.9fe78"
            ]
        ]
    },
    {
        "id": "a182130.33b37f",
        "type": "schedex",
        "z": "363f3bc3.b66854",
        "name": "Timer",
        "suspended": false,
        "lat": "40.791",
        "lon": "-73.9256",
        "ontime": "8:30",
        "ontopic": "payload",
        "onpayload": "ON",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "22:00",
        "offtopic": "payload",
        "offpayload": "OFF",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "9f2e46b7.353798"
            ]
        ]
    },
    {
        "id": "84f6f37e.8d52a",
        "type": "comment",
        "z": "363f3bc3.b66854",
        "name": "Petcube Timer",
        "info": "",
        "x": 120,
        "y": 180,
        "wires": []
    },
    {
        "id": "85290d16.ec23",
        "type": "http in",
        "z": "e3d5be61.6eb31",
        "name": "/receiver",
        "url": "/receiver",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "4e07606a.597f3"
            ]
        ]
    },
    {
        "id": "4634e6bc.8254b8",
        "type": "switch",
        "z": "e3d5be61.6eb31",
        "name": "Request",
        "property": "payload.request.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "LaunchRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "IntentRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SessionEndedRequest",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 460,
        "y": 260,
        "wires": [
            [
                "842a3bb7.aaf108"
            ],
            [
                "7e7cb269.9a1cac"
            ],
            [
                "28db4b5d.5559a4"
            ],
            [
                "290b8f41.ae30e"
            ]
        ]
    },
    {
        "id": "4e07606a.597f3",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Extract User",
        "func": "msg.userId = msg.payload.session.user.userId;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "4634e6bc.8254b8"
            ]
        ]
    },
    {
        "id": "7e7cb269.9a1cac",
        "type": "switch",
        "z": "e3d5be61.6eb31",
        "name": "Intent Switch",
        "property": "payload.request.intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ReceiverPowerStatusIntent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ReceiverSourceStatusIntent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ReceiverSetSourceIntent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ReceiverSetVolumeIntent",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "fca45d2c.74de4"
            ],
            [
                "877d0c62.b88f4"
            ],
            [
                "be335484.4775f8"
            ],
            [
                "5e39cf05.8e38d"
            ],
            [
                "290b8f41.ae30e"
            ]
        ]
    },
    {
        "id": "80992288.c825d",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "State response",
        "func": "msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> The receiver is \"  + msg.payload + \" </speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak> The receiver is \"  + msg.payload + \" </speak>\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 420,
        "wires": [
            [
                "a1d91d4c.91383"
            ]
        ]
    },
    {
        "id": "fca45d2c.74de4",
        "type": "api-current-state",
        "z": "e3d5be61.6eb31",
        "name": "Receiver State",
        "server": "a117d285.11d84",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "media_player.receiver",
        "x": 380,
        "y": 420,
        "wires": [
            [
                "80992288.c825d"
            ]
        ]
    },
    {
        "id": "91e4cea5.964ee",
        "type": "poll-state",
        "z": "e3d5be61.6eb31",
        "name": "Receiver State",
        "server": "a117d285.11d84",
        "updateinterval": "",
        "outputinitially": true,
        "outputonchanged": true,
        "entity_id": "media_player.receiver",
        "x": 120,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "572ed60a.82cf98",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Parse source",
        "func": "msg.payload = msg.data.attributes.source;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 520,
        "wires": [
            [
                "aeabb859.756fa8"
            ]
        ]
    },
    {
        "id": "aeabb859.756fa8",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Source response",
        "func": "msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> The receiver source is \"  + msg.payload + \" </speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak> The receiver source is \"  + msg.payload + \" </speak>\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 520,
        "wires": [
            [
                "a2fdab95.4bf0b8"
            ]
        ]
    },
    {
        "id": "28db4b5d.5559a4",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "End Session Message",
        "func": "msg.payload = {\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> Goodbye human! </speak>\"\n    },\n    \"shouldEndSession\": true\n  },\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 220,
        "wires": [
            [
                "e91c4ff4.6f9a4"
            ]
        ]
    },
    {
        "id": "842a3bb7.aaf108",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Start Session Message",
        "func": "msg.payload = {\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"SSML\",\n            \"ssml\": \"<speak> Hello! I am your receiver.</speak>\"\n        },\n        \"shouldEndSession\": false\n    },\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 160,
        "wires": [
            [
                "e91c4ff4.6f9a4"
            ]
        ]
    },
    {
        "id": "e91c4ff4.6f9a4",
        "type": "http response",
        "z": "e3d5be61.6eb31",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "5c7672bb.bbfd7c",
        "type": "comment",
        "z": "e3d5be61.6eb31",
        "name": "Power Status Request",
        "info": "",
        "x": 400,
        "y": 380,
        "wires": []
    },
    {
        "id": "a10f888c.7422a8",
        "type": "comment",
        "z": "e3d5be61.6eb31",
        "name": "Source Status Request",
        "info": "",
        "x": 400,
        "y": 480,
        "wires": []
    },
    {
        "id": "877d0c62.b88f4",
        "type": "api-current-state",
        "z": "e3d5be61.6eb31",
        "name": "Receiver State",
        "server": "a117d285.11d84",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "media_player.receiver",
        "x": 380,
        "y": 520,
        "wires": [
            [
                "572ed60a.82cf98"
            ]
        ]
    },
    {
        "id": "290b8f41.ae30e",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Unknown Message",
        "func": "msg.payload = {\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> You haven't taught me that. </speak>\"\n    },\n    \"shouldEndSession\": true\n  },\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 280,
        "wires": [
            [
                "e91c4ff4.6f9a4"
            ]
        ]
    },
    {
        "id": "a2fdab95.4bf0b8",
        "type": "http response",
        "z": "e3d5be61.6eb31",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 520,
        "wires": []
    },
    {
        "id": "a1d91d4c.91383",
        "type": "http response",
        "z": "e3d5be61.6eb31",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "7978e7c.2c94f18",
        "type": "api-call-service",
        "z": "e3d5be61.6eb31",
        "name": "Select Source",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "select_source",
        "data": "{ }",
        "mergecontext": "",
        "x": 560,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "be335484.4775f8",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Extract source",
        "func": "raw_source = msg.payload.request.intent.slots.source.value;\n\n// Fix source casing on raw source\nsource_mapper = {\n   'apple tv': 'Apple TV',\n   'ps4': 'PS4',\n   'playstation': 'PS4',\n   'p.s. 4': 'PS4',\n   'game': 'GAME',\n   'pc': 'PC',\n   'fire stick': 'Fire Stick',\n   'am tuner': 'AM Tuner',\n   'fm tuner': 'FM Tuner',\n   'technics': 'Technics',\n   'turntable': 'Technics',\n   'record player': 'Technics',\n   'usb': 'USB'\n}\n\nmsg.payload.data = { \n    \"entity_id\" : \"media_player.receiver\", \n    \"source\" : source_mapper[raw_source.toLowerCase()]\n\n }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 620,
        "wires": [
            [
                "59ebb73a.33d6f8",
                "7978e7c.2c94f18"
            ]
        ]
    },
    {
        "id": "59ebb73a.33d6f8",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Confirm source",
        "func": "msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak> The receiver is set to \"  + msg.payload.data.source + \" </speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak> The receiver is set to \"  + msg.payload.data.source + \" </speak>\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 660,
        "wires": [
            [
                "c1fd73b0.34e89"
            ]
        ]
    },
    {
        "id": "c1fd73b0.34e89",
        "type": "http response",
        "z": "e3d5be61.6eb31",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "c1331b8e.a9a1d8",
        "type": "comment",
        "z": "e3d5be61.6eb31",
        "name": "Source Set Request",
        "info": "",
        "x": 390,
        "y": 580,
        "wires": []
    },
    {
        "id": "7433e2ef.ceb25c",
        "type": "comment",
        "z": "e3d5be61.6eb31",
        "name": "Volume Set Request",
        "info": "",
        "x": 390,
        "y": 720,
        "wires": []
    },
    {
        "id": "5e39cf05.8e38d",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Extract volume",
        "func": "volume_level = msg.payload.request.intent.slots.volume_level.value;\nvolume_level = volume_level / 77.0;\n\nmsg.payload.data = { \n    \"entity_id\" : \"media_player.receiver\", \n    \"volume_level\" : volume_level\n\n }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 760,
        "wires": [
            [
                "cc9c1d86.8f1f3",
                "4f07a0d2.e55e2"
            ]
        ]
    },
    {
        "id": "cc9c1d86.8f1f3",
        "type": "function",
        "z": "e3d5be61.6eb31",
        "name": "Confirm volume",
        "func": "msg.payload = {\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"SSML\",\n      \"ssml\": \"<speak>Sure thing.</speak>\"\n    },\n    \"reprompt\": {\n      \"outputSpeech\": {\n        \"type\": \"SSML\",\n        \"ssml\": \"<speak>Sure thing.</speak>\"\n      }\n    },\n    \"shouldEndSession\": true\n  }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 800,
        "wires": [
            [
                "ca9aa129.9da12"
            ]
        ]
    },
    {
        "id": "ca9aa129.9da12",
        "type": "http response",
        "z": "e3d5be61.6eb31",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 800,
        "wires": []
    },
    {
        "id": "4f07a0d2.e55e2",
        "type": "api-call-service",
        "z": "e3d5be61.6eb31",
        "name": "Volume Set",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "volume_set",
        "data": "{ }",
        "mergecontext": "",
        "x": 550,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "51eac358.4fab04",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "26648",
        "acknoledge": true,
        "name": "Bookcase",
        "topic": "",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "ed32dd4d.e1426"
            ]
        ]
    },
    {
        "id": "15092e47.0fb12a",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.bookcase\" }",
        "mergecontext": "",
        "x": 390,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "38bf77a6.ed13b",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.bookcase\" }",
        "mergecontext": "",
        "x": 390,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ed32dd4d.e1426",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 60,
        "wires": [
            [
                "15092e47.0fb12a"
            ],
            [
                "38bf77a6.ed13b"
            ]
        ]
    },
    {
        "id": "6571eed4.63a09",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "26650",
        "acknoledge": true,
        "name": "Receiver",
        "topic": "",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "3a0f2461.679edc"
            ]
        ]
    },
    {
        "id": "3a0f2461.679edc",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "5d1edff9.61d0c8"
            ],
            [
                "1cc308ec.edac6f"
            ]
        ]
    },
    {
        "id": "5d1edff9.61d0c8",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "turn_on",
        "data": "{\"entity_id\": \"media_player.receiver\" }",
        "mergecontext": "",
        "x": 390,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1cc308ec.edac6f",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "turn_off",
        "data": "{\"entity_id\": \"media_player.receiver\" }",
        "mergecontext": "",
        "x": 390,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "21ec44d.35fd63c",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "26760",
        "acknoledge": true,
        "name": "Petcube",
        "topic": "",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "10d8123c.29d67e"
            ]
        ]
    },
    {
        "id": "227c7a08.df2506",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "26758",
        "acknoledge": true,
        "name": "TV",
        "topic": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "438b0a98.c275a4"
            ]
        ]
    },
    {
        "id": "cd85b7a0.2402b",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.living_room_tv\" }",
        "mergecontext": "",
        "x": 390,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e000b449.9a17b8",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.living_room_tv\" }",
        "mergecontext": "",
        "x": 390,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "438b0a98.c275a4",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "cd85b7a0.2402b"
            ],
            [
                "e000b449.9a17b8"
            ]
        ]
    },
    {
        "id": "10d8123c.29d67e",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 460,
        "wires": [
            [
                "18b33da0.4d3dc2"
            ],
            [
                "f5191b83.66e38"
            ]
        ]
    },
    {
        "id": "18b33da0.4d3dc2",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.petcube\" }",
        "mergecontext": "",
        "x": 390,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f5191b83.66e38",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "media_player",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.petcube\" }",
        "mergecontext": "",
        "x": 390,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "15bb29b2.0de386",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "27035",
        "acknoledge": true,
        "name": "Hoplite",
        "topic": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "7015d758.68b148"
            ]
        ]
    },
    {
        "id": "7015d758.68b148",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetColorRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 580,
        "wires": [
            [
                "b668d90a.0fd928"
            ],
            [
                "4f8b0791.29fd48"
            ],
            [
                "90878e80.69259"
            ]
        ]
    },
    {
        "id": "b668d90a.0fd928",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\": \"light.hoplite\" }",
        "mergecontext": "",
        "x": 390,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4f8b0791.29fd48",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\": \"light.hoplite\" }",
        "mergecontext": "",
        "x": 390,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a1d92c9b.1474e",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Set Color",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{}",
        "mergecontext": "",
        "x": 560,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "90878e80.69259",
        "type": "function",
        "z": "7538960a.bfe8b8",
        "name": "Parse HS",
        "func": "msg.payload.data = {\n    \"entity_id\" : \"light.hoplite\",\n    \"hs_color\": [\n        msg.payload.hue,\n        msg.payload.saturation * 100\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 620,
        "wires": [
            [
                "a1d92c9b.1474e"
            ]
        ]
    },
    {
        "id": "32ef421b.55d15e",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "27043",
        "acknoledge": true,
        "name": "Blue Jar",
        "topic": "",
        "x": 100,
        "y": 740,
        "wires": [
            [
                "a82a7537.7f4b88"
            ]
        ]
    },
    {
        "id": "a82a7537.7f4b88",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetColorRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 740,
        "wires": [
            [
                "95599443.d3e728"
            ],
            [
                "24ca5e8.40514a2"
            ],
            [
                "93cf6a71.c07208"
            ]
        ]
    },
    {
        "id": "95599443.d3e728",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\": \"light.blue_jar\" }",
        "mergecontext": "",
        "x": 390,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "24ca5e8.40514a2",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\": \"light.blue_jar\" }",
        "mergecontext": "",
        "x": 390,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "5e6c5e23.e3eff",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Set Color",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{}",
        "mergecontext": "",
        "x": 560,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "93cf6a71.c07208",
        "type": "function",
        "z": "7538960a.bfe8b8",
        "name": "Parse HS",
        "func": "msg.payload.data = {\n    \"entity_id\" : \"light.blue_jar\",\n    \"hs_color\": [\n        msg.payload.hue,\n        msg.payload.saturation * 100\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 780,
        "wires": [
            [
                "5e6c5e23.e3eff"
            ]
        ]
    },
    {
        "id": "5fbbf998.171218",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "28018",
        "acknoledge": true,
        "name": "Lava Lamp",
        "topic": "",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "364f545.cbf55ac"
            ]
        ]
    },
    {
        "id": "1b14998a.829b46",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.lava_lamp\" }",
        "mergecontext": "",
        "x": 870,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "3d8adb03.b8bf54",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.lava_lamp\" }",
        "mergecontext": "",
        "x": 870,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "364f545.cbf55ac",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 60,
        "wires": [
            [
                "1b14998a.829b46"
            ],
            [
                "3d8adb03.b8bf54"
            ]
        ]
    },
    {
        "id": "77ee23eb.c3c21c",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "28017",
        "acknoledge": true,
        "name": "Lite Brite",
        "topic": "",
        "x": 580,
        "y": 200,
        "wires": [
            [
                "c4d2406e.132d2"
            ]
        ]
    },
    {
        "id": "9150007.5f0e5",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.lite_brite\" }",
        "mergecontext": "",
        "x": 870,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "847b24.7dce34e",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.lite_brite\" }",
        "mergecontext": "",
        "x": 870,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c4d2406e.132d2",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 200,
        "wires": [
            [
                "9150007.5f0e5"
            ],
            [
                "847b24.7dce34e"
            ]
        ]
    },
    {
        "id": "4a4c1fd0.ed9b1",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "28036",
        "acknoledge": true,
        "name": "Helmet",
        "topic": "",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "7015d758.68b148"
            ]
        ]
    },
    {
        "id": "61d88b46.e276b4",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "28656",
        "acknoledge": true,
        "name": "Vines",
        "topic": "",
        "x": 70,
        "y": 880,
        "wires": [
            [
                "6f29d5c1.5a4fac"
            ]
        ]
    },
    {
        "id": "6f29d5c1.5a4fac",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetColorRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 880,
        "wires": [
            [
                "47022f91.e0416"
            ],
            [
                "fd3bf8b2.3f3e58"
            ],
            [
                "e763f720.f84168"
            ]
        ]
    },
    {
        "id": "47022f91.e0416",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\": \"light.vines\" }",
        "mergecontext": "",
        "x": 390,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "fd3bf8b2.3f3e58",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\": \"light.vines\" }",
        "mergecontext": "",
        "x": 390,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "51917efa.0e065",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Set Color",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{}",
        "mergecontext": "",
        "x": 560,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "e763f720.f84168",
        "type": "function",
        "z": "7538960a.bfe8b8",
        "name": "Parse HS",
        "func": "msg.payload.data = {\n    \"entity_id\" : \"light.vines\",\n    \"hs_color\": [\n        msg.payload.hue,\n        msg.payload.saturation * 100\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 920,
        "wires": [
            [
                "51917efa.0e065"
            ]
        ]
    },
    {
        "id": "141a3dc8.e1a452",
        "type": "mqtt out",
        "z": "64f3502b.1d232",
        "name": "Hoplite",
        "topic": "wemos/hoplite/set",
        "qos": "0",
        "retain": "true",
        "broker": "44deb46d.8fe2ec",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "c827ee7d.c3346",
        "type": "template",
        "z": "64f3502b.1d232",
        "name": "Green",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"state\":\"ON\",\"color\":{\"r\":0,\"g\":255,\"b\":0},\"brightness\":100,\"speed\":60,\"effect\":\"solid\"}",
        "output": "json",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "5eeff176.c28e4",
                "141a3dc8.e1a452"
            ]
        ]
    },
    {
        "id": "5eeff176.c28e4",
        "type": "delay",
        "z": "64f3502b.1d232",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "88c84be2.355af8"
            ]
        ]
    },
    {
        "id": "88c84be2.355af8",
        "type": "template",
        "z": "64f3502b.1d232",
        "name": "OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"state\":\"OFF\",\"color\":{\"r\":0,\"g\":0,\"b\":0},\"brightness\":100,\"speed\":60,\"effect\":\"solid\"}",
        "output": "json",
        "x": 690,
        "y": 360,
        "wires": [
            [
                "33728d18.352492",
                "141a3dc8.e1a452"
            ]
        ]
    },
    {
        "id": "33728d18.352492",
        "type": "delay",
        "z": "64f3502b.1d232",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 760,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3fe22012.3dcec",
        "type": "template",
        "z": "6b041d7.60aaee4",
        "name": "Yellow",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"state\":\"ON\",\"color\":{\"r\":255,\"g\":255,\"b\":0},\"brightness\":100,\"speed\":60,\"effect\":\"solid\"}",
        "output": "json",
        "x": 470,
        "y": 500,
        "wires": [
            [
                "d0333f68.29113",
                "94e9bf.9f49064"
            ]
        ]
    },
    {
        "id": "d0333f68.29113",
        "type": "delay",
        "z": "6b041d7.60aaee4",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 520,
        "y": 540,
        "wires": [
            [
                "7d1bb1dc.a26cb"
            ]
        ]
    },
    {
        "id": "7d1bb1dc.a26cb",
        "type": "template",
        "z": "6b041d7.60aaee4",
        "name": "OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"state\":\"OFF\",\"color\":{\"r\":0,\"g\":0,\"b\":0},\"brightness\":100,\"speed\":60,\"effect\":\"solid\"}",
        "output": "json",
        "x": 590,
        "y": 580,
        "wires": [
            [
                "ecec5b7c.ee3a68",
                "94e9bf.9f49064"
            ]
        ]
    },
    {
        "id": "ecec5b7c.ee3a68",
        "type": "delay",
        "z": "6b041d7.60aaee4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 640,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "94e9bf.9f49064",
        "type": "mqtt out",
        "z": "6b041d7.60aaee4",
        "name": "Hoplite",
        "topic": "wemos/hoplite/set",
        "qos": "0",
        "retain": "true",
        "broker": "44deb46d.8fe2ec",
        "x": 720,
        "y": 540,
        "wires": []
    },
    {
        "id": "adc9f68e.c70ee8",
        "type": "comment",
        "z": "997b60db.958c4",
        "name": "Turn on headboard lights",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "47f7f7fb.876968",
        "type": "comment",
        "z": "997b60db.958c4",
        "name": "Turn on lights when arriving home",
        "info": "",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "9c83d9dd.b5b388",
        "type": "api-current-state",
        "z": "997b60db.958c4",
        "name": "Already on?",
        "server": "a117d285.11d84",
        "halt_if": "on",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "switch.headboard",
        "x": 1030,
        "y": 40,
        "wires": [
            [
                "5e565b12.5c62c4"
            ]
        ]
    },
    {
        "id": "5e565b12.5c62c4",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.headboard\"}",
        "mergecontext": "",
        "x": 1230,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a1359a24.3bf698",
        "type": "stoptimer",
        "z": "997b60db.958c4",
        "duration": "10",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "10min",
        "x": 1010,
        "y": 100,
        "wires": [
            [
                "ea01825b.f97a1"
            ],
            []
        ]
    },
    {
        "id": "ea01825b.f97a1",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.headboard\"}",
        "mergecontext": "",
        "x": 1170,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "dbb8add4.7dc458",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "30595",
        "acknoledge": true,
        "name": "Ivy",
        "topic": "",
        "x": 70,
        "y": 940,
        "wires": [
            [
                "6f29d5c1.5a4fac"
            ]
        ]
    },
    {
        "id": "4d46c426.a97b7c",
        "type": "time-range-switch",
        "z": "997b60db.958c4",
        "name": "6pm - 11pm",
        "lat": "40.7799",
        "lon": "-73.94872",
        "startTime": "18:00",
        "endTime": "23:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 770,
        "y": 100,
        "wires": [
            [
                "9c83d9dd.b5b388",
                "a1359a24.3bf698"
            ],
            []
        ]
    },
    {
        "id": "95497aed.811d08",
        "type": "api-current-state",
        "z": "997b60db.958c4",
        "name": "Already on?",
        "server": "a117d285.11d84",
        "halt_if": "on",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "switch.star_light",
        "x": 690,
        "y": 280,
        "wires": [
            [
                "85436fe2.b223c",
                "5eb7d903.756668"
            ]
        ]
    },
    {
        "id": "85436fe2.b223c",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Switch On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{ \"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 870,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b94cb487.1dcc58",
        "type": "stoptimer",
        "z": "997b60db.958c4",
        "duration": "5",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "5 min",
        "x": 670,
        "y": 320,
        "wires": [
            [
                "c3563fbb.ff7c7"
            ],
            []
        ]
    },
    {
        "id": "9e772518.f88288",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Switch Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 1010,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c3563fbb.ff7c7",
        "type": "switch",
        "z": "997b60db.958c4",
        "name": "Anyone home?",
        "property": "anyone_home_plus_guests",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 840,
        "y": 320,
        "wires": [
            [],
            [
                "9e772518.f88288",
                "d7f28811.78e198"
            ]
        ]
    },
    {
        "id": "f967442c.b94d18",
        "type": "time-range-switch",
        "z": "997b60db.958c4",
        "name": "6pm - 10pm",
        "lat": "40.7799",
        "lon": "-73.94872",
        "startTime": "18:00",
        "endTime": "22:00",
        "startOffset": "",
        "endOffset": "",
        "x": 770,
        "y": 40,
        "wires": [
            [
                "9c83d9dd.b5b388",
                "a1359a24.3bf698"
            ],
            []
        ]
    },
    {
        "id": "48ecd7d8.c630d8",
        "type": "weekday",
        "z": "997b60db.958c4",
        "name": "Weekday?",
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": false,
        "sat": false,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "f967442c.b94d18"
            ],
            [
                "4d46c426.a97b7c"
            ]
        ]
    },
    {
        "id": "ee2fa122.3ef8c",
        "type": "mqtt in",
        "z": "997b60db.958c4",
        "name": "Front Door",
        "topic": "zigbee2mqtt/front_door_sensor",
        "qos": "0",
        "broker": "44deb46d.8fe2ec",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "9bbc3b2f.e95368"
            ]
        ]
    },
    {
        "id": "9bbc3b2f.e95368",
        "type": "json",
        "z": "997b60db.958c4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 300,
        "wires": [
            [
                "75164f35.ff5ad"
            ]
        ]
    },
    {
        "id": "f6d5679d.109f48",
        "type": "switch",
        "z": "997b60db.958c4",
        "name": "Door open?",
        "property": "payload.contact",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "b94cb487.1dcc58",
                "95497aed.811d08"
            ]
        ]
    },
    {
        "id": "7d6991a9.3f175",
        "type": "mqtt in",
        "z": "997b60db.958c4",
        "name": "Bedroom Motion",
        "topic": "zigbee2mqtt/bedroom_motion_sensor",
        "qos": "0",
        "broker": "44deb46d.8fe2ec",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "1c2cbfb9.2cc0a"
            ]
        ]
    },
    {
        "id": "1c2cbfb9.2cc0a",
        "type": "json",
        "z": "997b60db.958c4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "d6290bdd.153228"
            ]
        ]
    },
    {
        "id": "d6290bdd.153228",
        "type": "switch",
        "z": "997b60db.958c4",
        "name": "Motion?",
        "property": "payload.occupancy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 420,
        "y": 80,
        "wires": [
            [
                "48ecd7d8.c630d8"
            ]
        ]
    },
    {
        "id": "614493c.c179d6c",
        "type": "mqtt in",
        "z": "997b60db.958c4",
        "name": "Cube",
        "topic": "zigbee2mqtt/mi_cube",
        "qos": "0",
        "broker": "44deb46d.8fe2ec",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "68b016b1.5aacf8"
            ]
        ]
    },
    {
        "id": "68b016b1.5aacf8",
        "type": "json",
        "z": "997b60db.958c4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 520,
        "wires": [
            [
                "32feede3.865e42"
            ]
        ]
    },
    {
        "id": "32feede3.865e42",
        "type": "switch",
        "z": "997b60db.958c4",
        "name": "Action?",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "shake",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tap",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 520,
        "wires": [
            [
                "6d27c1a4.8611e"
            ],
            [
                "373b535f.097f8c"
            ]
        ]
    },
    {
        "id": "efc1032f.5dbac",
        "type": "comment",
        "z": "997b60db.958c4",
        "name": "Control Lights with Cube",
        "info": "",
        "x": 170,
        "y": 480,
        "wires": []
    },
    {
        "id": "9199e494.bef118",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Set Color",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{}",
        "mergecontext": "",
        "x": 700,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "6d27c1a4.8611e",
        "type": "function",
        "z": "997b60db.958c4",
        "name": "Random Hue",
        "func": "random_hue = Math.floor(Math.random() * 361);\nsaturation = 100;\n\nmsg.payload.data = {\n    \"entity_id\" : [\"light.blue_jar\", \"light.vines\", \"light.hoplite\"],\n    \"hs_color\": [\n        random_hue,\n        saturation\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 480,
        "wires": [
            [
                "9199e494.bef118"
            ]
        ]
    },
    {
        "id": "373b535f.097f8c",
        "type": "function",
        "z": "997b60db.958c4",
        "name": "Set White",
        "func": "msg.payload.data = {\n    \"entity_id\" : [\"light.blue_jar\", \"light.vines\", \"light.hoplite\"],\n    \"hs_color\": [\n        360,\n        0\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "9199e494.bef118"
            ]
        ]
    },
    {
        "id": "34f6863e.81765a",
        "type": "comment",
        "z": "997b60db.958c4",
        "name": "Shake",
        "info": "",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "3e381a1.feceae6",
        "type": "comment",
        "z": "997b60db.958c4",
        "name": "Tap",
        "info": "",
        "x": 510,
        "y": 520,
        "wires": []
    },
    {
        "id": "75164f35.ff5ad",
        "type": "time-range-switch",
        "z": "997b60db.958c4",
        "name": "Evening",
        "lat": "40.7799",
        "lon": "-73.94872",
        "startTime": "sunset",
        "endTime": "03:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "f6d5679d.109f48"
            ],
            []
        ]
    },
    {
        "id": "76d44f65.1a05f",
        "type": "actionflows",
        "z": "850c061.bcd9ef8",
        "info": "Describe your action API here.",
        "untilproptype": "bool",
        "proptype": "flow",
        "name": "delay",
        "prop": "alert",
        "untilprop": "false",
        "until": "eq",
        "loop": "watch",
        "scope": "protected",
        "perf": false,
        "seq": false,
        "x": 930,
        "y": 500,
        "wires": [
            [
                "fa8e9b09.d416f8"
            ]
        ]
    },
    {
        "id": "1111c7e.c1dcc38",
        "type": "poll-state",
        "z": "850c061.bcd9ef8",
        "name": "4 Train",
        "server": "a117d285.11d84",
        "updateinterval": "5",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "sensor.mta_subway_4",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "650302f8.6f3d2c"
            ]
        ]
    },
    {
        "id": "67fb45fd.0b8adc",
        "type": "poll-state",
        "z": "850c061.bcd9ef8",
        "name": "5 Train",
        "server": "a117d285.11d84",
        "updateinterval": "5",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "sensor.mta_subway_5",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "e653ad39.1e0c"
            ]
        ]
    },
    {
        "id": "f235d2dd.6c8cc",
        "type": "poll-state",
        "z": "850c061.bcd9ef8",
        "name": "6 Train",
        "server": "a117d285.11d84",
        "updateinterval": "5",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "sensor.mta_subway_6",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "e8b14588.ca1618"
            ]
        ]
    },
    {
        "id": "c818cf87.1f2ca",
        "type": "poll-state",
        "z": "850c061.bcd9ef8",
        "name": "Q Train",
        "server": "a117d285.11d84",
        "updateinterval": "5",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "sensor.mta_subway_q",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "ba572605.37bfc8"
            ]
        ]
    },
    {
        "id": "860b1be6.3ccc18",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Train & Rain Status",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "ba572605.37bfc8",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Delayed?",
        "func": "// Returns true if train is delayed\nmsg.payload = (\n    msg.payload === \"Delays\"\n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 280,
        "wires": [
            [
                "9ab7aa3a.cb1828"
            ]
        ]
    },
    {
        "id": "9ab7aa3a.cb1828",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays Q?",
        "rules": [
            {
                "t": "set",
                "p": "delays_Q",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "650302f8.6f3d2c",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Delayed?",
        "func": "// Returns true if train is delayed\nmsg.payload = (\n    msg.payload === \"Delays\"\n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "f67bf26a.1222f"
            ]
        ]
    },
    {
        "id": "f67bf26a.1222f",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays 4?",
        "rules": [
            {
                "t": "set",
                "p": "delays_4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 100,
        "wires": [
            [
                "73b3317f.d2a07"
            ]
        ]
    },
    {
        "id": "e653ad39.1e0c",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Delayed?",
        "func": "// Returns true if train is delayed\nmsg.payload = (\n    msg.payload === \"Delays\"\n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "955bdb0.b690628"
            ]
        ]
    },
    {
        "id": "955bdb0.b690628",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays 5?",
        "rules": [
            {
                "t": "set",
                "p": "delays_5",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "73b3317f.d2a07"
            ]
        ]
    },
    {
        "id": "e8b14588.ca1618",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Delayed?",
        "func": "// Returns true if train is delayed\nmsg.payload = (\n    msg.payload === \"Delays\"\n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "9b8a0c7e.533cc"
            ]
        ]
    },
    {
        "id": "9b8a0c7e.533cc",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays 6?",
        "rules": [
            {
                "t": "set",
                "p": "delays_6",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "73b3317f.d2a07"
            ]
        ]
    },
    {
        "id": "73b3317f.d2a07",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Any delayed?",
        "func": "\n// Returns true if any trains are delayed\nmsg.payload = [\n   flow.get(\"delays_4\"),\n   flow.get(\"delays_5\"),\n   flow.get(\"delays_6\")\n].some(function(x) { \n    return x\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 160,
        "wires": [
            [
                "5d2b5e05.e7cf6"
            ]
        ]
    },
    {
        "id": "5d2b5e05.e7cf6",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays 4/5/6?",
        "rules": [
            {
                "t": "set",
                "p": "delays_456",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "20471b1f.901664",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "",
        "topic": "",
        "payload": "Delays",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "aaea66e0.1826a8"
            ]
        ]
    },
    {
        "id": "d45e1010.de006",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "",
        "topic": "",
        "payload": "Good Service",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "aaea66e0.1826a8"
            ]
        ]
    },
    {
        "id": "fe766ad0.7e6658",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Delayed?",
        "func": "// Returns true if train is delayed\nmsg.payload = (\n    msg.payload.data.state === \"Delays\"\n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "9ea42f59.7caf"
            ]
        ]
    },
    {
        "id": "9ea42f59.7caf",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays Q?",
        "rules": [
            {
                "t": "set",
                "p": "delays_Q",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "aaea66e0.1826a8",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Toggle delay",
        "func": "msg.payload = {\n    'data': {\n        'state': msg.payload\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 280,
        "wires": [
            [
                "fe766ad0.7e6658"
            ]
        ]
    },
    {
        "id": "ba157b1c.c71f38",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "",
        "topic": "",
        "payload": "Delays",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "d8d89f47.9db48"
            ]
        ]
    },
    {
        "id": "71442504.c3917c",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "",
        "topic": "",
        "payload": "Good Service",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 770,
        "y": 340,
        "wires": [
            [
                "d8d89f47.9db48"
            ]
        ]
    },
    {
        "id": "628d5f5e.dd24b",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Delayed?",
        "func": "// Returns true if train is delayed\nmsg.payload = (\n    msg.payload.data.state === \"Delays\"\n);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 360,
        "wires": [
            [
                "9a04a354.a7e68"
            ]
        ]
    },
    {
        "id": "9a04a354.a7e68",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Delays 456?",
        "rules": [
            {
                "t": "set",
                "p": "delays_456",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d8d89f47.9db48",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Toggle delay",
        "func": "msg.payload = {\n    'data': {\n        'state': msg.payload\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 360,
        "wires": [
            [
                "628d5f5e.dd24b"
            ]
        ]
    },
    {
        "id": "fa323be9.c1f8a8",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Lock",
        "rules": [
            {
                "t": "set",
                "p": "delay_lock",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 620,
        "wires": [
            [
                "42e1bfaf.011df"
            ]
        ]
    },
    {
        "id": "8c03087e.4d2f48",
        "type": "actionflows_in",
        "z": "850c061.bcd9ef8",
        "name": "delay lock in",
        "priority": "55",
        "links": [],
        "scope": "protected",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "c8585618.276948"
            ]
        ]
    },
    {
        "id": "42e1bfaf.011df",
        "type": "actionflows_out",
        "z": "850c061.bcd9ef8",
        "name": "delay lock out",
        "links": [],
        "x": 480,
        "y": 660,
        "wires": []
    },
    {
        "id": "c8585618.276948",
        "type": "switch",
        "z": "850c061.bcd9ef8",
        "name": "Not locked?",
        "property": "delay_lock",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 290,
        "y": 640,
        "wires": [
            [
                "fa323be9.c1f8a8"
            ],
            [
                "fa323be9.c1f8a8"
            ],
            [
                "42e1bfaf.011df"
            ]
        ]
    },
    {
        "id": "fa8e9b09.d416f8",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Unlock",
        "rules": [
            {
                "t": "set",
                "p": "delay_lock",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "305a1ec0.2b2a72",
        "type": "switch",
        "z": "850c061.bcd9ef8",
        "name": "Not locked?",
        "property": "delay_lock",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 500,
        "wires": [
            [
                "76d44f65.1a05f"
            ],
            [
                "76d44f65.1a05f"
            ]
        ]
    },
    {
        "id": "2ad90640.bebfda",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "10s Trigger",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "cb6f54d9.d4f718"
            ]
        ]
    },
    {
        "id": "3bc79b39.5ea474",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "Unlock",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "c52b8ec2.dffc7"
            ]
        ]
    },
    {
        "id": "c52b8ec2.dffc7",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Unlock",
        "rules": [
            {
                "t": "set",
                "p": "delay_lock",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "cb6f54d9.d4f718",
        "type": "function",
        "z": "850c061.bcd9ef8",
        "name": "Any alerts?",
        "func": "\n// Returns true if any alerts\nmsg.payload = [\n   flow.get(\"delays_456\"),\n   flow.get(\"delays_Q\"),\n].some(function(x) { \n    return x\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 500,
        "wires": [
            [
                "ba1ee49f.ed0338"
            ]
        ]
    },
    {
        "id": "ba1ee49f.ed0338",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Alert?",
        "rules": [
            {
                "t": "set",
                "p": "alert",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 500,
        "wires": [
            [
                "bc4b116a.86189"
            ]
        ]
    },
    {
        "id": "401d7553.833acc",
        "type": "actionflows_in",
        "z": "850c061.bcd9ef8",
        "name": "delay Q in",
        "priority": "50",
        "links": [],
        "scope": "protected",
        "x": 140,
        "y": 880,
        "wires": [
            [
                "d42da472.573238"
            ]
        ]
    },
    {
        "id": "d0f289f4.a2c5f8",
        "type": "actionflows_out",
        "z": "850c061.bcd9ef8",
        "name": "delay Q out",
        "links": [],
        "x": 450,
        "y": 900,
        "wires": []
    },
    {
        "id": "dedf4432.211068",
        "type": "subflow:6b041d7.60aaee4",
        "z": "850c061.bcd9ef8",
        "name": "",
        "x": 430,
        "y": 860,
        "wires": [
            [
                "d0f289f4.a2c5f8"
            ]
        ]
    },
    {
        "id": "d42da472.573238",
        "type": "switch",
        "z": "850c061.bcd9ef8",
        "name": "Q?",
        "property": "delays_Q",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 880,
        "wires": [
            [
                "dedf4432.211068"
            ],
            [
                "d0f289f4.a2c5f8"
            ]
        ]
    },
    {
        "id": "b117d93c.07f688",
        "type": "actionflows_in",
        "z": "850c061.bcd9ef8",
        "name": "delay 4/5/6 in",
        "priority": "49",
        "links": [],
        "scope": "protected",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "522b9226.fcb06c"
            ]
        ]
    },
    {
        "id": "ecde20c0.53017",
        "type": "actionflows_out",
        "z": "850c061.bcd9ef8",
        "name": "delay 4/5/6 out",
        "links": [],
        "x": 440,
        "y": 1000,
        "wires": []
    },
    {
        "id": "522b9226.fcb06c",
        "type": "switch",
        "z": "850c061.bcd9ef8",
        "name": "4/5/6?",
        "property": "delays_456",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 980,
        "wires": [
            [
                "b622450a.3cdef8"
            ],
            [
                "ecde20c0.53017"
            ]
        ]
    },
    {
        "id": "b622450a.3cdef8",
        "type": "subflow:64f3502b.1d232",
        "z": "850c061.bcd9ef8",
        "name": "",
        "x": 430,
        "y": 960,
        "wires": [
            [
                "ecde20c0.53017"
            ]
        ]
    },
    {
        "id": "bc4b116a.86189",
        "type": "time-range-switch",
        "z": "850c061.bcd9ef8",
        "name": "7:30am - 8:30am",
        "lat": "40.7799",
        "lon": "-73.94872",
        "startTime": "7:30",
        "endTime": "8:30",
        "startOffset": "",
        "endOffset": "",
        "x": 610,
        "y": 500,
        "wires": [
            [
                "305a1ec0.2b2a72"
            ],
            []
        ]
    },
    {
        "id": "ae971990.2796c8",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Unlock action on flow reset",
        "info": "",
        "x": 170,
        "y": 360,
        "wires": []
    },
    {
        "id": "f6a6fc9e.d98f5",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Trigger action on morning alert",
        "info": "",
        "x": 190,
        "y": 460,
        "wires": []
    },
    {
        "id": "8a4dec80.7c586",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Lock action on trigger",
        "info": "",
        "x": 160,
        "y": 580,
        "wires": []
    },
    {
        "id": "fcc97cc5.ac217",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Manual Testing Overrides",
        "info": "",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "c998e4ca.173fb8",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Blink if Q Delayed",
        "info": "",
        "x": 150,
        "y": 840,
        "wires": []
    },
    {
        "id": "ade7d066.1f14c",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Blink if 4/5/6 Delayed",
        "info": "",
        "x": 160,
        "y": 940,
        "wires": []
    },
    {
        "id": "9fe48a8.da14f78",
        "type": "time-range-switch",
        "z": "850c061.bcd9ef8",
        "name": "7:30am - 8:30am",
        "lat": "40.7799",
        "lon": "-73.94872",
        "startTime": "7:30",
        "endTime": "8:30",
        "startOffset": "",
        "endOffset": "",
        "x": 330,
        "y": 760,
        "wires": [
            [
                "a90b9e1c.7f3ab"
            ],
            [
                "5627d9db.f00ca8"
            ]
        ]
    },
    {
        "id": "aea27c55.f3faf",
        "type": "actionflows_in",
        "z": "850c061.bcd9ef8",
        "name": "delay time in",
        "priority": "55",
        "links": [],
        "scope": "protected",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "9fe48a8.da14f78"
            ]
        ]
    },
    {
        "id": "5627d9db.f00ca8",
        "type": "change",
        "z": "850c061.bcd9ef8",
        "name": "Break alert",
        "rules": [
            {
                "t": "set",
                "p": "alert",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 780,
        "wires": [
            [
                "a90b9e1c.7f3ab"
            ]
        ]
    },
    {
        "id": "a90b9e1c.7f3ab",
        "type": "actionflows_out",
        "z": "850c061.bcd9ef8",
        "name": "delay time out",
        "links": [],
        "x": 560,
        "y": 740,
        "wires": []
    },
    {
        "id": "fa321ebb.9e2bc",
        "type": "comment",
        "z": "850c061.bcd9ef8",
        "name": "Break alert if past time",
        "info": "",
        "x": 160,
        "y": 720,
        "wires": []
    },
    {
        "id": "1d28d985.996e36",
        "type": "change",
        "z": "dc9e57a8.6747d8",
        "name": "Status?",
        "rules": [
            {
                "t": "set",
                "p": "mickey_home",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "ff845a05.bb7188",
                "9baa9ee1.725cd"
            ]
        ]
    },
    {
        "id": "774ecd3d.c831b4",
        "type": "change",
        "z": "dc9e57a8.6747d8",
        "name": "Status?",
        "rules": [
            {
                "t": "set",
                "p": "maggie_home",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "ff845a05.bb7188",
                "9baa9ee1.725cd"
            ]
        ]
    },
    {
        "id": "7632d5b0.1e091c",
        "type": "comment",
        "z": "dc9e57a8.6747d8",
        "name": "Is anyone in the house?",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "ff845a05.bb7188",
        "type": "function",
        "z": "dc9e57a8.6747d8",
        "name": "Anyone home?",
        "func": "\n// Returns true if either Mickey or Maggie is home\nmsg.payload = [\n   global.get(\"mickey_home\"),\n   global.get(\"maggie_home\"),\n].some(function(x) { \n    return x === \"home\"\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 100,
        "wires": [
            [
                "ca1c9f69.3b20d"
            ]
        ]
    },
    {
        "id": "ca1c9f69.3b20d",
        "type": "change",
        "z": "dc9e57a8.6747d8",
        "name": "Home Status?",
        "rules": [
            {
                "t": "set",
                "p": "anyone_home",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ff45bd89.9bded",
        "type": "function",
        "z": "dc9e57a8.6747d8",
        "name": "Presence?",
        "func": "\n// Returns true if either Mickey or Maggie is home\nmsg.payload = (msg.payload > 0.1) ? \"home\" : \"away\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "1d28d985.996e36"
            ]
        ]
    },
    {
        "id": "388cb5b7.ec768a",
        "type": "function",
        "z": "dc9e57a8.6747d8",
        "name": "Presence?",
        "func": "msg.payload = (msg.payload > 0.1) ? \"home\" : \"away\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "774ecd3d.c831b4"
            ]
        ]
    },
    {
        "id": "bcc682d5.9f78a",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "Anyone home?",
        "property": "anyone_home",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "54d27734.1ba1c8"
            ]
        ]
    },
    {
        "id": "5eb7d903.756668",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Light On",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{ \"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 860,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d7f28811.78e198",
        "type": "api-call-service",
        "z": "997b60db.958c4",
        "name": "Light Off",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 1000,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "bb0ae3ff.059c1",
        "type": "mqtt in",
        "z": "36eaff76.e9878",
        "name": "zigbee2mqtt/logging",
        "topic": "zigbee2mqtt/bridge/log",
        "qos": "2",
        "broker": "cca51e09.a6a1a",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "a561d7c0.e1b758"
            ]
        ]
    },
    {
        "id": "a561d7c0.e1b758",
        "type": "json",
        "z": "36eaff76.e9878",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "9ade2443.f2db68",
                "3ac1f77f.42bec8",
                "a45ed4ee.d52968"
            ]
        ]
    },
    {
        "id": "205b3570.994b0a",
        "type": "ui_toast",
        "z": "36eaff76.e9878",
        "position": "top right",
        "displayTime": "30",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "9ade2443.f2db68",
        "type": "function",
        "z": "36eaff76.e9878",
        "name": "Notification",
        "func": "if(msg.payload.type == \"pairing\" && msg.payload.message == \"connecting with device\") {\n\nmsg.payload = (\"A device is attempting to pair...\");\n\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 80,
        "wires": [
            [
                "205b3570.994b0a"
            ]
        ]
    },
    {
        "id": "aa1dca29.3b9748",
        "type": "comment",
        "z": "36eaff76.e9878",
        "name": "Notification",
        "info": "",
        "x": 110,
        "y": 140,
        "wires": []
    },
    {
        "id": "50ffef85.5c98b",
        "type": "comment",
        "z": "36eaff76.e9878",
        "name": "Pairing",
        "info": "",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "cfb31fef.ead34",
        "type": "ui_toast",
        "z": "36eaff76.e9878",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "3ac1f77f.42bec8",
        "type": "function",
        "z": "36eaff76.e9878",
        "name": "Notification",
        "func": "if(msg.payload.type == \"device_connected\") {\n\nmsg.payload = (\"Device paired successfully: \" + msg.payload.message);\n\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 200,
        "wires": [
            [
                "cfb31fef.ead34"
            ]
        ]
    },
    {
        "id": "ccd1a745.bbafd8",
        "type": "comment",
        "z": "36eaff76.e9878",
        "name": "Paired",
        "info": "",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "192a092f.81fef7",
        "type": "ui_toast",
        "z": "36eaff76.e9878",
        "position": "top right",
        "displayTime": "30",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "a45ed4ee.d52968",
        "type": "function",
        "z": "36eaff76.e9878",
        "name": "Notification",
        "func": "if(msg.payload.type == \"pairing\" && msg.payload.message == \"device incoming\") {\n\nmsg.payload = (\"A device is incoming or repairing...\");\n\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 140,
        "wires": [
            [
                "192a092f.81fef7"
            ]
        ]
    },
    {
        "id": "81f9441b.c636a8",
        "type": "comment",
        "z": "36eaff76.e9878",
        "name": "Incoming or Repairing",
        "info": "",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "8ba54ca6.2657f",
        "type": "mqtt in",
        "z": "b105943c.5826f8",
        "name": "zigbee2mqtt/out devices",
        "topic": "zigbee2mqtt/bridge/log",
        "qos": "2",
        "broker": "cca51e09.a6a1a",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "bc981cc3.e169b"
            ]
        ]
    },
    {
        "id": "b47700b3.8dd1a",
        "type": "ui_template",
        "z": "b105943c.5826f8",
        "group": "ec5c061f.088ff8",
        "name": "",
        "order": 0,
        "width": "12",
        "height": "12",
        "format": "<table>\n<tr>\n    <td><B><U>Name:</U></B></td>\n    <td><B><U>ieeeAddr:</U></B></td>\n    <td><B><U>Model:</U></B></td>\n    <td><B><U>Type:</U></B></td>\n</tr>\n  <tr ng-repeat=\"obj in msg.payload.message\">\n    <td>{{ obj.friendly_name }}</td>\n    <td>{{ obj.ieeeAddr }}</td>\n    <td>{{ obj.model }}</td>\n    <td>{{ obj.type }}</td>\n  </tr>\n\n</table>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 660,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8ce192cd.aed06",
        "type": "mqtt out",
        "z": "b105943c.5826f8",
        "name": "zigbee2mqtt/in devices",
        "topic": "zigbee2mqtt/bridge/config/devices",
        "qos": "",
        "retain": "",
        "broker": "cca51e09.a6a1a",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "25237b95.7ddd54",
        "type": "inject",
        "z": "b105943c.5826f8",
        "name": "Request Device List",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "4",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "8ce192cd.aed06"
            ]
        ]
    },
    {
        "id": "40318e4f.2b76a",
        "type": "comment",
        "z": "b105943c.5826f8",
        "name": "Request Device List",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "9cc7a907.e8c0a8",
        "type": "comment",
        "z": "b105943c.5826f8",
        "name": "Receive Device List",
        "info": "",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "bc981cc3.e169b",
        "type": "json",
        "z": "b105943c.5826f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "b47700b3.8dd1a",
                "66245983.7240e8",
                "f13267f3.66e828"
            ]
        ]
    },
    {
        "id": "603e6686.f2a038",
        "type": "http in",
        "z": "b105943c.5826f8",
        "name": "",
        "url": "/adminpanelapi/devicelist",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 530,
        "y": 220,
        "wires": [
            [
                "a92b347a.465e98"
            ]
        ]
    },
    {
        "id": "66245983.7240e8",
        "type": "function",
        "z": "b105943c.5826f8",
        "name": "Store Data",
        "func": "flow.set('devicelist',msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d0056386.b2da2",
        "type": "http response",
        "z": "b105943c.5826f8",
        "name": "",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "a92b347a.465e98",
        "type": "function",
        "z": "b105943c.5826f8",
        "name": "Get Data",
        "func": "var devicelist = flow.get('devicelist');\nmsg.payload = devicelist;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 220,
        "wires": [
            [
                "d0056386.b2da2"
            ]
        ]
    },
    {
        "id": "8fff9971.6e4888",
        "type": "comment",
        "z": "b105943c.5826f8",
        "name": "HTTP JSON API",
        "info": "",
        "x": 120,
        "y": 220,
        "wires": []
    },
    {
        "id": "f13267f3.66e828",
        "type": "function",
        "z": "b105943c.5826f8",
        "name": "Store Globally",
        "func": "global.set('zigbee2mqttdevicelist',msg.payload.message);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "543715df.fb7f5c",
        "type": "mqtt in",
        "z": "c1bede4a.2978",
        "name": "zigbee2mqtt/bridge state",
        "topic": "zigbee2mqtt/bridge/state",
        "qos": "2",
        "broker": "cca51e09.a6a1a",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "cbccb6e9.be1e88"
            ]
        ]
    },
    {
        "id": "cbccb6e9.be1e88",
        "type": "function",
        "z": "c1bede4a.2978",
        "name": "Format Data",
        "func": "flow.set('bridgestate',msg.payload);\nvar bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "74edef35.548a7"
            ]
        ]
    },
    {
        "id": "61a81bd0.479ae4",
        "type": "ui_template",
        "z": "c1bede4a.2978",
        "group": "bc331ebb.e464f",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "2",
        "format": "<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <td>Bridge</td>\n    <td>{{msg.payload.bridgestate}}</td>\n  </tr>\n  <tr>\n    <td>Devices</td>\n    <td>{{msg.payload.numberofdevices}}</td>\n  </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 660,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1ccea504.745fcb",
        "type": "function",
        "z": "c1bede4a.2978",
        "name": "Format Data",
        "func": "var bridgestate = flow.get('bridgestate');\nvar devicelist = global.get('zigbee2mqttdevicelist');\nmsg.payload = {}\nmsg.payload.bridgestate = bridgestate;\nmsg.payload.numberofdevices = devicelist.length;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 140,
        "wires": [
            [
                "61a81bd0.479ae4"
            ]
        ]
    },
    {
        "id": "fb6fdd80.28b96",
        "type": "inject",
        "z": "c1bede4a.2978",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "1ccea504.745fcb"
            ]
        ]
    },
    {
        "id": "74edef35.548a7",
        "type": "debug",
        "z": "c1bede4a.2978",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "8c940027.eb72a",
        "type": "comment",
        "z": "c1bede4a.2978",
        "name": "Get state",
        "info": "",
        "x": 80,
        "y": 80,
        "wires": []
    },
    {
        "id": "4fbd6dcf.0c50a4",
        "type": "comment",
        "z": "c1bede4a.2978",
        "name": "Update Web UI on Interval",
        "info": "",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "5a753b00.e23464",
        "type": "http in",
        "z": "c1bede4a.2978",
        "name": "",
        "url": "/adminpanelapi/state",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "5e06a204.b56ccc"
            ]
        ]
    },
    {
        "id": "b6c8b5e6.91c698",
        "type": "http response",
        "z": "c1bede4a.2978",
        "name": "",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "5e06a204.b56ccc",
        "type": "function",
        "z": "c1bede4a.2978",
        "name": "Get Data",
        "func": "var bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 220,
        "wires": [
            [
                "b6c8b5e6.91c698"
            ]
        ]
    },
    {
        "id": "3668a4da.078b9c",
        "type": "comment",
        "z": "c1bede4a.2978",
        "name": "HTTP API",
        "info": "",
        "x": 80,
        "y": 220,
        "wires": []
    },
    {
        "id": "7671b54f.efc5ac",
        "type": "ui_dropdown",
        "z": "7fe5a0e1.89708",
        "name": "",
        "label": "",
        "place": "Select option",
        "group": "9ef2cc6e.2d348",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Info",
                "value": "info",
                "type": "str"
            },
            {
                "label": "Debug",
                "value": "debug",
                "type": "str"
            },
            {
                "label": "Warn",
                "value": "warn",
                "type": "str"
            },
            {
                "label": "Error",
                "value": "error",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "b31e52e9.e1459"
            ]
        ]
    },
    {
        "id": "b31e52e9.e1459",
        "type": "mqtt out",
        "z": "7fe5a0e1.89708",
        "name": "zigbee2mqtt/in Logging Level",
        "topic": "zigbee2mqtt/bridge/config/log_level",
        "qos": "",
        "retain": "",
        "broker": "7c333ce5.df6d24",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "54dc761b.6fbe88",
        "type": "ui_text_input",
        "z": "95aa6a53.739348",
        "name": "",
        "label": "Device Name",
        "group": "6a6be8fd.014798",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "5",
        "topic": "",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "3205505.0fd5fb"
            ]
        ]
    },
    {
        "id": "1fcfacfb.0fb893",
        "type": "mqtt out",
        "z": "95aa6a53.739348",
        "name": "zigbee2mqtt/in Remove",
        "topic": "zigbee2mqtt/bridge/config/remove",
        "qos": "",
        "retain": "",
        "broker": "7c333ce5.df6d24",
        "x": 1190,
        "y": 60,
        "wires": []
    },
    {
        "id": "a2fbcc54.deb7b",
        "type": "function",
        "z": "95aa6a53.739348",
        "name": "Format Data",
        "func": "flow.set('remove',msg.payload.remove);",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "3205505.0fd5fb",
        "type": "change",
        "z": "95aa6a53.739348",
        "name": "change msg old",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.remove",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 60,
        "wires": [
            [
                "a2fbcc54.deb7b"
            ]
        ]
    },
    {
        "id": "c8ff9137.b1a7",
        "type": "function",
        "z": "95aa6a53.739348",
        "name": "Format Data",
        "func": "var remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = remove;\n\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 60,
        "wires": [
            [
                "1fcfacfb.0fb893"
            ]
        ]
    },
    {
        "id": "3a2355e1.6e39ba",
        "type": "ui_button",
        "z": "95aa6a53.739348",
        "name": "",
        "group": "6a6be8fd.014798",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remove",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 820,
        "y": 60,
        "wires": [
            [
                "c8ff9137.b1a7",
                "f851be30.8e0be"
            ]
        ]
    },
    {
        "id": "c0667f66.da66c",
        "type": "comment",
        "z": "95aa6a53.739348",
        "name": "Remove Device",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "9143cce7.0dbd2",
        "type": "mqtt in",
        "z": "95aa6a53.739348",
        "name": "zigbee2mqtt/logging",
        "topic": "zigbee2mqtt/bridge/log",
        "qos": "2",
        "broker": "cca51e09.a6a1a",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "c630cbdf.7c7b38"
            ]
        ]
    },
    {
        "id": "c630cbdf.7c7b38",
        "type": "json",
        "z": "95aa6a53.739348",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "3c0a4dab.89fad2"
            ]
        ]
    },
    {
        "id": "396fac17.d69714",
        "type": "ui_toast",
        "z": "95aa6a53.739348",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "3c0a4dab.89fad2",
        "type": "function",
        "z": "95aa6a53.739348",
        "name": "Notification",
        "func": "if(msg.payload.type == 'device_removed') {\nvar remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = (\"Deviced removed: \" + msg.payload.message);\n\n// Reset field\n//remove = \"\";\n//flow.set('remove',msg.payload.message);\n\nreturn msg;\n}\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 120,
        "wires": [
            [
                "396fac17.d69714"
            ]
        ]
    },
    {
        "id": "2843a3ba.b2f47c",
        "type": "comment",
        "z": "95aa6a53.739348",
        "name": "Notification",
        "info": "",
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "3c1a1ea3.e99a42",
        "type": "ui_toast",
        "z": "95aa6a53.739348",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 1210,
        "y": 120,
        "wires": []
    },
    {
        "id": "f851be30.8e0be",
        "type": "function",
        "z": "95aa6a53.739348",
        "name": "Notification",
        "func": "var remove = flow.get('remove');\nif (typeof remove === 'undefined' || remove === null || remove === \"\"){\nmsg.payload = \"Enter a device to remove\";\n\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 120,
        "wires": [
            [
                "3c1a1ea3.e99a42"
            ]
        ]
    },
    {
        "id": "fe470f98.e61ba",
        "type": "ui_dropdown",
        "z": "fbcb23f2.0e3f9",
        "name": "",
        "label": "",
        "place": "Select option",
        "group": "b539715f.dbb71",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Allow",
                "value": "true",
                "type": "str"
            },
            {
                "label": "Deny",
                "value": "false",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "d17e446f.2f50e8",
                "295560d3.6e2b1"
            ]
        ]
    },
    {
        "id": "d17e446f.2f50e8",
        "type": "mqtt out",
        "z": "fbcb23f2.0e3f9",
        "name": "zigbee2mqtt/in Join",
        "topic": "zigbee2mqtt/bridge/config/permit_join",
        "qos": "",
        "retain": "",
        "broker": "7c333ce5.df6d24",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "ca6ad803.849b68",
        "type": "ui_toast",
        "z": "fbcb23f2.0e3f9",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "295560d3.6e2b1",
        "type": "function",
        "z": "fbcb23f2.0e3f9",
        "name": "Notification",
        "func": "if (typeof msg.payload !== 'undefined' && msg.payload !== null && msg.payload !== \"\"){\nif (msg.payload == \"false\"){\n    msg.payload = \"Permit join: Deny\";\n}\nif (msg.payload == \"true\"){\n    msg.payload = \"Permit join: Allow\";\n}\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 100,
        "wires": [
            [
                "ca6ad803.849b68"
            ]
        ]
    },
    {
        "id": "7452d61b.544be8",
        "type": "ui_text_input",
        "z": "f88434dd.9bae08",
        "name": "",
        "label": "Old Name",
        "group": "5b8f695a.c9e418",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "5",
        "topic": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "cbd0deaf.a1ccb"
            ]
        ]
    },
    {
        "id": "aee2c6f7.a54f38",
        "type": "ui_text_input",
        "z": "f88434dd.9bae08",
        "name": "",
        "label": "New Name",
        "group": "5b8f695a.c9e418",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "5",
        "topic": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "8faba453.833138"
            ]
        ]
    },
    {
        "id": "b3114312.f4873",
        "type": "mqtt out",
        "z": "f88434dd.9bae08",
        "name": "zigbee2mqtt/in Rename",
        "topic": "zigbee2mqtt/bridge/config/rename",
        "qos": "",
        "retain": "",
        "broker": "7c333ce5.df6d24",
        "x": 1010,
        "y": 140,
        "wires": []
    },
    {
        "id": "e9aa4c44.b9de6",
        "type": "function",
        "z": "f88434dd.9bae08",
        "name": "Format Data",
        "func": "flow.set('oldname',msg.payload.old);",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "cbd0deaf.a1ccb",
        "type": "change",
        "z": "f88434dd.9bae08",
        "name": "change msg old",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.old",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "e9aa4c44.b9de6"
            ]
        ]
    },
    {
        "id": "8faba453.833138",
        "type": "change",
        "z": "f88434dd.9bae08",
        "name": "change msg new",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.new",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "fddc6699.68afc8"
            ]
        ]
    },
    {
        "id": "dfddf649.206d18",
        "type": "function",
        "z": "f88434dd.9bae08",
        "name": "Format Data",
        "func": "var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = {\"old\": oldname, \"new\": newname}\n\n// Reset fields\noldname = \"\";\nnewname = \"\";\nflow.set('oldname',msg.payload.old);\nflow.set('newname',msg.payload.new);\n\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 140,
        "wires": [
            [
                "b3114312.f4873"
            ]
        ]
    },
    {
        "id": "fddc6699.68afc8",
        "type": "function",
        "z": "f88434dd.9bae08",
        "name": "Format Data",
        "func": "flow.set('newname',msg.payload.new);",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "69130f65.44cf9",
        "type": "ui_button",
        "z": "f88434dd.9bae08",
        "name": "",
        "group": "5b8f695a.c9e418",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Rename",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 640,
        "y": 140,
        "wires": [
            [
                "dfddf649.206d18",
                "1b16e3b9.420ffc"
            ]
        ]
    },
    {
        "id": "2a76c377.cdbdac",
        "type": "ui_toast",
        "z": "f88434dd.9bae08",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "System Notification",
        "name": "",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "1b16e3b9.420ffc",
        "type": "function",
        "z": "f88434dd.9bae08",
        "name": "Notification",
        "func": "var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = (\"Rename Device: \" + oldname + \" to \" + newname);\nreturn msg;\n} else {\nmsg.payload = \"Enter device to rename\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "2a76c377.cdbdac"
            ]
        ]
    },
    {
        "id": "f828b418.44b0d8",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 400,
        "wires": [
            [
                "41af2f7.5004fd"
            ],
            [
                "eb77d1e6.a3cf2"
            ]
        ]
    },
    {
        "id": "49468579.05f09c",
        "type": "schedex",
        "z": "363f3bc3.b66854",
        "name": "Timer",
        "suspended": false,
        "lat": "40.791",
        "lon": "-73.9256",
        "ontime": "17:00",
        "ontopic": "payload",
        "onpayload": "ON",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "21:00",
        "offtopic": "payload",
        "offpayload": "OFF",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "f828b418.44b0d8"
            ]
        ]
    },
    {
        "id": "c4a60721.524428",
        "type": "comment",
        "z": "363f3bc3.b66854",
        "name": "Kitchen Grow Light Timer",
        "info": "",
        "x": 150,
        "y": 340,
        "wires": []
    },
    {
        "id": "6cb45c63.555f34",
        "type": "comment",
        "z": "363f3bc3.b66854",
        "name": "Living Room Grow Light Timer",
        "info": "",
        "x": 160,
        "y": 500,
        "wires": []
    },
    {
        "id": "b67205ed.563528",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "Anyone home?",
        "property": "anyone_home_plus_guests",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 540,
        "wires": [
            [
                "906e26c8.c994f8"
            ],
            [
                "5cbefef7.bdedb"
            ]
        ]
    },
    {
        "id": "eeda85d8.62c1c8",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "ON",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.living_room_grow_light\"}",
        "mergecontext": "",
        "x": 730,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "36f770a9.f7daa8",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "OFF",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.living_room_grow_light\"}",
        "mergecontext": "",
        "x": 550,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "6371a749.0abde8",
        "type": "time-range-switch",
        "z": "363f3bc3.b66854",
        "name": "On cycle?",
        "lat": "40.78",
        "lon": "-73.94878",
        "startTime": "09:00",
        "endTime": "21:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 100,
        "y": 540,
        "wires": [
            [
                "b67205ed.563528"
            ],
            [
                "5cbefef7.bdedb"
            ]
        ]
    },
    {
        "id": "9321591e.6d7d18",
        "type": "change",
        "z": "363f3bc3.b66854",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 540,
        "wires": [
            [
                "eeda85d8.62c1c8"
            ]
        ]
    },
    {
        "id": "51fdb2d2.9d7b4c",
        "type": "change",
        "z": "363f3bc3.b66854",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 600,
        "wires": [
            [
                "36f770a9.f7daa8"
            ]
        ]
    },
    {
        "id": "906e26c8.c994f8",
        "type": "api-current-state",
        "z": "363f3bc3.b66854",
        "name": "Already on?",
        "server": "a117d285.11d84",
        "halt_if": "on",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "switch.living_room_grow_light",
        "x": 470,
        "y": 540,
        "wires": [
            [
                "9321591e.6d7d18"
            ]
        ]
    },
    {
        "id": "5cbefef7.bdedb",
        "type": "api-current-state",
        "z": "363f3bc3.b66854",
        "name": "Already off?",
        "server": "a117d285.11d84",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "switch.living_room_grow_light",
        "x": 290,
        "y": 600,
        "wires": [
            [
                "51fdb2d2.9d7b4c"
            ]
        ]
    },
    {
        "id": "b6332bf1.a5b018",
        "type": "alexa-home",
        "z": "7538960a.bfe8b8",
        "conf": "8a0c2cc0.358c6",
        "device": "36807",
        "acknoledge": true,
        "name": "Mood Lights",
        "topic": "",
        "x": 90,
        "y": 1100,
        "wires": [
            [
                "550c3f4c.b557e"
            ]
        ]
    },
    {
        "id": "550c3f4c.b557e",
        "type": "switch",
        "z": "7538960a.bfe8b8",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetColorRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 1100,
        "wires": [
            [
                "c9d26c1f.73a4d",
                "acc675ee.7a1488"
            ],
            [
                "de8274f6.406668",
                "919acca.233c83"
            ],
            [
                "6786f4d4.c1fe2c"
            ]
        ]
    },
    {
        "id": "c9d26c1f.73a4d",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Lights On",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{\"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 400,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "de8274f6.406668",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Switch Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 410,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "b8941b2d.c00b28",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Set Color",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_on",
        "data": "{}",
        "mergecontext": "",
        "x": 560,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "6786f4d4.c1fe2c",
        "type": "function",
        "z": "7538960a.bfe8b8",
        "name": "Parse HS",
        "func": "msg.payload.data = {\n    \"entity_id\" : \"group.moodlights\",\n    \"hs_color\": [\n        msg.payload.hue,\n        msg.payload.saturation * 100\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1180,
        "wires": [
            [
                "b8941b2d.c00b28"
            ]
        ]
    },
    {
        "id": "acc675ee.7a1488",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Switch On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 410,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "919acca.233c83",
        "type": "api-call-service",
        "z": "7538960a.bfe8b8",
        "name": "Lights Off",
        "server": "a117d285.11d84",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\": \"group.moodlights\" }",
        "mergecontext": "",
        "x": 400,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "a5c728e1.ad5ea8",
        "type": "debug",
        "z": "850c061.bcd9ef8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 500,
        "y": 1240,
        "wires": []
    },
    {
        "id": "63cbbc39.007134",
        "type": "api-current-state",
        "z": "850c061.bcd9ef8",
        "name": "",
        "server": "a117d285.11d84",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "light.hoplite",
        "x": 330,
        "y": 1220,
        "wires": [
            [
                "a5c728e1.ad5ea8"
            ]
        ]
    },
    {
        "id": "fbcbd090.3d288",
        "type": "inject",
        "z": "850c061.bcd9ef8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 1220,
        "wires": [
            [
                "63cbbc39.007134"
            ]
        ]
    },
    {
        "id": "923a691c.6bafd8",
        "type": "change",
        "z": "dc9e57a8.6747d8",
        "name": "Status?",
        "rules": [
            {
                "t": "set",
                "p": "junie_home",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "9baa9ee1.725cd"
            ]
        ]
    },
    {
        "id": "7c5f63cb.504dfc",
        "type": "function",
        "z": "dc9e57a8.6747d8",
        "name": "Presence?",
        "func": "msg.payload = (msg.payload > 0.1) ? \"home\" : \"away\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "923a691c.6bafd8"
            ]
        ]
    },
    {
        "id": "9baa9ee1.725cd",
        "type": "function",
        "z": "dc9e57a8.6747d8",
        "name": "Anyone home plus guests?",
        "func": "\n// Returns true if either Mickey or Maggie is home\nmsg.payload = [\n   global.get(\"mickey_home\"),\n   global.get(\"maggie_home\"),\n   global.get(\"juniee_home\"),\n].some(function(x) { \n    return x === \"home\"\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "4a89f821.f97048"
            ]
        ]
    },
    {
        "id": "4a89f821.f97048",
        "type": "change",
        "z": "dc9e57a8.6747d8",
        "name": "Guest Status?",
        "rules": [
            {
                "t": "set",
                "p": "anyone_home_plus_guests",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2f6122e0.1312be",
        "type": "inject",
        "z": "997b60db.958c4",
        "name": "Home? 2 min Ping",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 650,
        "y": 360,
        "wires": [
            [
                "c3563fbb.ff7c7"
            ]
        ]
    },
    {
        "id": "708c68db.05f458",
        "type": "comment",
        "z": "363f3bc3.b66854",
        "name": "Soldering Iron Safety",
        "info": "",
        "x": 140,
        "y": 720,
        "wires": []
    },
    {
        "id": "71d3851f.50562c",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "Mickey home?",
        "property": "mickey_home",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "away",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 760,
        "wires": [
            [
                "13c42c9.bafcdd3"
            ],
            [
                "7ac22ea.09aded"
            ]
        ]
    },
    {
        "id": "a6f78eb9.4f9e4",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "OFF",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.soldering_iron\"}",
        "mergecontext": "",
        "x": 750,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "13c42c9.bafcdd3",
        "type": "api-current-state",
        "z": "363f3bc3.b66854",
        "name": "Office Motion",
        "server": "a117d285.11d84",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "sensor.office_motion",
        "x": 580,
        "y": 740,
        "wires": [
            [
                "f84222fa.8e795"
            ]
        ]
    },
    {
        "id": "f84222fa.8e795",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "Motion?",
        "property": "mickey_home",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "True",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "False",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 740,
        "wires": [
            [],
            [
                "94f4b4b5.61d1d8"
            ]
        ]
    },
    {
        "id": "94f4b4b5.61d1d8",
        "type": "delay",
        "z": "363f3bc3.b66854",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 800,
        "wires": [
            [
                "7ac22ea.09aded"
            ]
        ]
    },
    {
        "id": "65cbe8fe.b5f108",
        "type": "poll-state",
        "z": "363f3bc3.b66854",
        "name": "Soldering Iron",
        "server": "a117d285.11d84",
        "updateinterval": "10",
        "outputinitially": true,
        "outputonchanged": true,
        "entity_id": "switch.soldering_iron",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "4777f77.a538f08"
            ]
        ]
    },
    {
        "id": "4777f77.a538f08",
        "type": "switch",
        "z": "363f3bc3.b66854",
        "name": "On?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 760,
        "wires": [
            [
                "71d3851f.50562c"
            ],
            []
        ]
    },
    {
        "id": "7ac22ea.09aded",
        "type": "change",
        "z": "363f3bc3.b66854",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 800,
        "wires": [
            [
                "a6f78eb9.4f9e4"
            ]
        ]
    },
    {
        "id": "41af2f7.5004fd",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "Grow Light On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\":\"switch.grow_light\"}",
        "render_data": false,
        "mergecontext": "",
        "x": 440,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "eb77d1e6.a3cf2",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "Grow Light Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.grow_light\"}",
        "mergecontext": "",
        "x": 440,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ee547ffa.9fe78",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "Petcube Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.petcube\"}",
        "mergecontext": "",
        "x": 430,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f8ea6fa7.56e3",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "Petcube On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.petcube\"}",
        "mergecontext": "",
        "x": 430,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e87da622.4e07b8",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "Dohm Off",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{\"entity_id\": \"switch.dohm\"}",
        "mergecontext": "",
        "x": 540,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "80d25265.805b1",
        "type": "api-call-service",
        "z": "363f3bc3.b66854",
        "name": "Dohm On",
        "server": "a117d285.11d84",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{\"entity_id\": \"switch.dohm\"}",
        "mergecontext": "",
        "x": 540,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2fbcdb52.1f0934",
        "type": "poll-state",
        "z": "dc9e57a8.6747d8",
        "name": "Junie Tracker",
        "server": "a117d285.11d84",
        "updateinterval": "10",
        "outputinitially": true,
        "outputonchanged": false,
        "entity_id": "sensor.junie_iphone_overall_presence",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "7c5f63cb.504dfc"
            ]
        ]
    },
    {
        "id": "a27cb2ed.63f79",
        "type": "poll-state",
        "z": "dc9e57a8.6747d8",
        "name": "Maggie Tracker",
        "server": "a117d285.11d84",
        "updateinterval": "10",
        "outputinitially": true,
        "outputonchanged": false,
        "entity_id": "sensor.maggie_iphone_overall_presence",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "388cb5b7.ec768a"
            ]
        ]
    },
    {
        "id": "d58b8fa8.232a5",
        "type": "poll-state",
        "z": "dc9e57a8.6747d8",
        "name": "Mickey Tracker",
        "server": "a117d285.11d84",
        "updateinterval": "10",
        "outputinitially": true,
        "outputonchanged": false,
        "entity_id": "sensor.mickey_iphone_overall_presence",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "ff45bd89.9bded"
            ]
        ]
    }
]